openapi: 3.0.1
info:
  title: auth-shop
  description: ' 인증(auth) 관련 shop API입니다'
  version: "1.0"
servers:
- url: https://shop-api.shopby.co.kr
tags:
- name: Authentication
  description: 인증
- name: Captcha
  description: 캡챠
- name: KCPCertification
  description: KCP 본인인증
- name: OAuthCallback
  description: Oauth 인증
paths:
  /authentications:
    get:
      tags:
      - Authentication
      summary: 인증번호 확인하기
      description: |2

        ## 부가설명 및 특이사항
        연락처로 전달받은 인증번호를 확인하는 API 입니다
      operationId: get-authentications
      parameters:
      - name: type
        in: query
        description: "인증 타입 (SMS: SMS 인증, EMAIL: 이메일 인증)"
        required: true
        schema:
          type: string
        example: EMAIL
      - name: usage
        in: query
        description: "사용 용도 (FIND_ID: 아이디 찾기, FIND_PASSWORD: 비밀번호 찾기, RELEASE_DORMANT:\
          \ 휴면 해제, JOIN: 가입인증, CHANGE_ID: 아이디 변경, CHANGE_EMAIL: 이메일 변경, CHANGE_MOBILE_NO:\
          \ 휴대폰번호 변경)"
        required: true
        schema:
          type: string
        example: FIND_ID
      - name: certificatedNumber
        in: query
        description: 인증 번호
        required: true
        schema:
          type: string
        example: "123456"
      - name: memberNo
        in: query
        description: 회원 번호
        required: false
        schema:
          type: number
      - name: notiAccount
        in: query
        description: 이메일 주소 | 휴대폰 번호
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications486364631'
              examples:
                인증번호 확인 실패 - 횟수 초과:
                  value: "{\"timestamp\":\"2026-06-10T17:56:50.283558555\",\"path\"\
                    :\"GET /authentications\",\"status\":400,\"error\":\"Bad Request\"\
                    ,\"code\":\"CP9001\",\"key\":\"auth:EMUSE001:test@test.com\",\"\
                    message\":\"인증을 10회 이상 실패하였습니다. 자동등록방지 문자 입력 후 다시 시도해주세요.\"}"
    post:
      tags:
      - Authentication
      summary: 인증번호 발송하기
      description: |2

        ## 부가설명
        회원의 연락처 또는 입력한 연락처로 인증번호를 발송하는 API 입니다

        1. 회원번호로 보내는 경우, 해당 회원번호를 가진 회원의 연락처로 인증번호를 발송합니다.
        2. 연락처(notiAccount)와 회원이름을 보내는 경우, 해당 정보와 일치하는 회원이 있는 경우, 입력한 연락처로 인증번호를 발송합니다.

        ## 주의사항
        만약, 회원번호 + 연락처 & 이름 을 보내는 경우, 회원번호를 우선하여 인증번호를 발송합니다.
        따라서, 회원번호 / 연락처 & 이름 2가지 경우 중 하나만 사용해야합니다.
      operationId: SendAuthenticationNumber
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentications-1924642664'
            examples:
              SendAuthenticationNumber:
                value: "{\"type\":\"EMAIL\",\"usage\":\"FIND_ID\",\"memberNo\":1001,\"\
                  notiAccount\":\"01012345678\",\"memberName\":\"홍길동\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications-sms1664299215'
              examples:
                SendAuthenticationNumber:
                  value: "{\"remainTime\":600}"
  /authentications/email:
    get:
      tags:
      - Authentication
      summary: 이메일로 전달받은 인증코드 확인하기
      description: |2

        ## 부가설명 및 특이사항
        이메일로 전달받은 인증번호를 확인하는 API 입니다
      operationId: get-authentications-email
      parameters:
      - name: usage
        in: query
        description: "사용 용도 (FIND_ID: 아이디 찾기, FIND_PASSWORD: 비밀번호 찾기, RELEASE_DORMANT:\
          \ 휴면 해제, JOIN_URI: 가입인증)"
        required: true
        schema:
          type: string
        example: FIND_ID
      - name: email
        in: query
        description: 이메일 주소
        required: true
        schema:
          type: string
        example: gildong@nhn.com
      - name: certificatedNumber
        in: query
        description: 인증 번호
        required: true
        schema:
          type: string
        example: "123456"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications-email237551932'
              examples:
                get-authentications-email:
                  value: "{\"result\":true}"
    post:
      tags:
      - Authentication
      summary: 이메일로 인증번호 발송하기
      description: |2

        ## 부가설명 및 특이사항
        이메일로 인증번호를 발송하는 API 입니다
      operationId: post-authentications-email
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentications-email378641031'
            examples:
              post-authentications-email:
                value: "{\"usage\":\"FIND_ID\",\"email\":\"example@nhn.com\",\"memberName\"\
                  :\"홍길동\",\"uri\":\"https://www.gildong.com\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications-sms1664299215'
              examples:
                post-authentications-email:
                  value: "{\"remainTime\":600}"
  /authentications/sms:
    get:
      tags:
      - Authentication
      summary: SMS로 전달받은 인증코드 확인하기
      description: |2

        ## 부가설명 및 특이사항
        휴대전화번호로 전달받은 인증번호를 확인하는 API 입니다
      operationId: get-authentications-sms
      parameters:
      - name: usage
        in: query
        description: "사용 용도 (FIND_ID: 아이디 찾기, FIND_PASSWORD: 비밀번호 찾기, RELEASE_DORMANT:\
          \ 휴면 해제, JOIN: 가입인증, CHANGE_MOBILE_NO: 휴대폰번호 변경)"
        required: true
        schema:
          type: string
        example: CHANGE_MOBILE_NO
      - name: mobileNo
        in: query
        description: 휴대전화 번호
        required: true
        schema:
          type: string
        example: "01012341234"
      - name: key
        in: query
        description: 인증 번호
        required: true
        schema:
          type: string
        example: "123456"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications-email237551932'
              examples:
                get-authentications-sms:
                  value: "{\"result\":true}"
    post:
      tags:
      - Authentication
      summary: 휴대폰 점유 인증을 위해 인증코드(6자리) SMS 발송하기
      description: |2

        ## 부가설명 및 특이사항
        휴대전화번호로 인증번호를 발송하는 API 입니다
      operationId: post-authentications-sms
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentications-sms-754854309'
            examples:
              post-authentications-sms:
                value: "{\"usage\":\"FIND_ID\",\"mobileNo\":\"01012345678\",\"memberName\"\
                  :\"홍길동\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentications-sms1664299215'
              examples:
                post-authentications-sms:
                  value: "{\"remainTime\":600}"
  /captcha/image:
    get:
      tags:
      - Captcha
      summary: 캡챠 이미지 생성하기
      description: |2

        ## 부가설명 및 특이사항
        이미지 캡챠 생성을 위한 API 입니다.

        캡챠 인증 대상은 캡챠 조회 시점부터 KEY + ID 기준으로 10분 동안 유지 됩니다.
      operationId: get-captcha-image
      parameters:
      - name: key
        in: query
        description: 캡챠 구분키
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/captcha-image258801235'
              examples:
                get-captcha-image:
                  value: "{\"url\":\"https://kr1-captcha.api.nhncloudservice.com/captcha/v1.0/keys/TEST/img\"\
                    }"
  /captcha/verify:
    post:
      tags:
      - Captcha
      summary: 캡챠 인증코드 확인하기
      description: |2

        ## 부가설명 및 특이사항
        캡챠 인증코드 확인하기 위한 API 입니다.
      operationId: post-captcha-verify
      parameters:
      - name: code
        in: query
        description: 캡챠 인증코드
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: 캡챠 구분키
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "204":
          description: "204"
  /kcp/age-verification:
    post:
      tags:
      - KCPCertification
      summary: 회원 성인인증하기
      description: |2

        ## 부가설명 및 특이사항
        회원 성인인증 여부를 갱신하기 위한 API 입니다.

        * KCP 본인인증 서비스를 이용해 회원의 성인인증 여부를 갱신합니다.
        * 한 번 성인인증을 완료한 회원은 인증을 완료한 시점부터 1년동안 인증 기록이 유지됩니다.
        * 기간 내에 다시 인증에 성공할 경우 성인인증 일시와 만료일은 갱신됩니다.
      operationId: post-kcp-age-verification
      parameters:
      - name: key
        in: query
        description: 본인인증 키
        required: true
        schema:
          type: string
        example: "20210101000000"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kcp-age-verification-835699881'
              examples:
                post-kcp-age-verification:
                  value: "{\"birthday\":\"20000101\",\"verified\":true,\"verifiedDateTime\"\
                    :\"2026-06-10 17:56:53\"}"
  /kcp/id-verification/form:
    get:
      tags:
      - KCPCertification
      summary: KCP 본인인증 요청하기
      description: |2

        ## 부가설명 및 특이사항
        KCP 본인인증을 위한 form을 생성하기 위한 API 입니다

        자세한 내용은 [KCP 본인인증 가이드](https://workspace.nhn-commerce.com/guide/skin/dev-cover/verify?lv=11) 및 [테스트 페이지](https://gitlab-themes.shopby.co.kr/NHN-COMMERCE/kcp-front-test)를 참고 부탁드립니다.
      operationId: get-kcp-id-verification-form
      parameters:
      - name: returnUrl
        in: query
        description: 본인인증 완료 후 호출할 클라이언트 페이지
        required: true
        schema:
          type: string
        example: http://localhost:8080/path/to/comeback
      - name: domestic
        in: query
        description: "내국인 여부 (true : 내국인, false : 외국인 , null : 내국인 전용 QR 신청 본인인증)"
        required: false
        schema:
          type: string
        example: "false"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/kcp-id-verification-form1116014589'
              examples:
                get-kcp-id-verification-form:
                  value: |
                    <form name="form_auth" id="form_auth" method="post" action="https://testcert.kcp.co.kr/kcp_cert/cert_view.jsp" target="auth_popup">
                        <input type="hidden" name="site_cd" value="ABCDE"/>
                        <input type="hidden" name="ordr_idxx" value="20210101000000"/>
                        <input type="hidden" name="req_tx" value="cert"/>
                        <input type="hidden" name="cert_method" value="01"/>
                        <input type="hidden" name="up_hash" value="ABCD1234"/>
                        <input type="hidden" name="cert_otp_use" value="Y"/>
                        <input type="hidden" name="cert_able_yn" value=""/>
                        <input type="hidden" name="web_siteid" value=""/>
                        <input type="hidden" name="param_opt_1" value="http://localhost:8080/path/to/comeback"/>
                        <input type="hidden" name="param_opt_2" value="option2val"/>
                        <input type="hidden" name="Ret_URL" value="https://alpha-shop-api.shopby.co.kr/kcp/id-verification"/>
                        <input type="hidden" name="web_siteid_hashYN" value=""/>
                        <input type="hidden" name="cert_enc_use_ext" value="Y"/>
                        <input type="hidden" name="kcp_cert_lib_ver" value="CTCLI_J_1_0_6"/>
                        <input type="hidden" name="user_name" value=""/>
                        <input type="hidden" name="year" value=""/>
                        <input type="hidden" name="month" value=""/>
                        <input type="hidden" name="day" value=""/>
                        <input type="hidden" name="sex_code" value=""/>
                        <input type="hidden" name="local_code" value=""/>
                    </form>
  /kcp/id-verification/response:
    get:
      tags:
      - KCPCertification
      summary: KCP 본인인증 결과 조회하기
      description: |2

        ## 부가설명 및 특이사항
        KCP 본인인증 결과를 확인하는 API 입니다
      operationId: get-kcp-id-verification-response
      parameters:
      - name: key
        in: query
        description: 본인인증 키
        required: true
        schema:
          type: string
        example: "20210101000000"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kcp-id-verification-response-1362057927'
              examples:
                get-kcp-id-verification-response:
                  value: "{\"phone\":\"01012345678\",\"commId\":\"SKT\",\"name\":\"\
                    홍길동\",\"birthday\":\"20000101\",\"sexCode\":\"01\",\"localCode\"\
                    :\"01\",\"ci\":\"20210101000000\",\"di\":\"\"}"
  /oauth/begin:
    get:
      tags:
      - OAuthCallback
      summary: OAuth 로그인 페이지 열기
      description: "\n## 부가설명 및 특이사항\n간편 로그인을 위한 로그인 URL을 조회한 후 해당 주소로 리다이렉트하는 API\
        \ 입니다.\n \n* /oauth/begin -> 간편 로그인 페이지 -> /oauth/callback -> nextUrl 순으로\
        \ 리다이렉트됩니다.\n \n* nextUrl을 이용하여 로그인 성공 후 돌아갈 callback URL을 설정할 수 있습니다.\n \n\
        * 쇼핑몰 운영자가 기본 도메인을 등록한 경우 /로 시작하는 상대 주소를 사용할 수 있고, 그 외의 경우에는 올바른 HTTP URL을\
        \ 전달해야 합니다.\n"
      operationId: get-oauth-begin
      parameters:
      - name: clientId
        in: query
        description: API 사용을 위한 클라이언트 아이디
        required: true
        schema:
          type: string
      - name: provider
        in: query
        description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line, ncp_facebook,\
          \ ncp_payco, ncp_apple, ncp_google) "
        required: true
        schema:
          type: string
      - name: nextUrl
        in: query
        description: 로그인 성공 이후 로드할 페이지 주소 (callback URL)
        required: false
        schema:
          type: string
        example: /
      - name: platform
        in: query
        description: "클라이언트 플랫폼(PC, MOBILE_WEB, AOS, IOS)"
        required: false
        schema:
          type: string
        example: PC
      - name: state
        in: query
        description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰
        required: false
        schema:
          type: string
      responses:
        "303":
          description: "303"
          headers:
            Location:
              description: OAuth2 프로바이더 로그인 URL^|https://id.payco.com/oauth2.0/oauthLogin.nhn
              schema:
                type: string
  /oauth/callback:
    get:
      tags:
      - OAuthCallback
      summary: OAuth callback 처리하기(AccessToken 발급하기)
      description: "\n## 부가설명 및 특이사항\nOpenId 회원의 AccessToken 발급하기 위한 API 입니다.\n \n\
        * /oauth/begin -> 간편 로그인 페이지 -> /oauth/callback -> nextUrl 순으로 리다이렉트됩니다.\n\
        \ \n* 간편 로그인 성공후 받은 인증 코드를 통해 회원 토큰을 발급하고, 리다이렉트될 nexUrl의 쿼리에 토큰 정보를 담아 전달\
        합니다.\n \n* ex) https://test.shopby.co.kr?accessToken=test-access-token&expireIn=3599&daysFromLastPasswordChange=17\n\
        \ \n* 쿼리 파라미터는 /oauth/begin에서 정의한 값이 간편 로그인 페이지를 통해 넘어와야하며, 임의로 변경해서는 안됩니다\
        .\n"
      operationId: get-oauth-callback
      parameters:
      - name: clientId
        in: query
        description: 클라이언트 아이디
        required: true
        schema:
          type: string
      - name: provider
        in: query
        description: OAuth2 프로바이더
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: 인증 코드
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰
        required: false
        schema:
          type: string
      - name: nextUrl
        in: query
        description: 로그인 성공 이후 로드할 페이지 주소 (callback URL)
        required: true
        schema:
          type: string
      responses:
        "303":
          description: "303"
          headers:
            Location:
              description: 토큰과 함께 리다이렉트될 URL
              schema:
                type: string
  /oauth/login-url:
    get:
      tags:
      - Authentication
      summary: OpenId 로그인 url 조회하기
      description: |2

        ## 부가설명 및 특이사항
        OpenId 로그인 url 조회하기 위한 API 입니다.

        ## 화면예시
        [![login URL](http://image.toast.com/aaaaahb/api-description/member/authentication/post_oauth_login-url.png)](http://image.toast.com/aaaaahb/api-description/member/authentication/post_oauth_login-url.png)
      operationId: get-oauth-login-url
      parameters:
      - name: provider
        in: query
        description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line, ncp_facebook,\
          \ ncp_payco, ncp_apple, ncp_google) "
        required: true
        schema:
          type: string
        example: ncp_naver
      - name: redirectUri
        in: query
        description: redirect URL
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰
        required: false
        schema:
          type: string
      - name: reauthenticate
        in: query
        description: 간편 로그인
        required: false
        schema:
          type: string
        example: "false"
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-login-url-1249944640'
              examples:
                get-oauth-login-url:
                  value: "{\"loginUrl\":\"https://nid.naver.com/oauth2.0/authorize\"\
                    }"
  /oauth/openid:
    post:
      tags:
      - Authentication
      summary: OpenId AccessToken 발급하기 - POST 방식
      description: "\n## 부가설명 및 특이사항\nOpenId 회원의 AccessToken 발급하기 위한 post 방식의 API\
        \ 입니다.\n\n* 자동 로그인을 위해 **keepLogin**을 **true**로 요청하면 유효 기간이 90일인 토큰이 생성됩니다\
        .\n* 유효 기간이 길기 때문에 토큰 탈취시 보안에 취약할 수 있습니다.\n\n외부 IdP(Identity Provider, 아이디\
        \ 제공자)를 이용하는 회원이 로그인할 때 사용합니다.\n\n지원하는 IdP 크게 (1) 간편 로그인을 지원하는 IdP, (2) 자체\
        \ 연동형 IdP(자체적으로 회원 서비스를 지원하는 경우 사용)로 나뉩니다.\n\n## (1) 간편 로그인\n각 개발자센터에서 쇼핑몰\
        에 맞는 올바른 설정을 먼저 진행해야합니다. \n\n[간편 로그인 가이드](https://workspace-help.nhn-commerce.com/aurora-skinguide/api-1/open-id)\n\
        \n## 간편 로그인 유형별 필수값\n\n| provider | code  | redirectUri | state |\n| :------:\
        \ | :---: | :---: | :---: |\n| ncp_naver    |   O   |   X   |   △   |\n| ncp_kakao\
        \    |   O   |   O   |   X   |\n| ncp_kakao-sync    |   O   |   X   |   △\
        \   |\n| ncp_line     |   O   |   O   |   O   |\n| ncp_facebook |   O   |\
        \   O   |   X   |\n| ncp_payco    |   O   |   X   |   △   |\n| ncp_apple \
        \   |   O   |   △   |   △   |\n| ncp_google    |   O   |   O   |   X   |\n\
        | app-card    |   O   |   X   |   O   |\n\n## App Card 로그인의 경우, code 에 trnasNo,\
        \ state 에 token 을 전달해야합니다.\n\n## 참고\n\n- [네이버 개발자센터](https://developers.naver.com/main)\n\
        - [카카오 개발자센터](https://developers.kakao.com/)\n- [라인 개발자센터](https://developers.line.biz/en/)\n\
        - [페이스북 개발자센터](https://developers.facebook.com/)\n- [페이코 개발자센터](https://developers.payco.com/)\n\
        - [애플 개발자센터](https://developer.apple.com/)\n- [구글 개발자센터](https://developers.google.com/)\n\
        \n## (2) 자체 회원 연동 (엔터프라이즈 전용)\n자세한 사항은 아래 가이드와 서비스 담당자에게 문의해주시길 바랍니다.\n\n\
        [자체회원 연동 가이드](https://workspace-help.nhn-commerce.com/recommendedcontents/contents/prm_member_guide)\n\
        \n## 자체 회원 연동 필수값\n\n| provider | openAccessToken |\n| :------: | :---: |\n\
        | ncpstore |  O   |\n"
      operationId: post-oauth-openid
      parameters:
      - name: trackingKey
        in: query
        description: 쇼핑채널링-추적키
        required: false
        schema:
          type: string
      - name: reauthenticate
        in: query
        description: 재인증 여부
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oauth-openid1502636831'
            examples:
              post-oauth-openid:
                value: "{\"provider\":\"ncp_payco\",\"code\":\"12345\",\"openAccessToken\"\
                  :null,\"redirectUri\":null,\"state\":null,\"keepLogin\":false}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-openid-link771608533'
              examples:
                post-oauth-openid:
                  value: "{\"accessToken\":\"test-access-token\",\"expireIn\":3599,\"\
                    dormantMemberResponse\":null,\"daysFromLastPasswordChange\":0,\"\
                    provider\":\"ncp_payco\",\"ordinaryMemberResponse\":null,\"isInitialSync\"\
                    :false}"
    delete:
      tags:
      - Authentication
      summary: SNS 연동 해제하기
      description: |2

        ## 부가설명 및 특이사항
        SNS연동을 해제하는 API 입니다.

        ## 참고

        - [네이버 개발자센터](https://developers.naver.com/main)
        - [카카오 개발자센터](https://developers.kakao.com/)
        - [라인 개발자센터](https://developers.line.biz/en/)
        - [페이스북 개발자센터](https://developers.facebook.com/)
        - [페이코 개발자센터](https://developers.payco.com/)
        - [애플 개발자센터](https://developer.apple.com/)
        - [구글 개발자센터](https://developers.google.com/)
      operationId: delete-oauth-openid
      parameters:
      - name: provider
        in: query
        description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line, ncp_facebook,\
          \ ncp_payco, ncp_apple, ncp_google) "
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "204":
          description: "204"
  /oauth/token:
    post:
      tags:
      - Authentication
      summary: AccessToken 발급하기
      description: |2-

        ## 부가설명 및 특이사항
        * 샵바이 회원의 AccessToken 발급하기 위한 API 입니다.

        * 회원 엑세스 토큰의 기본 유효 기간은 12시간이며,

        * 자동 로그인을 위해 **keepLogin**을 **true**로 요청하면 유효 기간이 90일인 토큰이 생성됩니다.

        * 유효 기간이 길기 때문에 토큰 탈취시 보안에 취약할 수 있습니다.

        ### 캡챠(추후 서비스 제공 예정)
        * 10회 이상 로그인 실패 등 사유로 로그인이 실패할 경우, 캡챠 기능에 사용할 수 있는 key 값이 에러와 함께 리턴됩니다.

        * 해당 key 값을 이용하여, 차후 캡챠 기능에 사용할 수 있습니다.

        *휴면계정일 경우, dormantMemberResponse에 실린 정보를 이용하여, 휴면 해제에 활용할 수 있습니다.
      operationId: post-oauth-token-dormant
      parameters:
      - name: trackingKey
        in: query
        description: 쇼핑채널링-추적키
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oauth-token1261496601'
            examples:
              post-oauth-token-dormant:
                value: "{\"memberId\":\"gildong\",\"password\":\"testpw123\",\"keepLogin\"\
                  :true,\"captcha\":null,\"provider\":null}"
              post-oauth-token-1-success:
                value: "{\"memberId\":\"gildong\",\"password\":\"testpw123\",\"keepLogin\"\
                  :true,\"captcha\":null,\"provider\":null}"
              post-oauth-token-3-error-captcha-required:
                value: "{\"memberId\":\"gildong\",\"password\":\"testpw123\",\"keepLogin\"\
                  :true,\"captcha\":null,\"provider\":null}"
              post-oauth-token-2-error-exceed-try:
                value: "{\"memberId\":\"gildong\",\"password\":\"testpw123\",\"keepLogin\"\
                  :true,\"captcha\":null,\"provider\":null}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-token1064599'
              examples:
                post-oauth-token-dormant:
                  value: "{\"accessToken\":\"test-access-token\",\"expireIn\":3599,\"\
                    dormantMemberResponse\":{\"memberName\":\"name\",\"mobileNo\"\
                    :\"mobile\",\"email\":\"email\"},\"daysFromLastPasswordChange\"\
                    :25,\"passwordChangeRequired\":false}"
                post-oauth-token-1-success:
                  value: "{\"accessToken\":\"test-access-token\",\"expireIn\":3599,\"\
                    dormantMemberResponse\":{\"memberName\":\"name\",\"mobileNo\"\
                    :\"mobile\",\"email\":\"email\"},\"daysFromLastPasswordChange\"\
                    :25,\"passwordChangeRequired\":false}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-token-1996683314'
              examples:
                post-oauth-token-3-error-captcha-required:
                  value: "{\"timestamp\":\"2026-06-10T17:56:48.871354364\",\"path\"\
                    :\"POST /oauth/token\",\"status\":400,\"error\":\"Bad Request\"\
                    ,\"code\":\"CP9001\",\"key\":\"login:10:id\",\"message\":\"인증을\
                    \ 10회 이상 실패하였습니다. 자동등록방지 문자 입력 후 다시 시도해주세요.\"}"
                post-oauth-token-2-error-exceed-try:
                  value: "{\"timestamp\":\"2026-06-10T17:56:49.10405033\",\"path\"\
                    :\"POST /oauth/token\",\"status\":400,\"error\":\"Bad Request\"\
                    ,\"code\":\"M0306\",\"key\":\"login:10:id\",\"message\":\"로그인을\
                    \ 10회 이상 실패하였습니다. 자동등록방지 문자 입력 후 다시 시도해주세요.\"}"
    delete:
      tags:
      - Authentication
      summary: AccessToken 반환하기
      description: |2

        ## 부가설명 및 특이사항
        AccessToken 만료 처리(ncp, payco 회원 동일)를 하기 위한 API 입니다.

        회원의 엑세스 토큰을 삭제하여 로그아웃합니다.
      operationId: RevokeToken
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "204":
          description: "204"
  /oauth/openid/link:
    get:
      tags:
      - Authentication
      summary: SNS 연동하기
      description: "\n## 부가설명 및 특이사항\n일반 회원에 SNS 연동을 하는 API 입니다.\n\n외부 IdP(Identity\
        \ Provider, 아이디 제공자)를 이용하는 회원이 로그인할 때 사용합니다.\n\n## 간편 로그인\n각 개발자센터에서 쇼핑몰에\
        \ 맞는 올바른 설정을 먼저 진행해야합니다. \n\n[간편 로그인 가이드](https://workspace.nhn-commerce.com/guide/skin/dev-cover/easy-login?lv=11)\n\
        \n## 간편 로그인 유형별 필수값\n\n| provider | code  | redirectUri | state |\n| :------:\
        \ | :---: | :---: | :---: |\n| ncp_naver    |   O   |   X   |   △   |\n| ncp_kakao\
        \    |   O   |   O   |   X   |\n| ncp_kakao-sync    |   O   |   X   |   △\
        \   |\n| ncp_line     |   O   |   O   |   O   |\n| ncp_facebook |   O   |\
        \   O   |   X   |\n| ncp_payco    |   O   |   X   |   △   |\n| ncp_apple \
        \   |   O   |   △   |   △   |\n| ncp_google    |   O   |   O   |   X   |\n\
        \n## 참고\n\n- [네이버 개발자센터](https://developers.naver.com/main)\n- [카카오 개발자센터\
        ](https://developers.kakao.com/)\n- [라인 개발자센터](https://developers.line.biz/en/)\n\
        - [페이스북 개발자센터](https://developers.facebook.com/)\n- [페이코 개발자센터](https://developers.payco.com/)\n\
        - [애플 개발자센터](https://developer.apple.com/)\n- [구글 개발자센터](https://developers.google.com/)\n\
        \n"
      operationId: link-oauth-openid
      parameters:
      - name: provider
        in: query
        description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line, ncp_facebook,\
          \ ncp_payco, ncp_apple, ncp_google) "
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: "IdP(Identity Provider, 아이디 제공자)로부터 받은 인증코드(authorization code)\
          \ - 간편 로그인 사용시 필수"
        required: false
        schema:
          type: string
      - name: redirectUri
        in: query
        description: 개발자센터에 등록된 redirect URI
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰
        required: false
        schema:
          type: string
      - name: keepLogin
        in: query
        description: 자동로그인 여부(**true**로 요청하면 유효 기간이 90일인 토큰이 생성)
        required: false
        schema:
          type: string
      - name: platformType
        in: query
        description: "클라이언트 플랫폼(PC, MOBILE_WEB, AOS, IOS)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-openid-link771608533'
              examples:
                link-oauth-openid:
                  value: "{\"accessToken\":\"test-access-token\",\"expireIn\":3599,\"\
                    dormantMemberResponse\":null,\"daysFromLastPasswordChange\":0,\"\
                    provider\":\"ncp_payco\",\"ordinaryMemberResponse\":null,\"isInitialSync\"\
                    :false}"
  /oauth/openid/list:
    get:
      tags:
      - OAuthCallback
      summary: SNS 연동 내역 조회
      description: |2+

        ## 부가설명 및 특이사항
        연동된 SNS를 조회하는 API 입니다.

      operationId: get-oauth-list
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-openid-list-1563013012'
              examples:
                get-oauth-list:
                  value: "{\"providers\":[{\"memberProviderNo\":1,\"providerType\"\
                    :\"facebook\",\"deleteYn\":false,\"registerYmdt\":\"2023-05-30T14:30:23\"\
                    ,\"updatedYmdt\":\"2023-05-31T14:30:23\"},{\"memberProviderNo\"\
                    :2,\"providerType\":\"kakao\",\"deleteYn\":false,\"registerYmdt\"\
                    :\"2023-05-31T14:30:23\",\"updatedYmdt\":\"2023-05-31T15:30:23\"\
                    }]}"
  /oauth/openid/app-card/qr:
    get:
      tags:
      - Authentication
      summary: 앱카드 QR Code 생성하기
      description: |2

        ## 부가설명 및 특이사항
        인증 거래번호(transNo)를 통해 QR Code 를 생성하기 위한 API 입니다.
      operationId: get-app-card-qr-code
      parameters:
      - name: transNo
        in: query
        description: 거래번호
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-openid-app-card-qr-920870211'
              examples:
                get-app-card-qr-code:
                  value: "{\"qr\":\"UVJDb2Rl\"}"
  /oauth/openid/app-card/trans-no:
    get:
      tags:
      - Authentication
      summary: 앱카드 거래번호 및 토큰 발급하기
      description: |2

        ## 부가설명 및 특이사항
        앱 카드 로그인시 필요한 인증 거래번호(transNo)와 인증거래 확인 토큰(token) 발급하기 위한 API 입니다.
      operationId: get-app-card-trans-no
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth-openid-app-card-trans-no684554593'
              examples:
                get-app-card-trans-no:
                  value: "{\"transNo\":\"test-trans-no\",\"token\":\"test-token\"}"
  /oauth2:
    put:
      tags:
      - OAUTH2
      summary: 토큰 갱신하기
      description: |2

        ## 부가설명 및 특이사항
        * 샵바이 회원의 AccessToken 을 갱신시키기 위한 API 입니다.

        * Shop-By-Authorization 로 액세스 토큰을 전달하면 됩니다.
        * Refresh-Token 로 리프레시 토큰을 전달하면 됩니다.
        * ex) Shop-By-Authorization : Bearer test-access-token
        *     Refresh-Token : test-refresh-token
      operationId: put-oauth2-token
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      - name: Shop-By-Authorization
        in: header
        description: Authorization 헤더
        required: true
        schema:
          type: string
        example: Bearer test-access-token
      - name: Refresh-Token
        in: header
        description: Refresh-Token 헤더
        required: true
        schema:
          type: string
        example: test-refresh-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2-openid897963371'
              examples:
                put-oauth2-token:
                  value: "{\"tokenType\":\"aliquid\",\"accessToken\":\"adversarium\"\
                    ,\"expiresIn\":5073,\"refreshToken\":\"test-refresh-token\",\"\
                    refreshTokenExpiresIn\":7200}"
    post:
      tags:
      - OAUTH2
      summary: 토큰 발급하기
      description: |2

        ## 부가설명 및 특이사항
        * 샵바이 회원의 AccessToken 및 RefreshToken 발급하기 위한 API 입니다.

        * 회원 엑세스 토큰의 기본 유효 기간은 30 분이며,
        * 회원 리프레시 토큰의 기본 유효 기간은 1 일 입니다.,
        * **keepLogin**을 **true**로 요청하면 리프레시 토큰 유효 기간을 90 일인 토큰이 생성됩니다.
      operationId: post-oauth2-token
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oauth2-2015373277'
            examples:
              post-oauth2-token:
                value: "{\"memberId\":\"honestatis\",\"password\":\"ocurreret\",\"\
                  keepLogin\":null}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2-1425468557'
              examples:
                post-oauth2-token:
                  value: "{\"tokenType\":\"Bearer\",\"accessToken\":\"test-access-token\"\
                    ,\"expiresIn\":3600,\"refreshToken\":\"test-refresh-token\",\"\
                    refreshTokenExpiresIn\":7200,\"dormantMemberResponse\":null,\"\
                    ordinaryMemberResponse\":null,\"daysFromLastPasswordChange\":8359,\"\
                    passwordChangeRequired\":false}"
    delete:
      tags:
      - OAUTH2
      summary: 토큰 만료하기
      description: |2

        ## 부가설명 및 특이사항
        * 샵바이 회원의 AccessToken 및 RefreshToken 을 만료시키기 위한 API 입니다.

        * Shop-By-Authorization 로 액세스 토큰을 전달하면 됩니다.
        * ex) Shop-By-Authorization : Bearer test-access-token
      operationId: delete-oauth2-token
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      - name: Shop-By-Authorization
        in: header
        description: Authorization 헤더
        required: true
        schema:
          type: string
        example: Bearer test-access-token
      responses:
        "204":
          description: "204"
  /oauth2/openid:
    put:
      tags:
      - OAUTH2
      summary: 오픈아이디 토큰 재인증 처리하기
      description: |2

        ## 부가설명 및 특이사항
        * 오픈아이디 회원의 개인정보 접속 권한을 부여하기 위한 API 입니다.
        * 해당 액세스 토큰의 만료시간까지 개인정보 접속 권한을 부여합니다.

        * Shop-By-Authorization 로 액세스 토큰을 전달하면 됩니다.
        * Refresh-Token 로 리프레시 토큰을 전달하면 됩니다.
        * ex) Shop-By-Authorization : Bearer test-access-token
        *     Refresh-Token : test-refresh-token
      operationId: put-oauth2-openid-reauthenticate
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      - name: Shop-By-Authorization
        in: header
        description: Authorization 헤더
        required: true
        schema:
          type: string
        example: Bearer test-access-token
      - name: Refresh-Token
        in: header
        description: Refresh-Token 헤더
        required: true
        schema:
          type: string
        example: test-refresh-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oauth2-openid1158665594'
            examples:
              put-oauth2-openid-reauthenticate:
                value: "{\"provider\":\"ncp_naver\",\"code\":\"test-code\",\"openAccessToken\"\
                  :null,\"redirectUri\":\"redirect-uri\",\"state\":null,\"keepLogin\"\
                  :false}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2-openid897963371'
              examples:
                put-oauth2-openid-reauthenticate:
                  value: "{\"tokenType\":\"Bearer\",\"accessToken\":\"reauthenticate-token\"\
                    ,\"expiresIn\":6000,\"refreshToken\":\"test-refresh-token\",\"\
                    refreshTokenExpiresIn\":7200}"
    post:
      tags:
      - OAUTH2
      summary: 오픈아이디 토큰 발급하기
      description: "\n## 부가설명 및 특이사항\n* OpenId 회원의 AccessToken 발급하기 위한 post 방식의 API\
        \ 입니다.\n\n* 회원 엑세스 토큰의 기본 유효 기간은 30 분이며,\n* 회원 리프레시 토큰의 기본 유효 기간은 1 일 입니다\
        .,\n* **keepLogin**을 **true**로 요청하면 리프레시 토큰 유효 기간을 90 일인 토큰이 생성됩니다.\n\n외부\
        \ IdP(Identity Provider, 아이디 제공자)를 이용하는 회원이 로그인할 때 사용합니다.\n\n지원하는 IdP 크게 (1)\
        \ 간편 로그인을 지원하는 IdP, (2) 자체 연동형 IdP(자체적으로 회원 서비스를 지원하는 경우 사용)로 나뉩니다.\n\n##\
        \ (1) 간편 로그인\n각 개발자센터에서 쇼핑몰에 맞는 올바른 설정을 먼저 진행해야합니다. \n\n[간편 로그인 가이드](https://workspace.nhn-commerce.com/guide/skin/dev-cover/easy-login?lv=11)\n\
        \n## 간편 로그인 유형별 필수값\n\n| provider | code  | redirectUri | state |\n| :------:\
        \ | :---: | :---: | :---: |\n| ncp_naver    |   O   |   X   |   △   |\n| ncp_kakao\
        \    |   O   |   O   |   X   |\n| ncp_kakao-sync    |   O   |   X   |   △\
        \   |\n| ncp_line     |   O   |   O   |   O   |\n| ncp_facebook |   O   |\
        \   O   |   X   |\n| ncp_payco    |   O   |   X   |   △   |\n| ncp_apple \
        \   |   O   |   △   |   △   |\n| ncp_google    |   O   |   O   |   X   |\n\
        \n## 참고\n\n- [네이버 개발자센터](https://developers.naver.com/main)\n- [카카오 개발자센터\
        ](https://developers.kakao.com/)\n- [라인 개발자센터](https://developers.line.biz/en/)\n\
        - [페이스북 개발자센터](https://developers.facebook.com/)\n- [페이코 개발자센터](https://developers.payco.com/)\n\
        - [애플 개발자센터](https://developer.apple.com/)\n- [구글 개발자센터](https://developers.google.com/)\n\
        \n## (2) 자체 회원 연동 (엔터프라이즈 전용)\n자세한 사항은 아래 가이드와 서비스 담당자에게 문의해주시길 바랍니다.\n\n\
        [자체회원 연동 가이드](https://workspace-help.nhn-commerce.com/contents/recommended/prm_member_guide)\n\
        \n## 자체 회원 연동 필수값\n\n| provider | openAccessToken |\n| :------: | :---: |\n\
        | ncpstore |  O   |\n"
      operationId: post-oauth2-openid-token
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oauth2-openid1158665594'
            examples:
              post-oauth2-openid-token:
                value: "{\"provider\":\"ncp_naver\",\"code\":\"test-code\",\"openAccessToken\"\
                  :null,\"redirectUri\":\"redirect-uri\",\"state\":null,\"keepLogin\"\
                  :false}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2-openid428567351'
              examples:
                post-oauth2-openid-token:
                  value: "{\"tokenType\":\"Bearer\",\"accessToken\":\"test-access-token\"\
                    ,\"expiresIn\":3600,\"refreshToken\":\"test-refresh-token\",\"\
                    refreshTokenExpiresIn\":7200,\"dormantMemberResponse\":null,\"\
                    ordinaryMemberResponse\":null,\"daysFromLastPasswordChange\":8359,\"\
                    passwordChangeRequired\":false,\"isInitialSync\":false}"
  /openid/token:
    get:
      tags:
      - Authentication
      summary: AccessToken 조회하기
      description: |2

        ## 부가설명 및 특이사항
        OpenId 서비스 제공자의 AccessToken 조회하기 위한 API 입니다.

        응답의 프로바이더 토큰 정보는 현재 로그인한 회원이 간편로그인을 통한 인증을 할 때 사용한 토큰 정보입니다.

        따라서 아이디와 비밀번호를 사용해 로그인한 사용자는 응답이 모두 null 입니다.

        또한 서버는 프로바이더 토큰을 로그인 외에는 사용하지 않기 때문에 프로바이더 토큰 갱신 등은 사용자가 직접 해야 합니다.
      operationId: get-openid-token
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: testClientId
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      - name: platform
        in: header
        description: "클라이언트 플랫폼 (PC, MOBILE_WEB, AOS, IOS)"
        required: true
        schema:
          type: string
        example: PC
      - name: language
        in: header
        description: "언어 (기본값: ko)"
        required: false
        schema:
          type: string
        example: ko
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openid-token-1732903447'
              examples:
                get-openid-token:
                  value: "{\"accessToken\":\"provider-access-token\",\"refreshToken\"\
                    :\"provider-refresh-token\",\"expireYmdt\":\"2021-03-08 13:40:51\"\
                    }"
components:
  schemas:
    oauth-token1064599:
      type: object
      properties:
        passwordChangeRequired:
          type: boolean
          description: 비밀번호 변경 필수 여부
          example: false
        dormantMemberResponse:
          type: object
          properties:
            memberName:
              type: string
              description: 회원 이름 (nullable)
              example: name
            mobileNo:
              type: string
              description: 회원 휴대전화번호 (nullable)
              example: mobile
            email:
              type: string
              description: 회원 이메일 주소 (nullable)
              example: email
          description: 휴면 회원일 경우 추가적으로 포함되는 정보. (휴면회원 아닐경우 null) (nullable)
          example: com.ncp.auth.presentation.response.CommerceAccessTokenResponse$DormantMemberResponse@6076b1a3
        expireIn:
          type: number
          description: 엑세스 토큰의 유효 기간(초)
          example: 3599
        daysFromLastPasswordChange:
          type: number
          description: 비밀번호 변경일로부터 경과된 일 수
          example: 25
        accessToken:
          type: string
          description: 회원 엑세스 토큰
          example: test-access-token
      description: ""
    oauth-openid1502636831:
      type: object
      properties:
        redirectUri:
          type: string
          description: 개발자센터에 등록된 redirect URI (nullable)
          example: "null"
        code:
          type: string
          description: "IdP(Identity Provider, 아이디 제공자)로부터 받은 인증코드(authorization code)\
            \ - 간편 로그인 사용시 필수 (nullable)"
          example: "12345"
        provider:
          type: string
          description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line,\
            \ ncp_facebook, ncp_payco, ncp_apple, ncp_google, app-card)"
          example: ncp_payco
        state:
          type: string
          description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰 (nullable)
          example: "null"
        keepLogin:
          type: boolean
          description: 자동로그인 여부(**true**로 요청하면 유효 기간이 90일인 토큰이 생성)
          example: false
        openAccessToken:
          type: string
          description: "IdP(Identity Provider, 아이디 제공자) 엑세스 토큰 - 연동형 IdP 사용시 필수. **`ncp_store`\
            \ (외부회원연동) 전용**.  (nullable)"
          example: "null"
      description: ""
    authentications-1924642664:
      type: object
      properties:
        notiAccount:
          type: string
          description: 이메일주소 혹은 휴대전화 번호 (nullable)
          example: "01012345678"
        memberNo:
          type: number
          description: 회원번호 - 회원 번호로 인증번호를 보낼 경우 필수 (nullable)
          example: 1001
        usage:
          type: string
          description: 사용 용도
          example: FIND_ID
          enum:
          - "FIND_ID: 아이디 찾기"
          - "FIND_PASSWORD: 비밀번호 찾기"
          - "RELEASE_DORMANT: 휴면 해제"
          - "JOIN: 가입인증"
          - "CHANGE_MOBILE_NO: 휴대폰번호 변경"
        memberName:
          type: string
          description: 회원 이름 (nullable)
          example: 홍길동
        type:
          type: string
          description: 인증 타입
          example: EMAIL
          enum:
          - "SMS: SMS 인증"
          - "EMAIL: 이메일 인증"
      description: ""
    authentications-email237551932:
      type: object
      properties:
        result:
          type: boolean
          description: 성공 여부
          example: true
      description: ""
    authentications-email378641031:
      type: object
      properties:
        usage:
          type: string
          description: 사용 용도
          example: FIND_ID
          enum:
          - "FIND_ID: 아이디 찾기"
          - "FIND_PASSWORD: 비밀번호 찾기"
          - "RELEASE_DORMANT: 휴면 해제"
          - "JOIN: 가입인증"
          - "CHANGE_MOBILE_NO: 휴대폰번호 변경"
        memberName:
          type: string
          description: "회원 이름 (JOIN_URI: 가입인증이 아닌 경우 필수) (nullable)"
          example: 홍길동
        uri:
          type: string
          description: 인증번호를 전달할 쇼핑몰 URI (nullable)
          example: https://www.gildong.com
        email:
          type: string
          description: 이메일 주소
          example: example@nhn.com
      description: ""
    authentications-sms-754854309:
      type: object
      properties:
        usage:
          type: string
          description: 사용 용도
          example: FIND_ID
          enum:
          - "FIND_ID: 아이디 찾기"
          - "FIND_PASSWORD: 비밀번호 찾기"
          - "RELEASE_DORMANT: 휴면 해제"
          - "JOIN: 가입인증"
          - "CHANGE_MOBILE_NO: 휴대폰번호 변경"
        memberName:
          type: string
          description: 회원 이름
          example: 홍길동
        mobileNo:
          type: string
          description: 휴대전화 번호
          example: "01012345678"
      description: ""
    openid-token-1732903447:
      type: object
      properties:
        expireYmdt:
          type: string
          description: 프로바이더(간편로그인 제공사) 토큰 만료 시각 (nullable)
          example: 2021-03-08T13:40:51
        accessToken:
          type: string
          description: 프로바이더(간편로그인 제공사) 엑세스 토큰 (nullable)
          example: provider-access-token
        refreshToken:
          type: string
          description: 프로바이더(간편로그인 제공사) 리프레시 토큰 (nullable)
          example: provider-refresh-token
      description: ""
    oauth-openid-app-card-qr-920870211:
      type: object
      properties:
        qr:
          type: string
          description: 앱카드 QR 코드 (base64)
          example: test-qr-code
      description: ""
    kcp-age-verification-835699881:
      type: object
      properties:
        birthday:
          type: string
          description: 생년월일
          example: 2000-01-01
        verified:
          type: boolean
          description: 성인인증 완료 여부
          example: true
        verifiedDateTime:
          type: string
          description: 성인인증 일시 (nullable)
          example: 2026-06-10T17:56:53.627425324
      description: ""
    oauth-openid-link771608533:
      type: object
      properties:
        provider:
          type: string
          description: 외부 IDP 코드. 리퀘스트와 동일
          example: ncp_payco
        dormantMemberResponse:
          type: object
          properties:
            memberName:
              type: string
              description: 회원 이름 (nullable)
              example: "null"
            mobileNo:
              type: string
              description: 회원 휴대전화 번호 (nullable)
              example: "null"
            email:
              type: string
              description: 회원 이메일 주소 (nullable)
              example: "null"
          description: "휴면 회원일 경우 포함되는 정보로, 주로 휴면 확인 용도로 사용됨. (nullable)"
          example: "null"
        ordinaryMemberResponse:
          type: object
          properties:
            duplicateKey:
              type: string
              description: 기존 회원 마스킹된 이메일 주소나 휴대폰 번호 (nullable)
              example: "null"
            signUpDateTime:
              type: string
              description: 기존 회원 가입일 (nullable)
              example: "null"
          description: 같은 정보를 가진 기존 회원이 존재할 경우 추가적으로 포함되는 정보. (없을 경우 null) (nullable)
          example: "null"
        expireIn:
          type: number
          description: 엑세스 토큰의 유효 기간(초)
          example: 3599
        daysFromLastPasswordChange:
          type: number
          description: 비밀번호 변경일로부터 경과된 일 수 - **@Deprecated** 오픈아이디 연동 시 비밀번호 변경일 관련
            값은 사용하지 않습니다. 삭제 예정입니다
        accessToken:
          type: string
          description: 회원 엑세스 토큰
          example: test-access-token
        isInitialSync:
          type: boolean
          description: 최초 연동 여부 - 해당 오픈 아이디가 **샵바이에 최초로 연동되었는지 확인하는 용도**로 사용됨.
          example: false
      description: ""
    oauth-token1261496601:
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
          example: testpw123
        provider:
          type: string
          description: 외부 IDP 코드 (nullable)
          example: "null"
        captcha:
          type: string
          description: 자동입력 방지 문자 (deprecated( V1.0에서 더 이상 제공하지 않습니다)) (nullable)
          example: "null"
        keepLogin:
          type: boolean
          description: 자동로그인 여부(**true**로 요청하면 유효 기간이 90일인 토큰이 생성) (nullable)
          example: true
        memberId:
          type: string
          description: 회원 아이디
          example: gildong
      description: ""
    kcp-id-verification-response-1362057927:
      type: object
      properties:
        birthday:
          type: string
          description: 생년월일
          example: "20000101"
        sexCode:
          type: string
          description: "성별 코드 (01:male, 02: female)"
          example: "01"
        di:
          type: string
          description: 사용하지 않음
          example: ""
        phone:
          type: string
          description: 휴대폰번호
          example: "01012345678"
        ci:
          type: string
          description: 임의로 생성된 개인인증 값
          example: 20230101-hello
        name:
          type: string
          description: 이름
          example: 홍길동
        commId:
          type: string
          description: 통신사 코드
          example: SKT
        localCode:
          type: string
          description: "내/외국인 코드 (01: local, 02:foreigner)"
          example: "01"
      description: ""
    authentications486364631:
      type: object
      properties:
        path:
          type: string
          description: API 경로
          example: /auth/token
        code:
          type: string
          description: 에러코드
          example: CP9001
        message:
          type: string
          description: 메시지
          example: 인증을 10회 이상 실패하였습니다. 자동등록방지 문자 입력 후 다시 시도해주세요.
        error:
          type: string
          description: 에러
          example: Bad Request
        key:
          type: string
          description: 키
          example: auth:EMUSE001:test@test.com
        status:
          type: number
          description: HTTP 상태
          example: 400
        timestamp:
          type: string
          description: 에러 발생 시각
          example: 2021-04-19T18:23:00.68472
      description: ""
    oauth-openid-app-card-trans-no684554593:
      type: object
      properties:
        transNo:
          type: string
          description: 앱카드 인증 거래번호
          example: test-trans-no
        token:
          type: string
          description: 앱카드 인증거래 확인 토큰
          example: test-token
      description: ""
    oauth2-openid897963371:
      type: object
      properties:
        expiresIn:
          type: number
          description: 액세스 토큰 만료까지 남은 시간(초)
          example: 6000
        accessToken:
          type: string
          description: 엑세스 토큰
          example: new-access-token
        tokenType:
          type: string
          description: 토큰 타입 Bearer 로 고정
          example: Bearer
      description: ""
    oauth-token-1996683314:
      type: object
      properties:
        path:
          type: string
          description: API 경로
          example: /oauth/token
        code:
          type: string
          description: 에러코드
          example: M0306
        message:
          type: string
          description: 메시지
          example: 로그인을 10회 이상 실패하였습니다. 자동등록방지 문자 입력 후 다시 시도해주세요.
        error:
          type: string
          description: 에러
          example: Bad Request
        key:
          type: string
          description: 키
          example: login:10:id
        status:
          type: number
          description: HTTP 상태
          example: 400
        timestamp:
          type: string
          description: 에러 발생 시각
          example: 2021-04-19T18:23:00.68472
      description: ""
    oauth2-openid1158665594:
      type: object
      properties:
        redirectUri:
          type: string
          description: 개발자센터에 등록된 redirect URI (nullable)
          example: redirect-uri
        code:
          type: string
          description: "IdP(Identity Provider, 아이디 제공자)로부터 받은 인증코드(authorization code)\
            \ - 간편 로그인 사용시 필수 (nullable)"
          example: test-code
        provider:
          type: string
          description: "간편 로그인 제공사(ncp_naver, ncp_kakao, ncp_kakao-sync, ncp_line,\
            \ ncp_facebook, ncp_payco, ncp_apple, ncp_google, app-card)"
          example: ncp_naver
        state:
          type: string
          description: CSRF 공격을 방지하기 위해 애플리케이션에서 생성한 상태 토큰 (nullable)
          example: "null"
        keepLogin:
          type: boolean
          description: 자동로그인 여부(**true**로 요청하면 유효 기간이 90일인 토큰이 생성)
          example: false
        openAccessToken:
          type: string
          description: "IdP(Identity Provider, 아이디 제공자) 엑세스 토큰 - 연동형 IdP 사용시 필수. **`ncp_store`\
            \ (외부회원연동) 전용**.  (nullable)"
          example: "null"
      description: ""
    kcp-id-verification-form1116014589:
      type: object
      description: ""
    oauth-openid-list-1563013012:
      type: object
      properties:
        providers:
          type: array
          description: ""
          items:
            type: object
            properties:
              memberProviderNo:
                type: number
                description: SNS 연동 구분 값
                example: 1
              updatedYmdt:
                type: string
                description: 연동 수정 날짜
                example: 2023-05-31T14:30:23
              deleteYn:
                type: boolean
                description: SNS 연동 해제 여부
                example: false
              providerType:
                type: string
                description: 연동 SNS 유형
                example: facebook
              registerYmdt:
                type: string
                description: 최초 연동 날짜
                example: 2023-05-30T14:30:23
      description: ""
    oauth2-1425468557:
      type: object
      properties:
        expiresIn:
          type: number
          description: 액세스 토큰 만료까지 남은 시간(초)
          example: 3600
        refreshTokenExpiresIn:
          type: number
          description: 리프레시 토큰 만료까지 남은 시간(초)
          example: 7200
        passwordChangeRequired:
          type: boolean
          description: 비밀번호 변경 필수 여부
          example: false
        dormantMemberResponse:
          type: object
          properties:
            memberName:
              type: string
              description: 회원 이름 (nullable)
              example: "null"
            mobileNo:
              type: string
              description: 회원 휴대전화번호 (nullable)
              example: "null"
            email:
              type: string
              description: 회원 이메일 주소 (nullable)
              example: "null"
          description: 휴면 회원일 경우 추가적으로 포함되는 정보. (휴면회원 아닐경우 null) (nullable)
          example: "null"
        ordinaryMemberResponse:
          type: object
          properties:
            duplicateKey:
              type: string
              description: 기존 회원 마스킹된 이메일 주소나 휴대폰 번호 (nullable)
              example: "null"
            signUpDateTime:
              type: string
              description: 기존 회원 가입일 (nullable)
              example: "null"
          description: 같은 정보를 가진 기존 회원이 존재할 경우 추가적으로 포함되는 정보. (없을 경우 null) (nullable)
          example: "null"
        daysFromLastPasswordChange:
          type: number
          description: 비밀번호 변경일로부터 경과된 일 수
          example: 8359
        accessToken:
          type: string
          description: 엑세스 토큰
          example: test-access-token
        tokenType:
          type: string
          description: 토큰 타입 Bearer 로 고정
          example: Bearer
        refreshToken:
          type: string
          description: 리프레시 토큰
          example: test-refresh-token
      description: ""
    oauth2-openid428567351:
      type: object
      properties:
        expiresIn:
          type: number
          description: 액세스 토큰 만료까지 남은 시간(초)
          example: 3600
        refreshTokenExpiresIn:
          type: number
          description: 리프레시 토큰 만료까지 남은 시간(초)
          example: 7200
        passwordChangeRequired:
          type: boolean
          description: 비밀번호 변경 필수 여부
          example: false
        dormantMemberResponse:
          type: object
          properties:
            memberName:
              type: string
              description: 회원 이름 (nullable)
              example: "null"
            mobileNo:
              type: string
              description: 회원 휴대전화번호 (nullable)
              example: "null"
            email:
              type: string
              description: 회원 이메일 주소 (nullable)
              example: "null"
          description: 휴면 회원일 경우 추가적으로 포함되는 정보. (휴면회원 아닐경우 null) (nullable)
          example: "null"
        ordinaryMemberResponse:
          type: object
          properties:
            duplicateKey:
              type: string
              description: 기존 회원 마스킹된 이메일 주소나 휴대폰 번호 (nullable)
              example: "null"
            signUpDateTime:
              type: string
              description: 기존 회원 가입일 (nullable)
              example: "null"
          description: 같은 정보를 가진 기존 회원이 존재할 경우 추가적으로 포함되는 정보. (없을 경우 null) (nullable)
          example: "null"
        daysFromLastPasswordChange:
          type: number
          description: 비밀번호 변경일로부터 경과된 일 수
          example: 8359
        accessToken:
          type: string
          description: 엑세스 토큰
          example: test-access-token
        tokenType:
          type: string
          description: 토큰 타입 Bearer 로 고정
          example: Bearer
        isInitialSync:
          type: boolean
          description: 최초 연동 여부 - 해당 오픈 아이디가 **샵바이에 최초로 연동되었는지 확인하는 용도**로 사용됨.
          example: false
        refreshToken:
          type: string
          description: 리프레시 토큰
          example: test-refresh-token
      description: ""
    authentications-sms1664299215:
      type: object
      properties:
        remainTime:
          type: number
          description: 인증번호 만료까지 남은 시간 (초)
          example: 600
      description: ""
    oauth2-2015373277:
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
          example: ocurreret
        keepLogin:
          type: boolean
          description: 자동로그인 여부(**true**로 요청하면 유효 기간이 90일인 리프레시 토큰이 생성) (nullable)
          example: false
        memberId:
          type: string
          description: 회원 아이디
          example: honestatis
      description: ""
    oauth-login-url-1249944640:
      type: object
      properties:
        loginUrl:
          type: string
          description: 간편 로그인 URL
          example: https://nid.naver.com/oauth2.0/authorize
      description: ""
    captcha-image258801235:
      type: object
      properties:
        url:
          type: string
          description: 캡챠 이미지 URL
      description: ""
