openapi: 3.0.1
info:
  title: display-shop
  description: ' 상품 전시(display) 관련 shop API입니다.'
  version: 0.0.1-SNAPSHOT
servers:
- url: https://shop-api.e-ncp.com
tags:
- name: Banner
  description: 배너
- name: Category
  description: 카테고리
- name: Review
  description: 상품평
- name: Event
  description: 기획전
- name: Popup
  description: 팝업
- name: ProductSection
  description: 상품 진열 관리
- name: ProductInquiry
  description: 상품 문의
paths:
  /categories:
    get:
      tags:
      - Category
      summary: 전체 카테고리 조회하기
      description: "## 부가설명 및 특이사항\n            \n키워드로 카테고리를 조회하는 API입니다\n\n* 계층을\
        \ 가지는 카테고리 목록(multiLevelCategories)을 조회합니다 (최대 5 depth)\n\n* 원본 카테고리 목록(flatCategories)을\
        \ 조회합니다\n\n1일 캐시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-categories-by-keyword
      parameters:
      - name: keyword
        in: query
        description: 카테고리명
        required: false
        schema:
          type: string
      - name: categoryViewType
        in: query
        description: "카테고리 응답 형식 (ALL: 전체(default), MULTI_LEVEL: 트리 구조만, FLAT: 평탄화\
          \ 구조만)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-238649777'
              examples:
                get-categories-by-keyword:
                  value: "{\"multiLevelCategories\":[{\"categoryNo\":10010,\"label\"\
                    :\"10010번 카테고리\",\"depth\":1,\"icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"content\":\"multiContent\",\"managementCode\":\"10010번 카테고리\
                    \ 코드\",\"children\":[]}],\"flatCategories\":[{\"depth1CategoryNo\"\
                    :10010,\"depth1Label\":\"10010번 카테고리\",\"depth1DisplayOrder\"\
                    :1,\"depth1Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth1Content\":\"depthContent\",\"depth1ManagementCode\":\"\
                    1뎁스 카테고리 코드\",\"fullCategoryName\":\"카테고리이름\",\"depth2CategoryNo\"\
                    :10011,\"depth2Label\":\"10010번 카테고리\",\"depth2DisplayOrder\"\
                    :2,\"depth2Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth2Content\":\"depthContent\",\"depth2ManagementCode\":\"\
                    2뎁스 카테고리 코드\",\"depth3CategoryNo\":10012,\"depth3Label\":\"10010번\
                    \ 카테고리\",\"depth3DisplayOrder\":3,\"depth3Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth3Content\":\"depthContent\",\"depth3ManagementCode\":\"\
                    3뎁스 카테고리 코드\",\"depth4CategoryNo\":10013,\"depth4Label\":\"10010번\
                    \ 카테고리\",\"depth4DisplayOrder\":4,\"depth4Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth4Content\":\"depthContent\",\"depth4ManagementCode\":\"\
                    4뎁스 카테고리 코드\",\"depth5CategoryNo\":10014,\"depth5Label\":\"10010번\
                    \ 카테고리\",\"depth5DisplayOrder\":5,\"depth5Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth5Content\":\"depthContent\",\"depth5ManagementCode\":\"\
                    5뎁스 카테고리 코드\"}]}"
  /categories/new-product-categories:
    get:
      tags:
      - Category
      summary: 신상품이 있는 카테고리 조회하기
      description: "## 부가설명 및 특이사항\n            \n판매 시작일이 1주일 이내인 상품이 존재하는 카테고리 조회\
        하는 API입니다\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-new-product-categories
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-new-product-categories-1474126714'
              examples:
                get-new-product-categories:
                  value: "[1,2,3]"
  /categories/search-by-management-code:
    post:
      tags:
      - Category
      summary: 관리코드로 카테고리 번호를 조회하기
      description: "## 부가설명 및 특이사항\n            \n전시카테고리 관리코드로 카테고리 번호를 조회하는 API 입\
        니다\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-category-nos-by-codes
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categories-search-by-management-code1690049551'
            examples:
              get-category-nos-by-codes:
                value: "{\"codes\":[\"관리코드\"]}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-search-by-management-code1438015983'
              examples:
                get-category-nos-by-codes:
                  value: "[{\"displayCategoryNo\":1,\"code\":\"관리코드\"}]"
  /categories/simple-1depth:
    get:
      tags:
      - Category
      summary: 1차 카테고리 간단 정보 조회하기
      description: "## 부가설명 및 특이사항\n            \n1차 카테고리 관련 간단한 정보를 조회하는 API 입니다\n\
        \n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-categories-simple-1depth
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-simple-1depth1374229175'
              examples:
                get-categories-simple-1depth:
                  value: "[{\"displayCategoryNo\":1,\"displayCategoryName\":\"카테고리\
                    명\",\"displayManagementCode\":\"카테고리 코드\"}]"
  /categories/{categoryNo}:
    get:
      tags:
      - Category
      summary: 카테고리 조회하기
      description: "## 부가설명 및 특이사항\n            \n카테고리 번호로 카테고리를 조회하는 API입니다\n\n*\
        \ 계층을 가지는 카테고리 목록(multiLevelCategories)을 조회합니다 (최대 5 depth)\n\n* 원본 카테고리 목\
        록(flatCategories)을 조회합니다\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-category
      parameters:
      - name: categoryNo
        in: path
        description: 카테고리 번호
        required: true
        schema:
          type: number
      - name: needsBrands
        in: query
        description: "브랜드 정보 조회 여부 (default: true)"
        required: false
        schema:
          type: boolean
      - name: categoryViewType
        in: query
        description: "카테고리 응답 형식 (ALL: 전체(default), MULTI_LEVEL: 트리 구조만, FLAT: 평탄화\
          \ 구조만)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-categoryNo-675990724'
              examples:
                get-category:
                  value: "{\"multiLevelCategories\":[{\"categoryNo\":10010,\"label\"\
                    :\"10010번 카테고리\",\"depth\":1,\"icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"content\":\"content..\",\"managementCode\":\"10010번 카테고리 코드\
                    \",\"children\":[]}],\"flatCategories\":[{\"depth1CategoryNo\"\
                    :10010,\"depth1Label\":\"10010번 카테고리\",\"depth1DisplayOrder\"\
                    :1,\"depth1Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth1Content\":\"content1depth..\",\"depth1ManagementCode\"\
                    :\"1뎁스 카테고리 코드\",\"fullCategoryName\":\"1뎁스카테고리\",\"depth2CategoryNo\"\
                    :10011,\"depth2Label\":\"10010번 카테고리\",\"depth2DisplayOrder\"\
                    :2,\"depth2Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth2Content\":\"depthContent\",\"depth2ManagementCode\":\"\
                    2뎁스 카테고리 코드\",\"depth3CategoryNo\":10012,\"depth3Label\":\"10010번\
                    \ 카테고리\",\"depth3DisplayOrder\":3,\"depth3Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth3Content\":\"depthContent\",\"depth3ManagementCode\":\"\
                    3뎁스 카테고리 코드\",\"depth4CategoryNo\":10013,\"depth4Label\":\"10010번\
                    \ 카테고리\",\"depth4DisplayOrder\":4,\"depth4Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth4Content\":\"depthContent\",\"depth4ManagementCode\":\"\
                    4뎁스 카테고리 코드\",\"depth5CategoryNo\":10014,\"depth5Label\":\"10010번\
                    \ 카테고리\",\"depth5DisplayOrder\":5,\"depth5Icon\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"depth5Content\":\"depthContent\",\"depth5ManagementCode\":\"\
                    5뎁스 카테고리 코드\"}],\"brands\":[{\"brandNo\":1,\"name\":\"1번 브랜드\"\
                    ,\"productCnt\":10}],\"requestedCategoryNo\":1}"
  /categories/{categoryNo}/display-setting:
    get:
      tags:
      - Category
      summary: 카테고리 진열 설정 조회하기
      description: "## 부가설명 및 특이사항\n            \n카테고리의 진열 설정(자동/수동)을 조회하는 API입니다\n\
        \n* AUTO: 자동 진열\n\n* MANUAL: 수동 진열\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-category-display-setting
      parameters:
      - name: categoryNo
        in: path
        description: 카테고리 번호
        required: true
        schema:
          type: number
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories-categoryNo-display-setting-1154835717'
              examples:
                get-category-display-setting:
                  value: "{\"displayType\":\"MANUAL\",\"pinEnabled\":\"Y\"}"
  /category/product-reviews:
    get:
      tags:
      - Review
      summary: 카테고리 상품평 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n카테고리 별 상품평 목록 조회하는 API입니다\n\n###\
        \ OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n\nPaging\
        \ 기능 제공합니다\n\n정렬 기준(모든 정렬은 1차적으로 정렬된 후, 최근 등록된 순으로 한 번 더 정렬됩니다.)\n\n* RATING\
        \ - 상품평 평점순\n\n* RECOMMEND - 상품평 추천순\n\n* REGISTER_YMDT - 상품평 등록순\n\n* BEST_REVIEW\
        \ - 우수 상품평순(DESC: 우수 상품평 먼저 조회, ASC: 일반 상품평 먼저 조회)\n\nhasOrderedOption 을 false로\
        \ 설정 했을 때, orderedOption 항목은 디폴트 옵션 정보 값으로 내려갑니다. (default: false)\n\n* 주문\
        \ 옵션 정보 필요한 경우 hasOrderedOption=true 로 설정하여 요청하시기 바랍니다.\n## 화면 예시\n      \
        \          \n[![IMG_CATEGORY_REVIEW_GET](http://image.toast.com/aaaaahb/api-description/product/%EC%83%81%ED%92%88%ED%8F%89/[GET]%20category_product-reviews%20%EC%B9%B4%ED%85%8C%EA%B3%A0%EB%A6%AC%20%EC%83%81%ED%92%88%ED%8F%89%20%EB%AA%A9%EB%A1%9D.png?autox150)](http://image.toast.com/aaaaahb/api-description/product/%EC%83%81%ED%92%88%ED%8F%89/[GET]%20category_product-reviews%20%EC%B9%B4%ED%85%8C%EA%B3%A0%EB%A6%AC%20%EC%83%81%ED%92%88%ED%8F%89%20%EB%AA%A9%EB%A1%9D.png)"
      operationId: get-category-product-reviews
      parameters:
      - name: hasAttachmentFile
        in: query
        description: "첨부 파일 여부 (default : false)"
        required: false
        schema:
          type: boolean
      - name: categoryDepth
        in: query
        description: 카테고리 깊이
        required: true
        schema:
          type: number
      - name: categoryNo
        in: query
        description: 카테고리 번호
        required: true
        schema:
          type: number
      - name: productName
        in: query
        description: 상품명
        required: false
        schema:
          type: string
      - name: order.by
        in: query
        description: "정렬 기준 (추천순: RECOMMEND, 등록일순: REGISTER_YMDT, 평점순: RATING, 베스트\
          리뷰순: BEST_REVIEW)"
        required: true
        schema:
          type: string
      - name: order.direction
        in: query
        description: "정렬 순서 (default: DESC) (오름차순: ASC, 내림차순: DESC)"
        required: true
        schema:
          type: string
      - name: brandName
        in: query
        description: 브랜드 명
        required: false
        schema:
          type: string
      - name: bestReviewYn
        in: query
        description: "베스트 상품평 여부 ( 우수상품평:Y , 일반상품평:N , 전체: NULL - default)"
        required: false
        schema:
          type: string
      - name: myReviewYn
        in: query
        description: "내 상품평 보기 ( 내상품평:Y , 전체상품평:N - default )"
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 페이지 번호
        required: true
        schema:
          type: number
      - name: pageSize
        in: query
        description: 한 페이지당 노출 수
        required: true
        schema:
          type: number
      - name: hasTotalCount
        in: query
        description: "목록 카운트 포함 여부(default: false)"
        required: false
        schema:
          type: boolean
      - name: hasOrderedOption
        in: query
        description: "주문 옵션 정보 포함 여부(default: true)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category-product-reviews1475579004'
              examples:
                get-category-product-reviews:
                  value: "{\"totalCount\":0,\"rate\":0,\"items\":[{\"reviewNo\":1,\"\
                    rate\":0,\"productNo\":1,\"productName\":\"상품명\",\"productNameEn\"\
                    :\"영문상품명\",\"providerType\":\"FACEBOOK\",\"memberId\":\"parkjs\"\
                    ,\"registerName\":\"registerName\",\"registerNo\":0,\"registerYmdt\"\
                    :\"2026-06-24T07:05:03.626362738\",\"updateYmdt\":\"2026-06-24T07:05:03.62638713\"\
                    ,\"recommendCnt\":0,\"reportCnt\":0,\"blindReportCnt\":0,\"recommendable\"\
                    :false,\"reportable\":false,\"myReview\":false,\"platformType\"\
                    :\"PC\",\"extraJson\":\"\",\"bestReviewYn\":\"N\",\"isDeletedProductReview\"\
                    :false,\"commentCount\":3,\"siteName\":\"사이트명\",\"productDetailUrl\"\
                    :\"https://www.shopby.com/product/110599467\",\"originRegisterYmdt\"\
                    :\"2026-06-24T07:05:03.626394662\",\"tagValueNos\":[1],\"tagValues\"\
                    :[{\"tagValueNo\":1,\"tagValueName\":\"aa\"}],\"cancelReportable\"\
                    :\"Y\",\"saleStatusType\":\"ONSALE\",\"memberGradeDisplayInfo\"\
                    :{\"isAll\":true,\"nos\":[]},\"memberGroupDisplayInfo\":{\"isAll\"\
                    :true,\"nos\":[]},\"imageUrl\":\"\",\"imageUrlType\":\"IMAGE_URL\"\
                    ,\"content\":\"상품평 내용입니다.\",\"brandName\":\"나이스\",\"memberName\"\
                    :\"회원1\",\"nickname\":\"\",\"brandNameEn\":\"nice\",\"orderedOption\"\
                    :{\"orderOptionNo\":1,\"optionName\":\"색상\",\"optionValue\":\"\
                    레드\",\"addPrice\":0,\"optionUsed\":true,\"orderCnt\":1,\"optionTitle\"\
                    :\"string\",\"optionType\":\"NORMAL_OPTION\",\"orderStatusType\"\
                    :\"BUY_CONFIRM\",\"inputs\":[{\"inputLabel\":\"string\",\"inputValue\"\
                    :\"string\"}]},\"fileUrls\":[\"http://image.url/1122\",\"http://image.url/3344\"\
                    ,\"http://image.url/5566\"],\"productTotalCount\":2,\"productRate\"\
                    :0,\"productDiscountPrice\":0,\"expelled\":false,\"givenAccumulationYn\"\
                    :\"N\",\"externalReview\":false}],\"reviewRatingResponses\":[]}"
  /design-popups:
    post:
      tags:
      - Popup
      summary: 디자인 팝업 조회하기
      description: "## 부가설명 및 특이사항\n            \n노출페이지 설정에서 개별설정으로 선택한 경우만 해당됩니다\
        .\n\n노출 URL 및 파라미터 조건이 있는 경우에만 필터링 후 가져옵니다\n\n ### OAUTH2 참고사항\n* [Oauth2\
        \ API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-design-popup
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/design-popups-868683164'
            examples:
              get-design-popup:
                value: "{\"displayUrl\":\"goods/goods_list\",\"parameter\":\"key1%3Dvalue1%26key2%3Dvalue2%2Cvalue3\"\
                  ,\"popupId\":\"popupId\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/design-popups415225285'
              examples:
                get-design-popup:
                  value: "[{\"mallNo\":1,\"popupNo\":1,\"title\":\"제목\",\"content\"\
                    :\"내용\",\"popupDesignType\":\"MULTI\",\"visibleToday\":true,\"\
                    popupId\":\"팝업ID\",\"popupSlideInfo\":{\"slideDirection\":\"FIXED\"\
                    ,\"slideSpeed\":4,\"slideMaxWidth\":200,\"slideMaxHeight\":150,\"\
                    slideMinWidth\":50,\"slideMinHeight\":50,\"slideCount\":\"TWO_BY_ONE\"\
                    ,\"resizable\":false,\"slideImages\":[{\"popupImageNo\":1,\"hasUploaded\"\
                    :true,\"mainImageUrl\":\"http://image.url/main-image.jpg\",\"\
                    thumbImageUrl\":\"http://image.url/thumbnail.jpg\",\"thumbImageUrlOnOver\"\
                    :\"http://image.url/thumbnail-on-mouseover.jpg\",\"landingUrl\"\
                    :\"http://shopby.pro\",\"openLocationTarget\":\"SELF\"}]},\"detailInfo\"\
                    :{\"screenType\":\"FIXED\",\"screenWidth\":100,\"screenWidthUnit\"\
                    :\"PIXEL\",\"screenHeight\":100,\"screenHeightUnit\":\"PIXEL\"\
                    ,\"resizable\":false,\"screenLeftPosition\":0,\"screenLeftUnit\"\
                    :\"PIXEL\",\"screenTopPosition\":0,\"screenTopUnit\":\"PIXEL\"\
                    ,\"bgColor\":\"FFFFFF\"}}]"
  /display/events:
    get:
      tags:
      - Event
      summary: 이벤트 기간안에 포함된 모든 이벤트 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n이벤트 기간안에 포함된 모든 이벤트 목록 조회하는 API입\
        니다\n\n1일 캐시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event
      parameters:
      - name: keyword
        in: query
        description: 검색어 (태그 명)
        required: false
        schema:
          type: string
      - name: categoryNos
        in: query
        description: 전시 카테고리 번호로 검색
        required: false
        schema:
          type: number
      - name: keywordInfo.type
        in: query
        description: "검색어 타입(NO - 기획전 번호, NAME - 기획전 이름, TAG - 태그, URL - 기획전 URL,\
          \ ID - 기획전 ID) (default: NO)"
        required: false
        schema:
          type: string
      - name: keywordInfo.value
        in: query
        description: "검색어 필수(기획전 번호, TAG 는 ',' 로 구분하여 다중입력) (공백없이 입력)"
        required: false
        schema:
          type: string
      - name: page.number
        in: query
        description: 페이지 번호
        required: true
        schema:
          type: number
      - name: page.size
        in: query
        description: 한 페이지당 노출 수
        required: true
        schema:
          type: number
      - name: eventYn
        in: query
        description: "이벤트 여부 - Y or N (default : null)"
        required: false
        schema:
          type: string
      - name: progressStatus
        in: query
        description: "진행상태 (ING - 진행중, READY - 진행예정, END - 진행종료, ALL - 모두 포함) (default:\
          \ ING, 공백없이 입력)"
        required: false
        schema:
          type: string
      - name: order.by
        in: query
        description: "정렬조건(REGISTER_DATE: 등록일, START_DATE: 시작일, END_DATE: 종료일) (default:\
          \ REGISTER_DATE)"
        required: false
        schema:
          type: string
      - name: order.direction
        in: query
        description: "정렬 방식(DESC : 내림차순 / ASC : 오름차순) (default : DESC)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-1184885934'
              examples:
                get-events:
                  value: "[{\"eventNo\":1,\"label\":\"1번 이벤트\",\"url\":\"http://shop.com/eventpage\"\
                    ,\"id\":\"KO0001\",\"urlType\":\"DIRECT\",\"displayPeriodType\"\
                    :\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\",\"endYmdt\"\
                    :\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"이벤트\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"}]"
                get-event-by-keyword-type:
                  value: "{\"totalCount\":1,\"totalPage\":1,\"contents\":[{\"eventNo\"\
                    :1,\"label\":\"10월 세일 이벤트\",\"url\":\"http://shop.com/eventpage\"\
                    ,\"id\":\"KO0001\",\"urlType\":\"DIRECT\",\"displayPeriodType\"\
                    :\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\",\"endYmdt\"\
                    :\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"프로모션\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"}]}"
  /display/popups:
    get:
      tags:
      - Popup
      summary: 전체 팝업 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n전체 팝업 목록 조회하는 API입니다\n\n1일 캐시하여\
        \ 사용하고 있습니다. (cached)\n\n전체 대상이 아닌 일부만 설정한 경우 targetNo 에 설정한 전시카테고리/지획전/상품\
        번호를 입력해야합니다.\n\n팝업 노출 순서는 등록일 내림차순으로 정렬됩니다.\n\n ### OAUTH2 참고사항\n* [Oauth2\
        \ API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n## 화면\
        \ 예시\n                \n[![POPUP_ALL_LIST_IMG](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_popups%20%EC%A0%84%EC%B2%B4%20%ED%8C%9D%EC%97%85%20%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C(cached).png?autox150)](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_popups%20%EC%A0%84%EC%B2%B4%20%ED%8C%9D%EC%97%85%20%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C(cached).png)"
      operationId: get-popups
      parameters:
      - name: pageType
        in: query
        description: "페이지 유형 (메인페이지: MAIN, 전시카테고리: CATEGORY, 기획전: EVENT, 상품: PRODUCT)"
        required: false
        schema:
          type: string
      - name: targetNo
        in: query
        description: 페이지 번호 (페이지 유형에 따른 페이지 번호)
        required: false
        schema:
          type: integer
          format: int32
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-popups933538259'
              examples:
                get-popups:
                  value: "[{\"mallNo\":1,\"title\":\"팝업 라벨\",\"popupDesignType\":\"\
                    NORMAL\",\"visibleToday\":true,\"popupNo\":1,\"label\":\"팝업 라벨\
                    \",\"height\":200,\"width\":400,\"type\":\"WINDOW\",\"displayTypes\"\
                    :[\"PC\"],\"content\":\"팝업 내용\",\"startYmdt\":\"2026-06-24T07:04:51.881191176\"\
                    ,\"endYmdt\":\"2026-06-24T07:04:51.88121636\",\"popupPosition\"\
                    :\"MIDDLE\",\"pageInfos\":{\"pageTypes\":[\"MAIN\"],\"displayCategoryInfos\"\
                    :[{\"depth\":1,\"displayCategoryNo\":123}],\"eventInfos\":[],\"\
                    mallProductInfos\":[]},\"popupId\":\"팝업 아이디\",\"popupSlideInfo\"\
                    :{\"slideDirection\":\"FIXED\",\"slideSpeed\":4,\"slideMaxWidth\"\
                    :0,\"slideMaxHeight\":0,\"slideMinWidth\":0,\"slideMinHeight\"\
                    :0,\"slideCount\":\"TWO_BY_ONE\",\"resizable\":false,\"slideImages\"\
                    :[{\"popupImageNo\":0,\"hasUploaded\":true,\"mainImageUrl\":\"\
                    \",\"thumbImageUrl\":\"\",\"thumbImageUrlOnOver\":\"\",\"landingUrl\"\
                    :\"\",\"openLocationTarget\":\"SELF\"}]},\"detailInfo\":{\"screenType\"\
                    :\"FIXED\",\"screenWidth\":300,\"screenWidthUnit\":\"PIXEL\",\"\
                    screenHeight\":300,\"screenHeightUnit\":\"PIXEL\",\"resizable\"\
                    :false,\"screenLeftPosition\":0,\"screenLeftUnit\":\"PIXEL\",\"\
                    screenTopPosition\":0,\"screenTopUnit\":\"PIXEL\",\"bgColor\"\
                    :\"\"}}]"
  /display/sections:
    get:
      tags:
      - ProductSection
      summary: 상품 진열 리스트 조회하기
      description: "## 부가설명 및 특이사항\n            \n상품 진열 리스트를 반환합니다.\n\n ### OAUTH2\
        \ 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-sections
      parameters:
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-sections129922044'
              examples:
                get-sections:
                  value: "{\"sections\":[{\"sectionNo\":1,\"sectionName\":\"진열명\"\
                    ,\"sectionId\":\"진열id\",\"promotionText\":\"프로모션 텍스트\",\"sectionExplain\"\
                    :\"진열 설명\",\"imageUrl\":\"https://example.com/image.jpg\",\"leftSpaceColor\"\
                    :\"#FFFFFF\",\"rightSpaceColor\":\"#000000\"}]}"
  /display/banners/extraInfos:
    get:
      tags:
      - Banner
      summary: 배너 추가 정보 조회하기
      description: "## 부가설명 및 특이사항\n            \n배너의 추가 정보를 조회하는 API 입니다.\n\n* 배너\
        \ 섹션 번호 또는 배너 번호 리스트로 조회 가능합니다.\n\n* 두 값을 모두 입력하는 경우, 배너 섹션 번호로 조회됩니다.\n\n\
        \ ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-banner-extra-infos
      parameters:
      - name: bannerSectionNo
        in: query
        description: 배너 섹션 번호
        required: false
        schema:
          type: number
      - name: bannerNos
        in: query
        description: 배너 번호 리스트(쉼표로 구분하여 입력)
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-banners-extraInfos-2106322718'
              examples:
                get-banner-extra-infos:
                  value: "[{\"bannerNo\":1,\"extraInfo\":\"추가 정보\"}]"
  /display/banners/{bannerSectionCodes}:
    get:
      tags:
      - Banner
      summary: 배너 목록 조회하기(Code)
      description: "## 부가설명 및 특이사항\n            \n코드 정보들로 배너들을 조회하는 API입니다\n\n5분 캐\
        시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n## 화면\
        \ 예시\n                \n[![banner-list-img](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_banners_bannerSectionCodes%20%EB%B0%B0%EB%84%88%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C%20(cached).png?autox150)](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_banners_bannerSectionCodes%20%EB%B0%B0%EB%84%88%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C%20(cached).png)"
      operationId: get-banners
      parameters:
      - name: bannerSectionCodes
        in: path
        description: "조회할 배너 섹션 코드(,로 구분한 배열) / 샵바이 어드민에서 `배너 코드` 항목으로 확인 가능합니다."
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-banners-bannerSectionCodes1511148210'
              examples:
                get-banners:
                  value: "[{\"bannerSectionNo\":1,\"label\":\"배너 라벨명\",\"code\":\"\
                    001\",\"groupNo\":1,\"platformDisplayPcYn\":\"N\",\"platformDisplayMobileYn\"\
                    :\"N\",\"platformDisplayMobileWebYn\":\"N\",\"memberGradeDisplayInfo\"\
                    :null,\"memberGroupDisplayInfo\":null,\"accounts\":[{\"accountNo\"\
                    :1,\"accountName\":\"구좌명\",\"displayType\":\"SEQUENTIAL\",\"height\"\
                    :300,\"width\":200,\"platformDisplayPcYn\":\"N\",\"platformDisplayMobileYn\"\
                    :\"N\",\"platformDisplayMobileWebYn\":\"N\",\"memberGradeDisplayInfo\"\
                    :null,\"memberGroupDisplayInfo\":null,\"displayOrder\":1,\"banners\"\
                    :[{\"bannerNo\":4123,\"name\":\"배너 이미지\",\"nameColor\":\"#000000\"\
                    ,\"description\":\"배너 이미지 설명\",\"descriptionColor\":\"#000000\"\
                    ,\"imageUrl\":\"http://image.toast.com/abcd/image.png\",\"landingUrlType\"\
                    :\"IMAGE_MAP\",\"landingUrl\":\"http://newsection.com\",\"leftSpaceColor\"\
                    :\"#FFFFFF\",\"rightSpaceColor\":\"#FFFFFF\",\"browerTargetType\"\
                    :\"CURRENT\",\"mouseOverImageUrl\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"displayPeriodType\":\"REGULAR\",\"displayStartYmdt\":\"2026-06-17T07:04:54.086141149\"\
                    ,\"displayEndYmdt\":\"2026-06-24T07:04:54.086175569\",\"displayOrder\"\
                    :3,\"videoUrl\":\"http://ncp-video-url.com\"}]}]}]"
  /display/events/close:
    get:
      tags:
      - Event
      summary: 종료된 모든 이벤트 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n종료된 모든 이벤트 목록 조회하는 API입니다\n\n1일\
        \ 캐시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-closed-events
      parameters:
      - name: keyword
        in: query
        description: 태그 검색
        required: false
        schema:
          type: string
      - name: eventTitle
        in: query
        description: 이벤트명 검색
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: "페이지 번호 (default : 1)"
        required: false
        schema:
          type: number
      - name: pageSize
        in: query
        description: "한 페이지당 노출 수 (default : 10)"
        required: false
        schema:
          type: number
      - name: hasTotalCount
        in: query
        description: "목록 카운트 여부 (default : false)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-close1639109920'
              examples:
                get-closed-events:
                  value: "{\"items\":[{\"eventNo\":1,\"label\":\"1번 이벤트\",\"url\"\
                    :\"http://shop.com/eventpage\",\"id\":\"KO0001\",\"urlType\":\"\
                    DIRECT\",\"displayPeriodType\":\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\"\
                    ,\"endYmdt\":\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"이벤트\",\"eventYn\":\"Y\"}],\"totalCount\"\
                    :0}"
  /display/events/products:
    get:
      tags:
      - Event
      summary: 다수의 상품 번호로 이벤트 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n다수의 상품 번호로 이벤트 목록 조회하는 API입니다\n\n\
        * 예시. 10001, 10002 상품으로 조회 시, 10001상품이 포함된 기획전과 10002 상품이 포함된 기획전 모두 조회\n\n\
        1일 캐시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-events-by-product-nos
      parameters:
      - name: productNos
        in: query
        description: 상품 번호
        required: true
        schema:
          type: number
      - name: categoryNos
        in: query
        description: 전시 카테고리 번호로 검색
        required: false
        schema:
          type: number
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-products-productNo887382951'
              examples:
                get-events-by-product-nos:
                  value: "[{\"eventNo\":1,\"label\":\"1번 이벤트\",\"url\":\"http://shop.com/eventpage\"\
                    ,\"id\":\"KO0001\",\"urlType\":\"DIRECT\",\"displayPeriodType\"\
                    :\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\",\"endYmdt\"\
                    :\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"이벤트\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"}]"
  /display/events/search-by-name:
    get:
      tags:
      - Event
      summary: 기획전명으로 기획전 검색하기
      description: "## 부가설명 및 특이사항\n            \n기획전명으로 기획전을 조회하는 API입니다 ( like 검\
        색 ) \n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event-by-name
      parameters:
      - name: keyword
        in: query
        description: 검색어 (기획전 명)
        required: true
        schema:
          type: string
      - name: categoryNos
        in: query
        description: 전시 카테고리 번호로 검색
        required: false
        schema:
          type: number
      - name: onlyIngStatus
        in: query
        description: "진행중인 기획전만 검색 (default: false)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-search-by-name-443989176'
              examples:
                get-event-by-name:
                  value: "[{\"eventNo\":1,\"label\":\"10월 세일 이벤트\",\"url\":\"http://shop.com/eventpage\"\
                    ,\"id\":\"KO0001\",\"urlType\":\"DIRECT\",\"displayPeriodType\"\
                    :\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\",\"endYmdt\"\
                    :\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"프로모션\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"}]"
  /display/events/search-by-nos:
    get:
      tags:
      - Event
      summary: 기획전번호 리스트로 기획전 조회하기
      description: "## 부가설명 및 특이사항\n            \n기획전번호 리스트로 기획전을 조회하는 API 입니다.\n\n\
        현재 진행중인 기획전만 조회되고, 그 이외(진행대기, 종료)에는 조회되지 않습니다.\n\n플랫폼별, 멤버그룹별, 멤버등급별에 따라 접\
        근 불가능한 기획전은 조회되지 않습니다.\n\nproducts: 상품 목록 응답\n\n* 응답에서 기획전 내 상품목록은 전시순서가 가\
        장 앞선 1개의 섹션 상품 목록이 조회되며, 상품 전시 순서에 의해 정렬됩니다.\n\n* 상품 목록은 countPerEvent 변수에\
        \ 의해 응답 상품 개수가 제한되며,\n\n* 그 중 품절상품, 판매종료된 상품은 soldout, saleStatus 파라미터에 의해\
        \ 다시 제외될 수 있습니다.\n\n* 예를 들어, 15개의 상품 목록은 먼저 `countPerEvent = 10`에 의해 10개 상\
        품으로 제한되고, 품절상품 및 판매 종료 상품이 제외되어 실제 결과가 10개 미만으로 표시될 수 있습니다.\n\n ### OAUTH2\
        \ 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: search-event-by-event-nos
      parameters:
      - name: eventNos
        in: query
        description: "조회 대상 기획전번호 목록(\",\" 구분, 최소 1, 최대 10)"
        required: true
        schema:
          type: number
      - name: countPerEvent
        in: query
        description: "기획전별 조회 대상 상품 개수, 최소 1, 최대 10(DEFAULT)"
        required: false
        schema:
          type: string
      - name: soldout
        in: query
        description: "품절 상품 포함 여부(DEFAULT: false)"
        required: false
        schema:
          type: boolean
      - name: saleStatus
        in: query
        description: "판매 상태 (판매대기, 판매중 상품만 조회: READY_ONSALE, 판매중인 상품만 조회: ONSALE,\
          \ 예약판매중인 상품과 판매중인 상품만 조회: RESERVATION_AND_ONSALE)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-search-by-nos-823985503'
              examples:
                search-event-by-event-nos:
                  value: "[{\"event\":{\"eventNo\":1,\"label\":\"1번 이벤트\",\"url\"\
                    :\"http://shop.com/eventpage\",\"id\":\"KO0001\",\"urlType\":\"\
                    DIRECT\",\"displayPeriodType\":\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\"\
                    ,\"endYmdt\":\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"이벤트\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"},\"products\":[{\"productNo\":1000000,\"productName\"\
                    :\"테스트 상품\",\"productNameEn\":\"test product\",\"promotionText\"\
                    :\"String\",\"salePrice\":0,\"immediateDiscountAmt\":0,\"immediateDiscountUnitType\"\
                    :\"WON\",\"immediateDiscountStartYmdt\":\"2026-06-24T07:05:04.594393009\"\
                    ,\"immediateDiscountEndYmdt\":\"2026-06-24T07:05:04.594413853\"\
                    ,\"additionDiscountAmt\":0,\"additionDiscountUnitType\":\"WON\"\
                    ,\"minSalePrice\":0,\"maxSalePrice\":0,\"maxDiscountAmount\":0,\"\
                    liked\":false,\"likeCount\":0,\"partnerNo\":1,\"partnerName\"\
                    :\"String\",\"reviewRating\":1,\"totalReviewCount\":0,\"deliveryConditionType\"\
                    :\"FREE\",\"saleCnt\":0,\"stockCnt\":0,\"mainStockCnt\":0,\"brandNo\"\
                    :0,\"brandName\":\"String\",\"brandNameEn\":\"String\",\"brandNameKo\"\
                    :\"String\",\"brandNameType\":\"NAME_KO\",\"stickerInfos\":[{\"\
                    type\":\"TEXT\",\"label\":\"String\",\"no\":1,\"name\":\"스티커명\"\
                    }],\"stickerLabels\":[\"String\"],\"adult\":false,\"salePeriodType\"\
                    :\"REGULAR\",\"saleStartYmdt\":\"2022-03-04T14:00:00\",\"saleEndYmdt\"\
                    :\"2022-03-11T14:00:00\",\"saleStatusType\":\"FINISHED\",\"reservationData\"\
                    :{\"reservationStartYmdt\":\"2026-06-24T07:05:04.594428446\",\"\
                    reservationEndYmdt\":\"2026-06-24T07:05:04.59443307\",\"reservationDeliveryYmdt\"\
                    :\"2026-06-24T07:05:04.59443669\",\"reservationStockCnt\":0},\"\
                    imageUrls\":[\"String\"],\"listImageUrls\":[\"String\"],\"imageUrlInfo\"\
                    :[{\"url\":\"url\",\"imageUrlType\":\"IMAGE_URL\",\"isMain\":false}],\"\
                    listImageUrlInfo\":[{\"url\":\"url\",\"imageUrlType\":\"IMAGE_URL\"\
                    ,\"isMain\":false}],\"hasCoupons\":{\"product\":true,\"brand\"\
                    :true,\"category\":true,\"partner\":true,\"event\":true},\"couponTag\"\
                    :\"String\",\"maxCouponAmt\":0,\"couponDiscountAmt\":0,\"couponDiscountUnitType\"\
                    :\"WON\",\"registerYmdt\":\"2026-06-24T07:05:04.594461327\",\"\
                    contentsIfPausing\":\"\",\"optionValues\":[{\"mallProductNo\"\
                    :0,\"stockCnt\":0,\"optionValue\":\"string\"}],\"displayCategoryNos\"\
                    :\"1,2,3\",\"searchProductId\":\"String\",\"frontDisplayYn\":false,\"\
                    urlDirectDisplayYn\":false,\"productManagementCd\":\"String\"\
                    ,\"hsCode\":\"\",\"isSoldOut\":false,\"accumulationInfo\":{\"\
                    amount\":10,\"rewardRateOfProduct\":10,\"rewardRateOfMemberBenefit\"\
                    :10},\"accumulationUseInfo\":{\"usable\":true,\"accumulationInfo\"\
                    :{\"unitType\":\"PERCENT\",\"limitValue\":10}},\"groupManagementCode\"\
                    :\"GROUP0001\",\"groupManagementCodeName\":\"그룹코드01\",\"canAddToCart\"\
                    :true,\"expirationYmdt\":null,\"unitPriceInfo\":{\"name\":\"2\"\
                    ,\"type\":\"L\",\"price\":1000},\"customProperties\":[{\"propertyNo\"\
                    :1,\"propertyType\":\"STRING\",\"propertyValueNo\":1,\"propertyName\"\
                    :\"항목명\",\"propertyValue\":\"항목값\"}],\"rentalInfos\":[{\"rentalPeriod\"\
                    :12,\"monthlyRentalAmount\":10000,\"creditRating\":700,\"prePayment\"\
                    :null}],\"productSalePeriodType\":null,\"sectionProductStartYmdt\"\
                    :null,\"sectionProductEndYmdt\":null,\"enableCoupons\":true}]}]"
  /display/events/search-by-progress:
    get:
      tags:
      - Event
      summary: "키워드별, 진행상태별로 기획전 검색하기"
      description: "## 부가설명 및 특이사항\n            \n키워드별(기획전명 or 태그)와 진행상태별(진행중 or 진\
        행종료 or 진행예정)로 기획전을 조회하는 API입니다.\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event-by-keyword-and-progress
      parameters:
      - name: keyword
        in: query
        description: 검색어 (키워드 타입에 따라 태그 or 기획전명)
        required: true
        schema:
          type: string
      - name: keywordType
        in: query
        description: "검색어 타입 (TAG, NAME / default: 모두 포함)"
        required: false
        schema:
          type: string
      - name: categoryNos
        in: query
        description: 전시 카테고리 번호로 검색
        required: false
        schema:
          type: number
      - name: progressStatus
        in: query
        description: "진행상태 (ING - 진행중, READY - 진행예정, END - 진행종료, ALL / default: ING)\
          \ (공백없이 입력)"
        required: false
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-search-by-name-443989176'
              examples:
                get-event-by-keyword-and-progress:
                  value: "[{\"eventNo\":1,\"label\":\"10월 세일 이벤트\",\"url\":\"http://shop.com/eventpage\"\
                    ,\"id\":\"KO0001\",\"urlType\":\"DIRECT\",\"displayPeriodType\"\
                    :\"REGULAR\",\"startYmdt\":\"2020-01-01T00:00:00\",\"endYmdt\"\
                    :\"2030-12-31T12:59:59\",\"pcImageUrl\":\"http://shop.com/eventpage\"\
                    ,\"mobileimageUrl\":\"http://shop.com/eventpage\",\"promotionText\"\
                    :\"이벤트 홍보 문구\",\"tag\":\"프로모션\",\"eventYn\":\"Y\",\"progressStatus\"\
                    :\"ING\"}]"
  /display/events/sections:
    get:
      tags:
      - Event
      summary: 다수의 기획전 번호로 기획전 섹션 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n다수의 기획전 번호로 기획전 상품진열 목록 조회하는 API입\
        니다.\n\n현재 진행중인 기획전만 조회되고, 그 이외(진행대기, 종료)에는 조회되지 않습니다.\n\n플랫폼별, 멤버그룹별, 멤버등급\
        별에 따라 접근 불가능한 기획전은 조회되지 않습니다.\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-sections-by-event-nos
      parameters:
      - name: eventNos
        in: query
        description: 기획전 번호 리스트
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-sections-345681802'
              examples:
                get-sections-by-event-nos:
                  value: "[{\"eventNo\":1,\"sections\":[{\"eventNo\":1,\"sectionNo\"\
                    :100000,\"label\":\"테스트 기획전\",\"imageUrl\":\"https://example.com/image.jpg\"\
                    ,\"pcPerRow\":4,\"mobilePerRow\":2,\"displayOrder\":1}]}]"
  /display/events/{eventKey}:
    get:
      tags:
      - Event
      summary: 기획전 상세 조회하기 v2.0
      description: "## 부가설명 및 특이사항\n            \n 기획전을 조회하는 API입니다.\n 기획전에 상품진열을\
        \ 조회하는 API는 GET /display/events/{eventNo}/sections/{sectionNo} 를 이용바랍니다.\n\
        \ eventNo와 eventId 둘 다 검색 가능합니다.\n\n* 현재 진행중인 기획전만 조회되고, 그 이외(진행대기, 종료)에는\
        \ 조회되지 않습니다.\n\n* 플랫폼별, 멤버그룹별, 멤버등급별에 따라 접근 불가능한 기획전은 조회되지 않습니다.\n\n* 에러코드\
        : EVEC0001(기획전이 존재하지 않는 경우), EVEC0002(현재 진행중인 기획전이 아닌 경우), EVEC0003(접근할 수\
        \ 없는 기획전인 경우)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event-v2
      parameters:
      - name: eventKey
        in: path
        description: 기획전 번호 or 기획전 아이디
        required: true
        schema:
          type: string
      - name: includeNonMemberCoupon
        in: query
        description: "비로그인 고객의 상품 내 발급가능 쿠폰노출(default: false)"
        required: false
        schema:
          type: boolean
      - name: preview
        in: query
        description: "기획전 미리보기 여부(default: false)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "2.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-eventKey2015640116'
              examples:
                get-event-v2:
                  value: "{\"eventNo\":1051,\"label\":\"기획전 제목\",\"urlType\":\"DIRECT\"\
                    ,\"url\":\"url\",\"id\":\"KO0001\",\"displayPeriodType\":\"PERIOD\"\
                    ,\"startYmdt\":\"2026-06-24T07:05:05.599895197\",\"endYmdt\":\"\
                    2026-06-24T07:05:05.599897647\",\"pcImageUrl\":\"pc image url\"\
                    ,\"mobileimageUrl\":\"mobile image url\",\"tag\":\"tag\",\"categoryNos\"\
                    :[1,2,3],\"section\":[{\"sectionNo\":10000,\"label\":\"section\
                    \ 제목\",\"imageUrl\":\"section image url\",\"pcPerRow\":4,\"mobilePerRow\"\
                    :2,\"displayOrder\":2,\"displayableStock\":true}],\"coupon\":{\"\
                    coupons\":[{\"couponNo\":0,\"couponName\":\"세일 이벤트 쿠폰\",\"couponType\"\
                    :\"PRODUCT\",\"couponTargetType\":\"ALL_PRODUCT\",\"allianceRefererType\"\
                    :\"DIRECT\",\"downloadable\":false,\"imageUrl\":\"\",\"discountInfo\"\
                    :{\"fixedAmt\":false,\"discountAmt\":1,\"discountRate\":10,\"\
                    maxDiscountAmt\":1,\"freeDelivery\":false,\"useOtherCoupon\":false,\"\
                    skippedAccumulationAmt\":false},\"dateInfo\":{\"issueStartYmdt\"\
                    :\"2026-06-24T07:05:05.599870988\",\"issueEndYmdt\":\"2026-06-24T07:05:05.599873693\"\
                    ,\"issueStartHour\":12,\"issueEndHour\":15,\"issueDaysOfWeek\"\
                    :\"\"},\"useConstraint\":{\"useEndYmdt\":\"2026-06-24T07:05:05.599882326\"\
                    ,\"minSalePrice\":1,\"maxSalePrice\":10,\"minDeliveryAmt\":10,\"\
                    limitPayType\":\"KAKAO_PAY\",\"usablePlatformTypes\":[\"PC\"],\"\
                    useDays\":-1},\"issueConstraint\":{\"memberGradeName\":\"\",\"\
                    issuablePlatformTypes\":[\"PC\"],\"dailyIssueLimit\":false,\"\
                    dailyIssueLimitCnt\":0,\"issuePerPersonLimit\":false,\"issuePerPersonLimitCnt\"\
                    :0,\"dailyIssuePerPersonLimitCnt\":0},\"couponStatus\":{\"totalIssuableCnt\"\
                    :0,\"totalIssuedCnt\":0,\"totalIssuedCntToday\":0,\"issuableCnt\"\
                    :0,\"myIssuedCnt\":0,\"myIssuedCntToday\":0},\"couponSubType\"\
                    :\"NONE\"}],\"guideImageUrl\":\"\",\"issuedImageUrl\":\"\",\"\
                    alreadyIssuedImageUrl\":\"\",\"beforeIssueImageUrl\":\"\",\"soldOutImageUrl\"\
                    :\"\",\"dateExpiredImageUrl\":\"\"},\"top\":{\"pc\":{\"url\":\"\
                    html string\",\"type\":\"HTML\"},\"mobile\":{\"url\":\"html string\"\
                    ,\"type\":\"HTML\"}},\"orders\":[\"TOP\",\"SECTIONS\",\"COUPONS\"\
                    ],\"promotionText\":\"promotion text string\",\"eventYn\":\"Y\"\
                    }"
  /display/events/{eventNo}:
    get:
      tags:
      - Event
      summary: 기획전 상세 조회하기
      description: "## 부가설명 및 특이사항\n            \n ### 해당 API는 Deprecated 되고 향후 다른\
        \ API로 대체될 예정입니다.\n ### 변경 사항이 발생하면 공지를 통해 안내드리겠습니다.\n 기획전을 조회하는 API입니다.\n\
        \n* 현재 진행중인 기획전만 조회되고, 그 이외(진행대기, 종료)에는 조회되지 않습니다.\n\n* 플랫폼별, 멤버그룹별, 멤버등급별\
        에 따라 접근 불가능한 기획전은 조회되지 않습니다.\n\n* 에러코드: EVEC0001(기획전이 존재하지 않는 경우), EVEC0002(현\
        재 진행중인 기획전이 아닌 경우), EVEC0003(접근할 수 없는 기획전인 경우)\n\n* hasProductDetail 이 false\
        \ 인 경우 soldout, order, saleStatus 정보는 무시됩니다.\n\n* hasProductDetail 이 false\
        \ 인 경우 section.products 의 정보는 emptyList 로 내려갑니다. section.productNos 에서 상품번\
        호만 확인 가능합니다.\n\n* hasProductDetail 이 false 인 경우 section.productNos의 상품번호는\
        \ 상품상태, 판매기간, 회원등급/그룹, 플랫폼 구분을 체크하지 않고 기획전에 설정된 상품번호들을 내려줍니다.\n\n ### OAUTH2\
        \ 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event
      parameters:
      - name: eventNo
        in: path
        description: 기획전 번호
        required: true
        schema:
          type: number
      - name: order
        in: query
        description: "정렬조건(SALE: 판매시작일 오름차순 - default, ADMIN_SETTING: 관리자 설정 순서, BEST_SELLER:\
          \ 판매순, BEST_REVIEW: 리뷰순)"
        required: false
        schema:
          type: string
      - name: soldout
        in: query
        description: "품절 상품 포함 여부(default: false)"
        required: false
        schema:
          type: boolean
      - name: saleStatus
        in: query
        description: "판매 상태 (판매대기, 판매중 상품만 조회: READY_ONSALE, 판매중인 상품만 조회: ONSALE,\
          \ 예약판매중인 상품과 판매중인 상품만 조회: RESERVATION_AND_ONSALE)"
        required: false
        schema:
          type: string
      - name: hasProductDetail
        in: query
        description: "false 인 경우 상품정보를 내려주지 않고 상품 번호만 내려줍니다.(default: true)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-eventNo-925504388'
              examples:
                get-event:
                  value: "{\"eventNo\":1051,\"label\":\"기획전 제목\",\"urlType\":\"DIRECT\"\
                    ,\"url\":\"url\",\"id\":\"KO0001\",\"displayPeriodType\":\"PERIOD\"\
                    ,\"startYmdt\":\"2026-06-24T07:05:07.035714363\",\"endYmdt\":\"\
                    2026-06-24T07:05:07.035716196\",\"pcImageUrl\":\"pc image url\"\
                    ,\"mobileimageUrl\":\"mobile image url\",\"tag\":\"tag\",\"categoryNos\"\
                    :[1,2,3],\"section\":[{\"label\":\"section 제목\",\"imageUrl\":\"\
                    section image url\",\"pcPerRow\":4,\"mobilePerRow\":2,\"displayOrder\"\
                    :2,\"displayableStock\":true,\"products\":[{\"productNo\":1000000,\"\
                    productName\":\"테스트 상품\",\"productNameEn\":\"test product\",\"\
                    promotionText\":\"String\",\"salePrice\":0,\"immediateDiscountAmt\"\
                    :0,\"immediateDiscountUnitType\":\"WON\",\"immediateDiscountStartYmdt\"\
                    :\"2026-06-24T07:05:07.035648739\",\"immediateDiscountEndYmdt\"\
                    :\"2026-06-24T07:05:07.035651226\",\"additionDiscountAmt\":0,\"\
                    additionDiscountUnitType\":\"WON\",\"minSalePrice\":0,\"maxSalePrice\"\
                    :0,\"maxDiscountAmount\":0,\"liked\":false,\"likeCount\":0,\"\
                    partnerNo\":1,\"partnerName\":\"String\",\"reviewRating\":1,\"\
                    totalReviewCount\":0,\"deliveryConditionType\":\"FREE\",\"saleCnt\"\
                    :0,\"stockCnt\":0,\"mainStockCnt\":0,\"brandNo\":0,\"brandName\"\
                    :\"String\",\"brandNameEn\":\"String\",\"brandNameKo\":\"String\"\
                    ,\"brandNameType\":\"NAME_KO\",\"stickerInfos\":[{\"type\":\"\
                    TEXT\",\"label\":\"String\",\"no\":1,\"name\":\"스티커명\"}],\"stickerLabels\"\
                    :[\"String\"],\"adult\":false,\"salePeriodType\":\"REGULAR\",\"\
                    saleStartYmdt\":\"2022-03-04T14:00:00\",\"saleEndYmdt\":\"2022-03-11T14:00:00\"\
                    ,\"saleStatusType\":\"FINISHED\",\"reservationData\":{\"reservationStartYmdt\"\
                    :\"2026-06-24T07:05:07.035657228\",\"reservationEndYmdt\":\"2026-06-24T07:05:07.03565942\"\
                    ,\"reservationDeliveryYmdt\":\"2026-06-24T07:05:07.035661307\"\
                    ,\"reservationStockCnt\":0},\"imageUrls\":[\"String\"],\"listImageUrls\"\
                    :[\"String\"],\"imageUrlInfo\":[{\"url\":\"url\",\"imageUrlType\"\
                    :\"IMAGE_URL\",\"isMain\":false}],\"listImageUrlInfo\":[{\"url\"\
                    :\"url\",\"imageUrlType\":\"IMAGE_URL\",\"isMain\":false}],\"\
                    hasCoupons\":{\"product\":true,\"brand\":true,\"category\":true,\"\
                    partner\":true,\"event\":true},\"couponTag\":\"String\",\"maxCouponAmt\"\
                    :0,\"couponDiscountAmt\":0,\"couponDiscountUnitType\":\"WON\"\
                    ,\"registerYmdt\":\"2026-06-24T07:05:07.035665838\",\"contentsIfPausing\"\
                    :\"\",\"optionValues\":[{\"mallProductNo\":0,\"stockCnt\":0,\"\
                    optionValue\":\"string\"}],\"displayCategoryNos\":\"1,2,3\",\"\
                    searchProductId\":\"String\",\"frontDisplayYn\":false,\"urlDirectDisplayYn\"\
                    :false,\"productManagementCd\":\"String\",\"hsCode\":\"\",\"isSoldOut\"\
                    :false,\"accumulationInfo\":{\"amount\":10,\"rewardRateOfProduct\"\
                    :10,\"rewardRateOfMemberBenefit\":10},\"accumulationUseInfo\"\
                    :{\"usable\":true,\"accumulationInfo\":{\"unitType\":\"PERCENT\"\
                    ,\"limitValue\":10}},\"groupManagementCode\":\"GROUP0001\",\"\
                    groupManagementCodeName\":\"그룹코드01\",\"canAddToCart\":true,\"\
                    expirationYmdt\":null,\"unitPriceInfo\":{\"name\":\"2\",\"type\"\
                    :\"box\",\"price\":1000},\"customProperties\":[{\"propertyNo\"\
                    :1,\"propertyType\":\"STRING\",\"propertyValueNo\":11,\"propertyName\"\
                    :\"항목명\",\"propertyValue\":\"항목값\"}],\"rentalInfos\":[{\"rentalPeriod\"\
                    :12,\"monthlyRentalAmount\":10000,\"creditRating\":700,\"prePayment\"\
                    :null}],\"productSalePeriodType\":null,\"sectionProductStartYmdt\"\
                    :null,\"sectionProductEndYmdt\":null,\"enableCoupons\":true}],\"\
                    productNos\":[1000000]}],\"coupon\":{\"coupons\":[{\"couponNo\"\
                    :0,\"couponName\":\"세일 이벤트 쿠폰\",\"couponType\":\"PRODUCT\",\"\
                    couponTargetType\":\"ALL_PRODUCT\",\"allianceRefererType\":\"\
                    DIRECT\",\"downloadable\":false,\"imageUrl\":\"\",\"discountInfo\"\
                    :{\"fixedAmt\":false,\"discountAmt\":1,\"discountRate\":10,\"\
                    maxDiscountAmt\":1,\"freeDelivery\":false,\"useOtherCoupon\":false,\"\
                    skippedAccumulationAmt\":false},\"dateInfo\":{\"issueStartYmdt\"\
                    :\"2026-06-24T07:05:07.035678228\",\"issueEndYmdt\":\"2026-06-24T07:05:07.035680531\"\
                    ,\"issueStartHour\":12,\"issueEndHour\":15,\"issueDaysOfWeek\"\
                    :\"\"},\"useConstraint\":{\"useEndYmdt\":\"2026-06-24T07:05:07.035688236\"\
                    ,\"minSalePrice\":1,\"maxSalePrice\":10,\"minDeliveryAmt\":10,\"\
                    limitPayType\":\"KAKAO_PAY\",\"usablePlatformTypes\":[\"PC\"],\"\
                    useDays\":-1},\"issueConstraint\":{\"memberGradeName\":\"\",\"\
                    issuablePlatformTypes\":[\"PC\"],\"dailyIssueLimit\":false,\"\
                    dailyIssueLimitCnt\":0,\"issuePerPersonLimit\":false,\"issuePerPersonLimitCnt\"\
                    :0,\"dailyIssuePerPersonLimitCnt\":0},\"couponStatus\":{\"totalIssuableCnt\"\
                    :0,\"totalIssuedCnt\":0,\"totalIssuedCntToday\":0,\"issuableCnt\"\
                    :0,\"myIssuedCnt\":0,\"myIssuedCntToday\":0},\"couponSubType\"\
                    :\"NONE\"}],\"guideImageUrl\":\"\",\"issuedImageUrl\":\"\",\"\
                    alreadyIssuedImageUrl\":\"\",\"beforeIssueImageUrl\":\"\",\"soldOutImageUrl\"\
                    :\"\",\"dateExpiredImageUrl\":\"\"},\"top\":{\"pc\":{\"url\":\"\
                    html string\",\"type\":\"HTML\"},\"mobile\":{\"url\":\"html string\"\
                    ,\"type\":\"HTML\"}},\"orders\":[\"TOP\",\"SECTIONS\",\"COUPONS\"\
                    ],\"promotionText\":\"promotion text string\",\"eventYn\":\"Y\"\
                    }"
      deprecated: true
  /display/popups/{popupNos}:
    get:
      tags:
      - Popup
      summary: 팝업 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n팝업 번호로 전체 팝업 목록 조회하는 API입니다\n\n\
        \ ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n## 화면\
        \ 예시\n                \n[![POPUP_LIST_IMG](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_popups_popupNos%20%ED%8C%9D%EC%97%85%20%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C(cached).png?autox150)](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_popups_popupNos%20%ED%8C%9D%EC%97%85%20%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C(cached).png)"
      operationId: get-popups-by-popup-nos
      parameters:
      - name: popupNos
        in: path
        description: "조회 할 팝업 번호(,로 구분한 배열) / 샵바이 어드민에서 등록된 팝업 번호입니다"
        required: true
        schema:
          type: string
      - name: pageType
        in: query
        description: "페이지 유형 (메인페이지: MAIN, 전시카테고리: CATEGORY, 기획전: EVENT, 상품: PRODUCT)"
        required: false
        schema:
          type: string
      - name: targetNo
        in: query
        description: 페이지 번호 (페이지 유형에 따른 페이지 번호)
        required: false
        schema:
          type: integer
          format: int32
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-popups-ids-popupIds-1768711749'
              examples:
                get-popups-by-popup-nos:
                  value: "[{\"mallNo\":1,\"title\":\"팝업 라벨\",\"popupDesignType\":\"\
                    NORMAL\",\"visibleToday\":true,\"popupNo\":1,\"label\":\"팝업 라벨\
                    \",\"height\":200,\"width\":400,\"type\":\"WINDOW\",\"displayTypes\"\
                    :[\"PC\"],\"content\":\"팝업 내용\",\"startYmdt\":\"2026-06-24T07:04:56.705593646\"\
                    ,\"endYmdt\":\"2026-06-24T07:04:56.70561661\",\"popupPosition\"\
                    :\"MIDDLE\",\"pageInfos\":{\"pageTypes\":[\"MAIN\"],\"displayCategoryInfos\"\
                    :[{\"depth\":1,\"displayCategoryNo\":123}],\"eventInfos\":[],\"\
                    mallProductInfos\":[]},\"popupId\":\"팝업 아이디\",\"popupSlideInfo\"\
                    :{\"slideDirection\":\"FIXED\",\"slideSpeed\":4,\"slideMaxWidth\"\
                    :0,\"slideMaxHeight\":0,\"slideMinWidth\":0,\"slideMinHeight\"\
                    :0,\"slideCount\":\"TWO_BY_ONE\",\"resizable\":false,\"slideImages\"\
                    :[{\"popupImageNo\":0,\"hasUploaded\":true,\"mainImageUrl\":\"\
                    \",\"thumbImageUrl\":\"\",\"thumbImageUrlOnOver\":\"\",\"landingUrl\"\
                    :\"\",\"openLocationTarget\":\"SELF\"}]},\"detailInfo\":{\"screenType\"\
                    :\"FIXED\",\"screenWidth\":300,\"screenWidthUnit\":\"PIXEL\",\"\
                    screenHeight\":300,\"screenHeightUnit\":\"PIXEL\",\"resizable\"\
                    :false,\"screenLeftPosition\":0,\"screenLeftUnit\":\"PIXEL\",\"\
                    screenTopPosition\":0,\"screenTopUnit\":\"PIXEL\",\"bgColor\"\
                    :\"\"}}]"
  /display/sections/{sectionNo}:
    get:
      tags:
      - ProductSection
      summary: 상품 진열 조회하기 (단일 진열) v2.0
      description: "## 부가설명 및 특이사항\n            \n상품 진열 번호(sectionNo)를 기준으로 상품 진열을\
        \ 조회하는 API 입니다. `버전 v2.0` API 입니다.\n\n상품에 대한 조회는 상품 진열 상세조회 API 를 통해 호출이 필\
        요합니다.\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-section-v2
      parameters:
      - name: sectionNo
        in: path
        description: 상품 진열 번호 (샵바이 어드민에서 입력한 상품 진열 번호입니다)
        required: true
        schema:
          type: number
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "2.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-sections-sectionNo1428912410'
              examples:
                get-section-v2:
                  value: "{\"sectionNo\":1060,\"label\":\"상품섹션 v1.1 타이틀\",\"promotionText\"\
                    :\"promotionText\",\"sectionExplain\":\"sectionExplain\",\"imageUrl\"\
                    :\"상품 섹션 이미지 URL\",\"leftSpaceColor\":\"#d85670\",\"rightSpaceColor\"\
                    :\"#d85670\"}"
  /display/banners/id/{bannerSectionIds}:
    get:
      tags:
      - Banner
      summary: 배너 목록 조회하기(ID)
      description: "## 부가설명 및 특이사항\n            \nID 정보로 배너들을 조회하는 API입니다\n\n5분 캐시\
        하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n## 화면\
        \ 예시\n                \n[![banner-list-img](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_banners_bannerSectionCodes%20%EB%B0%B0%EB%84%88%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C%20(cached).png?autox150)](http://image.toast.com/aaaaahb/api-description/display/[GET]%20display_banners_bannerSectionCodes%20%EB%B0%B0%EB%84%88%EB%AA%A9%EB%A1%9D%20%EC%A1%B0%ED%9A%8C%20(cached).png)"
      operationId: get-banners-with-ids
      parameters:
      - name: bannerSectionIds
        in: path
        description: "조회할 배너 섹션 ID(,로 구분한 배열) / 샵바이 어드민에서 입력한 섹션 ID 입니다"
        required: true
        schema:
          type: string
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-banners-bannerSectionCodes1511148210'
              examples:
                get-banners-with-ids:
                  value: "[{\"bannerSectionNo\":1,\"label\":\"배너 라벨명\",\"code\":\"\
                    001\",\"groupNo\":1,\"platformDisplayPcYn\":\"N\",\"platformDisplayMobileYn\"\
                    :\"N\",\"platformDisplayMobileWebYn\":\"N\",\"memberGradeDisplayInfo\"\
                    :null,\"memberGroupDisplayInfo\":null,\"accounts\":[{\"accountNo\"\
                    :1,\"accountName\":\"구좌명\",\"displayType\":\"SEQUENTIAL\",\"height\"\
                    :300,\"width\":200,\"platformDisplayPcYn\":\"N\",\"platformDisplayMobileYn\"\
                    :\"N\",\"platformDisplayMobileWebYn\":\"N\",\"memberGradeDisplayInfo\"\
                    :null,\"memberGroupDisplayInfo\":null,\"displayOrder\":1,\"banners\"\
                    :[{\"bannerNo\":4123,\"name\":\"배너 이미지\",\"nameColor\":\"#000000\"\
                    ,\"description\":\"배너 이미지 설명\",\"descriptionColor\":\"#000000\"\
                    ,\"imageUrl\":\"http://image.toast.com/abcd/image.png\",\"landingUrlType\"\
                    :\"IMAGE_MAP\",\"landingUrl\":\"http://newsection.com\",\"leftSpaceColor\"\
                    :\"#FFFFFF\",\"rightSpaceColor\":\"#FFFFFF\",\"browerTargetType\"\
                    :\"CURRENT\",\"mouseOverImageUrl\":\"http://image.toast.com/abcd/mouse_over.png\"\
                    ,\"displayPeriodType\":\"REGULAR\",\"displayStartYmdt\":\"2026-06-17T07:04:58.339775813\"\
                    ,\"displayEndYmdt\":\"2026-06-24T07:04:58.339799953\",\"displayOrder\"\
                    :3,\"videoUrl\":\"http://ncp-video-url.com\"}]}]}]"
  /display/events/ids/{eventId}:
    get:
      tags:
      - Event
      summary: 기획전 ID로 상세 조회하기 v2.0
      description: "## 부가설명 및 특이사항\n            \nID로 기획전을 조회하는 API입니다.\n\n기획전에 상품\
        진열을 조회하는 API는 GET /display/events/{eventNo}/sections/{sectionNo} 를 이용바랍니다\
        .\n\n현재 진행중인 기획전만 조회되고, 그 이외(진행대기, 종료)에는 조회되지 않습니다.\n\n플랫폼별, 멤버그룹별, 멤버등급별에\
        \ 따라 접근 불가능한 기획전은 조회되지 않습니다.\n\n에러코드: EVEC0001(기획전이 존재하지 않는 경우), EVEC0002(현\
        재 진행중인 기획전이 아닌 경우), EVEC0003(접근할 수 없는 기획전인 경우)\n\n ### OAUTH2 참고사항\n* [Oauth2\
        \ API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-event-by-id
      parameters:
      - name: eventId
        in: path
        description: 기획전 ID
        required: true
        schema:
          type: string
      - name: includeNonMemberCoupon
        in: query
        description: "비로그인 고객의 상품 내 발급가능 쿠폰노출(default: false)"
        required: false
        schema:
          type: boolean
      - name: preview
        in: query
        description: "기획전 미리보기 여부(default: false)"
        required: false
        schema:
          type: boolean
      - name: order
        in: query
        description: "정렬조건(SALE: 판매시작일 오름차순 - default, ADMIN_SETTING: 관리자 설정 순서, BEST_SELLER:\
          \ 판매순, BEST_REVIEW: 리뷰순)"
        required: false
        schema:
          type: string
      - name: soldout
        in: query
        description: "품절 상품 포함 여부(default: false)"
        required: false
        schema:
          type: boolean
      - name: saleStatus
        in: query
        description: "판매 상태 (판매대기, 판매중 상품만 조회: READY_ONSALE, 판매중인 상품만 조회: ONSALE,\
          \ 예약판매중인 상품과 판매중인 상품만 조회: RESERVATION_AND_ONSALE)"
        required: false
        schema:
          type: string
      - name: hasProductDetail
        in: query
        description: "false 인 경우 상품정보를 내려주지 않고 상품 번호만 내려줍니다.(default: true)"
        required: false
        schema:
          type: boolean
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "2.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/display-events-ids-eventId1059187934'
              examples:
                get-event-by-id-v2:
                  value: "{\"eventNo\":1051,\"label\":\"기획전 제목\",\"urlType\":\"DIRECT\"\
                    ,\"url\":\"url\",\"id\":\"KO0001\",\"displayPeriodType\":\"PERIOD\"\
                    ,\"startYmdt\":\"2026-06-24T07:05:02.423778549\",\"endYmdt\":\"\
                    2026-06-24T07:05:02.423782075\",\"pcImageUrl\":\"pc image url\"\
                    ,\"mobileimageUrl\":\"mobile image url\",\"tag\":\"tag\",\"categoryNos\"\
                    :[1,2,3],\"section\":[{\"sectionNo\":10000,\"label\":\"section\
                    \ 제목\",\"imageUrl\":\"section image url\",\"pcPerRow\":4,\"mobilePerRow\"\
                    :2,\"displayOrder\":2,\"displayableStock\":true}],\"coupon\":{\"\
                    coupons\":[{\"couponNo\":0,\"couponName\":\"세일 이벤트 쿠폰\",\"couponType\"\
                    :\"PRODUCT\",\"couponTargetType\":\"ALL_PRODUCT\",\"allianceRefererType\"\
                    :\"DIRECT\",\"downloadable\":false,\"imageUrl\":\"\",\"discountInfo\"\
                    :{\"fixedAmt\":false,\"discountAmt\":1,\"discountRate\":10,\"\
                    maxDiscountAmt\":1,\"freeDelivery\":false,\"useOtherCoupon\":false,\"\
                    skippedAccumulationAmt\":false},\"dateInfo\":{\"issueStartYmdt\"\
                    :\"2026-06-24T07:05:02.42375028\",\"issueEndYmdt\":\"2026-06-24T07:05:02.423754514\"\
                    ,\"issueStartHour\":12,\"issueEndHour\":15,\"issueDaysOfWeek\"\
                    :\"\"},\"useConstraint\":{\"useEndYmdt\":\"2026-06-24T07:05:02.423763837\"\
                    ,\"minSalePrice\":1,\"maxSalePrice\":10,\"minDeliveryAmt\":10,\"\
                    limitPayType\":\"KAKAO_PAY\",\"usablePlatformTypes\":[\"PC\"],\"\
                    useDays\":-1},\"issueConstraint\":{\"memberGradeName\":\"\",\"\
                    issuablePlatformTypes\":[\"PC\"],\"dailyIssueLimit\":false,\"\
                    dailyIssueLimitCnt\":0,\"issuePerPersonLimit\":false,\"issuePerPersonLimitCnt\"\
                    :0,\"dailyIssuePerPersonLimitCnt\":0},\"couponStatus\":{\"totalIssuableCnt\"\
                    :0,\"totalIssuedCnt\":0,\"totalIssuedCntToday\":0,\"issuableCnt\"\
                    :0,\"myIssuedCnt\":0,\"myIssuedCntToday\":0},\"couponSubType\"\
                    :\"NONE\"}],\"guideImageUrl\":\"\",\"issuedImageUrl\":\"\",\"\
                    alreadyIssuedImageUrl\":\"\",\"beforeIssueImageUrl\":\"\",\"soldOutImageUrl\"\
                    :\"\",\"dateExpiredImageUrl\":\"\"},\"top\":{\"pc\":{\"url\":\"\
                    html string\",\"type\":\"HTML\"},\"mobile\":{\"url\":\"html string\"\
                    ,\"type\":\"HTML\"}},\"orders\":[\"TOP\",\"SECTIONS\",\"COUPONS\"\
                    ],\"promotionText\":\"promotion text string\",\"eventYn\":\"Y\"\
                    }"
                get-event-by-id:
                  value: "{\"eventNo\":1051,\"label\":\"기획전 제목\",\"urlType\":\"DIRECT\"\
                    ,\"url\":\"url\",\"id\":\"KO0001\",\"displayPeriodType\":\"PERIOD\"\
                    ,\"startYmdt\":\"2026-06-24T07:05:05.794735225\",\"endYmdt\":\"\
                    2026-06-24T07:05:05.794737498\",\"pcImageUrl\":\"pc image url\"\
                    ,\"mobileimageUrl\":\"mobile image url\",\"tag\":\"tag\",\"categoryNos\"\
                    :[1,2,3],\"section\":[{\"label\":\"section 제목\",\"imageUrl\":\"\
                    section image url\",\"pcPerRow\":4,\"mobilePerRow\":2,\"displayOrder\"\
                    :2,\"displayableStock\":true,\"products\":[{\"productNo\":1000000,\"\
                    productName\":\"테스트 상품\",\"productNameEn\":\"test product\",\"\
                    promotionText\":\"String\",\"salePrice\":0,\"immediateDiscountAmt\"\
                    :0,\"immediateDiscountUnitType\":\"WON\",\"immediateDiscountStartYmdt\"\
                    :\"2026-06-24T07:05:05.794663589\",\"immediateDiscountEndYmdt\"\
                    :\"2026-06-24T07:05:05.794666741\",\"additionDiscountAmt\":0,\"\
                    additionDiscountUnitType\":\"WON\",\"minSalePrice\":0,\"maxSalePrice\"\
                    :0,\"maxDiscountAmount\":0,\"liked\":false,\"likeCount\":0,\"\
                    partnerNo\":1,\"partnerName\":\"String\",\"reviewRating\":1,\"\
                    totalReviewCount\":0,\"deliveryConditionType\":\"FREE\",\"saleCnt\"\
                    :0,\"stockCnt\":0,\"mainStockCnt\":0,\"brandNo\":0,\"brandName\"\
                    :\"String\",\"brandNameEn\":\"String\",\"brandNameKo\":\"String\"\
                    ,\"brandNameType\":\"NAME_KO\",\"stickerInfos\":[{\"type\":\"\
                    TEXT\",\"label\":\"String\",\"no\":1,\"name\":\"스티커명\"}],\"stickerLabels\"\
                    :[\"String\"],\"adult\":false,\"salePeriodType\":\"REGULAR\",\"\
                    saleStartYmdt\":\"2022-03-04T14:00:00\",\"saleEndYmdt\":\"2022-03-11T14:00:00\"\
                    ,\"saleStatusType\":\"FINISHED\",\"reservationData\":{\"reservationStartYmdt\"\
                    :\"2026-06-24T07:05:05.794673136\",\"reservationEndYmdt\":\"2026-06-24T07:05:05.794675706\"\
                    ,\"reservationDeliveryYmdt\":\"2026-06-24T07:05:05.794677937\"\
                    ,\"reservationStockCnt\":0},\"imageUrls\":[\"String\"],\"listImageUrls\"\
                    :[\"String\"],\"imageUrlInfo\":[{\"url\":\"url\",\"imageUrlType\"\
                    :\"IMAGE_URL\",\"isMain\":false}],\"listImageUrlInfo\":[{\"url\"\
                    :\"url\",\"imageUrlType\":\"IMAGE_URL\",\"isMain\":false}],\"\
                    hasCoupons\":{\"product\":true,\"brand\":true,\"category\":true,\"\
                    partner\":true,\"event\":true},\"couponTag\":\"String\",\"maxCouponAmt\"\
                    :0,\"couponDiscountAmt\":0,\"couponDiscountUnitType\":\"WON\"\
                    ,\"registerYmdt\":\"2026-06-24T07:05:05.794682956\",\"contentsIfPausing\"\
                    :\"\",\"optionValues\":[{\"mallProductNo\":0,\"stockCnt\":0,\"\
                    optionValue\":\"string\"}],\"displayCategoryNos\":\"1,2,3\",\"\
                    searchProductId\":\"String\",\"frontDisplayYn\":false,\"urlDirectDisplayYn\"\
                    :false,\"productManagementCd\":\"String\",\"hsCode\":\"\",\"isSoldOut\"\
                    :false,\"accumulationInfo\":{\"amount\":10,\"rewardRateOfProduct\"\
                    :10,\"rewardRateOfMemberBenefit\":10},\"accumulationUseInfo\"\
                    :{\"usable\":true,\"accumulationInfo\":{\"unitType\":\"PERCENT\"\
                    ,\"limitValue\":10}},\"groupManagementCode\":\"GROUP0001\",\"\
                    groupManagementCodeName\":\"그룹코드01\",\"canAddToCart\":true,\"\
                    expirationYmdt\":null,\"unitPriceInfo\":{\"name\":\"2\",\"type\"\
                    :\"box\",\"price\":1000},\"customProperties\":[{\"propertyNo\"\
                    :1,\"propertyType\":\"STRING\",\"propertyValueNo\":11,\"propertyName\"\
                    :\"항목명\",\"propertyValue\":\"항목값\"}],\"rentalInfos\":[{\"rentalPeriod\"\
                    :12,\"monthlyRentalAmount\":10000,\"creditRating\":700,\"prePayment\"\
                    :null}],\"productSalePeriodType\":null,\"sectionProductStartYmdt\"\
                    :null,\"sectionProductEndYmdt\":null,\"enableCoupons\":true}],\"\
                    productNos\":[1000000]}],\"coupon\":{\"coupons\":[{\"couponNo\"\
                    :0,\"couponName\":\"세일 이벤트 쿠폰\",\"couponType\":\"PRODUCT\",\"\
                    couponTargetType\":\"ALL_PRODUCT\",\"allianceRefererType\":\"\
                    DIRECT\",\"downloadable\":false,\"imageUrl\":\"\",\"discountInfo\"\
                    :{\"fixedAmt\":false,\"discountAmt\":1,\"discountRate\":10,\"\
                    maxDiscountAmt\":1,\"freeDelivery\":false,\"useOtherCoupon\":false,\"\
                    skippedAccumulationAmt\":false},\"dateInfo\":{\"issueStartYmdt\"\
                    :\"2026-06-24T07:05:05.794695661\",\"issueEndYmdt\":\"2026-06-24T07:05:05.794698448\"\
                    ,\"issueStartHour\":12,\"issueEndHour\":15,\"issueDaysOfWeek\"\
                    :\"\"},\"useConstraint\":{\"useEndYmdt\":\"2026-06-24T07:05:05.794706232\"\
                    ,\"minSalePrice\":1,\"maxSalePrice\":10,\"minDeliveryAmt\":10,\"\
                    limitPayType\":\"KAKAO_PAY\",\"usablePlatformTypes\":[\"PC\"],\"\
                    useDays\":-1},\"issueConstraint\":{\"memberGradeName\":\"\",\"\
                    issuablePlatformTypes\":[\"PC\"],\"dailyIssueLimit\":false,\"\
                    dailyIssueLimitCnt\":0,\"issuePerPersonLimit\":false,\"issuePerPersonLimitCnt\"\
                    :0,\"dailyIssuePerPersonLimitCnt\":0},\"couponStatus\":{\"totalIssuableCnt\"\
                    :0,\"totalIssuedCnt\":0,\"totalIssuedCntToday\":0,\"issuableCnt\"\
                    :0,\"myIssuedCnt\":0,\"myIssuedCntToday\":0},\"couponSubType\"\
                    :\"NONE\"}],\"guideImageUrl\":\"\",\"issuedImageUrl\":\"\",\"\
                    alreadyIssuedImageUrl\":\"\",\"beforeIssueImageUrl\":\"\",\"soldOutImageUrl\"\
                    :\"\",\"dateExpiredImageUrl\":\"\"},\"top\":{\"pc\":{\"url\":\"\
                    html string\",\"type\":\"HTML\"},\"mobile\":{\"url\":\"html string\"\
                    ,\"type\":\"HTML\"}},\"orders\":[\"TOP\",\"SECTIONS\",\"COUPONS\"\
                    ],\"promotionText\":\"promotion text string\",\"eventYn\":\"Y\"\
                    }"
  /display/events/products/{productNo}:
    get:
      tags:
      - Event
      summary: 특정 상품을 포함하는 이벤트 목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n특정 상품을 포함하는 이벤트 목록 조회 API입니다\n\n\
        1일 캐시하여 사용하고 있습니다. (cached)\n\n ### OAUTH2 참고사항\n* [Oauth2 API](https://docs.shopby.co.kr/?url.primaryName=auth/#/OAUTH2/post-oauth2-token)\
        \ 를 사용하여 토큰을 발급받은 경우,\n* 기존 accessToken 대신 Shop-By-Authorization 로 액세스 토큰을\
        \ 전달해야합니다.\n* ex) Shop-By-Authorization : Bearer test-access-token\n"
      operationId: get-events-by-product-no
      parameters:
      - name: productNo
        in: path
        description: 상품 번호
        required: true
        schema:
          type: number
      - name: Version
        in: header
        description: API 버전
        required: true
        schema:
          type: string
        example: "1.0"
      - name: accessToken
        in: header
        description: 회원 엑세스 토큰(OAuth2 스펙)
        required: false
        schema:
          type: string
        example: AccessToken
      - name: clientId
        in: header
        description: 쇼핑몰 클라이언트 아이디
        required: true
        schema:
          type: string
        example: test-client-id
      - name: platform
        in: header
        description: "PC - PC 웹 브라우저에서 접근 시, MOBILE_WEB - 모바일 웹 브라우저에서 접근 시, AOS -\
          \ Android 앱에서 접근 시, IOS - iOS 앱에서 접근 시"
        required: true
        schema:
          type: string
        example: PC
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
[...]
