openapi: 3.0.1
info:
  title: product-server
  description: ' 상품(product)관련 server API입니다.'
  version: 0.0.1-SNAPSHOT
servers:
- url: https://server-api.e-ncp.com
tags:
- name: Brand
  description: 브랜드
- name: Configuration
  description: 설정
- name: Product
  description: 상품
- name: Custom Property
  description: 상품 추가 항목
- name: Duty Category
  description: 상품 정보 고시
- name: Profile
  description: 프로필 (회원)
- name: Product Guide
  description: 상품 이용 안내
- name: Purchase Permission
  description: 구매 권한
paths:
  /brands:
    get:
      tags:
      - Brand
      summary: 브랜드 전체 조회하기(트리 구조) version 2.0
      description: "## 부가설명 및 특이사항\n            \n브랜드 전체 조회(트리 구조)하는 API입니다\n"
      operationId: get-brands
      parameters:
      - name: version
        in: header
        description: API 버전^|2.0
        required: true
        schema:
          type: string
        example: "2.0"
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brands488206837'
              examples:
                get-brands-tree-view:
                  value: "[{\"no\":111,\"mainName\":\"NIKE\",\"subName\":\"나이키\",\"\
                    children\":[]}]"
                get-brands:
                  value: "[{\"brandNo\":1,\"displayBrandNo\":1,\"name\":\"나이키\",\"\
                    nameKo\":\"한글 브랜드명\",\"nameEn\":\"영문 브랜드명\",\"nameType\":\"NAME_KO\"\
                    ,\"makerName\":\"나이키\",\"logoImageUrl\":\"www.nike.com/nike.logo\"\
                    ,\"homepageUrl\":\"www.nike.com\",\"description\":\"신규 의류 브랜드\
                    \ 입니다.\",\"displayAreaContentUrl\":\"이미지 정보\",\"extraInfo\":\"\
                    추가 설명입니다.\",\"mainImageContents\":\"세부 내용\",\"detailContents\"\
                    :\"브랜드 이미지 또는 브랜드 관련 동영상 url\"}]"
    put:
      tags:
      - Brand
      summary: 브랜드 수정하기
      description: "## 부가설명 및 특이사항\n            \n브랜드를 수정하는 API 입니다.\n\n한 번에 최대 500개\
        까지 수정할 수 있습니다.\n"
      operationId: modify-brands
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brands-1783285449'
            examples:
              modify-brands:
                value: "[{\"no\":41,\"depth\":2,\"parentNo\":101,\"mainName\":\"LMC\"\
                  ,\"subName\":\"\",\"displayAreaContentUrl\":\"image.com/lmc/121212\"\
                  ,\"description\":\"의류 브랜드\",\"extraInfo\":\"\",\"brandUseYn\":\"\
                  Y\"}]"
      responses:
        "204":
          description: "204"
    post:
      tags:
      - Brand
      summary: 브랜드 생성하기
      description: "## 부가설명 및 특이사항\n            \n브랜드를 생성하는 API 입니다.\n\n한 번에 최대 500개\
        까지 생성할 수 있습니다.\n\n브랜드명 타입(`NAME_KO`, `NAME_EN`)에 따라 한글 또는 영문 브랜드명이 표시됩니다.\n\
        \n* 동일한 타입에 대해 동일한 브랜드명이 있는 경우, 브랜드 생성이 되지 않고 기존 브랜드가 응답에 포함됩니다.\n\n* 예시:\
        \ `NAME_KO` 타입의 `나이키`라는 한글 브랜드명이 기존에 존재할 때, 동일하게 `NAME_KO` 타입의 한글 브랜드명 `나이\
        키`를 요청한 경우\n"
      operationId: create-brands
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/brands1145846976'
            examples:
              create-brands:
                value: "{\"brands\":[{\"brandNameKo\":\"나이키\",\"brandNameEn\":\"NIKE\"\
                  ,\"brandNameType\":\"NAME_KO\"},{\"brandNameKo\":\"아디다스\",\"brandNameEn\"\
                  :\"ADIDAS\",\"brandNameType\":\"NAME_EN\"}]}"
              create-brands2:
                value: "[{\"parentNo\":0,\"mainName\":\"LMC\",\"subName\":\"\",\"\
                  displayAreaContentUrl\":\"image.com/lmc/121212\",\"description\"\
                  :\"의류 브랜드\",\"extraInfo\":\"\",\"children\":[]}]"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brands-795781552'
              examples:
                create-brands:
                  value: "{\"brands\":[{\"brandNo\":0,\"displayBrandNo\":0,\"brandNameKo\"\
                    :\" NIKE\",\"brandNameEn\":\"나이키\",\"brandName\":\"나이키\"}],\"\
                    failureBrands\":[{\"brandNo\":1,\"displayBrandNo\":1,\"brandNameKo\"\
                    :\"아디다스\",\"brandNameEn\":\"ADIDAS\",\"brandName\":\"ADIDAS\"\
                    }]}"
        "204":
          description: "204"
    delete:
      tags:
      - Brand
      summary: 브랜드 삭제하기
      description: "## 부가설명 및 특이사항\n            \n브랜드를 삭제하는 API 입니다.\n\n한 번에 최대 500개\
        까지 삭제할 수 있습니다.\n"
      operationId: delete-brands
      parameters:
      - name: displayBrandNos
        in: query
        description: "삭제할 전시브랜드번호 ','로 다수건 삭제 (1,122,31)"
        required: true
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "204":
          description: "204"
  /brands/{displayBrandNo}:
    get:
      tags:
      - Brand
      summary: 브랜드 상세 조회하기
      description: "## 부가설명 및 특이사항\n            \n브랜드 상세 조회하는 API입니다\n\n* 조회하고자하는\
        \ 브랜드의 depth 순서와는 무관하게 조회 가능합니다.\n"
      operationId: get-brand-detail
      parameters:
      - name: displayBrandNo
        in: path
        description: 전시브랜드 번호^|1
        required: true
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brands-displayBrandNo-94055997'
              examples:
                get-brand-detail:
                  value: "{\"no\":1,\"mainName\":\"NIKE\",\"subName\":\"나이키\",\"depth\"\
                    :1,\"displayAreaContentUrl\":\"image.com/12312312\",\"description\"\
                    :\"스포츠 브랜드\",\"extraInfo\":\"\",\"mainImageContents\":\"\",\"\
                    detailContents\":\"\",\"children\":[]}"
  /custom-properties:
    get:
      tags:
      - Custom Property
      summary: 상품 추가항목 전체 조회하기
      description: "## 부가설명 및 특이사항\n            \n전체 상품 추가항목을 조회하는 API입니다\n"
      operationId: get-custom-property
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-properties-53274064'
              examples:
                get-custom-property:
                  value: "[{\"propertyNo\":1,\"propertyName\":\"시즌\",\"multiSelectionEnabled\"\
                    :false,\"values\":[{\"valueNo\":1,\"valueName\":\"S/S\"},{\"valueNo\"\
                    :2,\"valueName\":\"F/W\"}]}]"
  /custom-properties/{productNo}/mappings:
    post:
      tags:
      - Custom Property
      summary: 상품 추가항목 매핑 추가
      description: 상품에 추가항목 값을 개별 추가합니다. 기존 매핑은 유지하고 신규 매핑만 INSERT합니다.
      operationId: add-custom-properties
      parameters:
      - name: productNo
        in: path
        description: 상품번호
        required: true
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-properties-productNo-mappings-1712002327'
            examples:
              add-custom-properties:
                value: "{\"propValueNos\":[1,2,3]}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-properties-productNo-mappings1661982912'
              examples:
                add-custom-properties:
                  value: "{\"successPropValueNos\":[1,2,3],\"failedPropValueNos\"\
                    :[]}"
    delete:
      tags:
      - Custom Property
      summary: 상품 추가항목 매핑 삭제
      description: 상품에서 추가항목 값을 개별 삭제합니다. 지정한 매핑만 DELETE하고 나머지는 유지합니다.
      operationId: remove-custom-properties
      parameters:
      - name: productNo
        in: path
        description: 상품번호
        required: true
        schema:
          type: number
      - name: propValueNos
        in: query
        description: 삭제할 추가항목 값 번호 목록 (콤마 구분)
        required: true
        schema:
          type: string
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-properties-productNo-mappings1661982912'
              examples:
                remove-custom-properties:
                  value: "{\"successPropValueNos\":[1,2],\"failedPropValueNos\":[]}"
  /duty-categories:
    get:
      tags:
      - Duty Category
      summary: 상품 정보 고시 항목 조회하기
      description: "## 부가설명 및 특이사항\n            \n상품 정보 고시 항목 조회하는 API입니다\n"
      operationId: get-duty-categories
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/duty-categories1409269806'
              examples:
                get-duty-categories:
                  value: "[{\"dutyCategoryNo\":1,\"dutyCategoryName\":\"항공\",\"dutyCategoryDescription\"\
                    :\"설명\",\"dutyCategoryContents\":[{\"displayOrder\":1,\"contentName\"\
                    :\"가격에 포함되지 않은 내역 및 금액\",\"dataType\":\"text\",\"maxLength\":0,\"\
                    descriptions\":[\"유류할증료\",\"공항이용료\"]}]}]"
  /like-products:
    get:
      tags:
      - Profile
      summary: 회원이 좋아하는 상품목록 조회하기
      description: "## 부가설명 및 특이사항\n            \n회원이 좋아한 상품을 조회하는 API입니다\n\nmemberId와\
        \ memberNo 둘 중 하나 필수 값이며 memberId가 우선 적용되어 조회됩니다.\n"
      operationId: get-like-products
      parameters:
      - name: mallNo
        in: query
        description: 몰 번호
        required: true
        schema:
          type: number
      - name: memberId
        in: query
        description: 회원 id
        required: true
        schema:
          type: string
      - name: memberNo
        in: query
        description: 회원 번호
        required: true
        schema:
          type: number
      - name: platform
        in: query
        description: "플랫폼 타입(PC, MOBILE_WEB, MOBILE)"
        required: true
        schema:
          type: string
      - name: hasTotalCount
        in: query
        description: "전체 상품 수 포함 여부(default: false)"
        required: true
        schema:
          type: boolean
      - name: hasMaxCouponAmt
        in: query
        description: "최대쿠폰 할인가격 포함여부(default: false)"
        required: true
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: 페이지 번호
        required: true
        schema:
          type: number
      - name: pageSize
        in: query
        description: 한 페이지당 노출 수
        required: true
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/like-products321647820'
              examples:
                get-like-products:
                  value: "{\"items\":[{\"productNo\":1,\"productName\":\"신규 상품\",\"\
                    productNameEn\":\"new product\",\"partnerName\":\"파트너명\",\"promotionText\"\
                    :\"\",\"salePrice\":0,\"immediateDiscountAmt\":0.0,\"immediateDiscountUnitType\"\
                    :\"WON\",\"additionDiscountAmt\":0,\"additionDiscountUnitType\"\
                    :\"WON\",\"minSalePrice\":0,\"maxSalePrice\":0,\"maxDiscountAmount\"\
                    :0,\"liked\":true,\"likeCount\":1,\"reviewRating\":0,\"totalReviewCount\"\
                    :1,\"deliveryConditionType\":null,\"saleCnt\":1,\"stockCnt\":1,\"\
                    mainStockCnt\":1,\"brandNo\":0,\"brandName\":null,\"brandNameEn\"\
                    :null,\"brandNameKo\":null,\"stickerInfos\":[{\"type\":\"TEXT\"\
                    ,\"label\":\"\",\"no\":1}],\"stickerLabels\":[\"\"],\"adult\"\
                    :false,\"productSalePeriodType\":null,\"saleStartYmdt\":\"2026-06-24T00:00:00\"\
                    ,\"saleEndYmdt\":\"2999-12-31T23:59:59\",\"saleStatusType\":\"\
                    ONSALE\",\"reservationData\":null,\"imageUrls\":[],\"listImageUrls\"\
                    :[],\"hasCoupons\":{\"product\":false,\"brand\":false,\"category\"\
                    :false,\"partner\":false,\"event\":false},\"maxCouponAmt\":0,\"\
                    couponDiscountAmt\":0,\"registerYmdt\":\"2026-06-24T09:58:23.349934797\"\
                    ,\"contentsIfPausing\":null,\"displayCategoryNos\":\"\",\"frontDisplayYn\"\
                    :false,\"urlDirectDisplayYn\":true,\"productManagementCd\":\"\
                    managementCd\",\"mainBestProductYn\":false,\"couponTag\":\"\"\
                    ,\"salePeriodType\":\"REGULAR\",\"optionValues\":[{\"mallProductNo\"\
                    :1,\"optionValue\":\"옵션밸류\",\"stockCnt\":1}],\"sectionProductStartYmdt\"\
                    :null,\"sectionProductEndYmdt\":null,\"hsCode\":\"hscode\",\"\
                    enableCoupons\":false}],\"totalCount\":10}"
  /naver-shopping/{sno}/config:
    post:
      tags:
      - Configuration
      summary: "[샵바이 전용] 네이버 쇼핑 인증키 설정하기"
      description: "## 부가설명 및 특이사항\n            \n네이버 쇼핑 인증키 설정하는 API입니다\n\n인증키는 중\
        복될 수 없으며, 최대 20자까지 입력 가능합니다.\n\n## 응답\n\n* 수정 성공: 204(NO_CONTENT)\n\n* 인증키\
        \ 중복 발생시: 409(CONFLICT)\n"
      operationId: post-naver-shipping-auth-key
      parameters:
      - name: sno
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/naver-shopping-sno-config823235906'
            examples:
              post-naver-shipping-auth-key:
                value: "{\"useYn\":\"Y\",\"commonAuthKey\":\"authKey\"}"
      responses:
        "204":
          description: "204"
  /products:
    get:
      tags:
      - Product
      summary: 판매자 관리코드로 상품 조회하기
      description: "## 부가설명 및 특이사항\n            \n판매자 관리코드로 상품 조회하는 API입니다\n\n* partnerNo\
        \ 파라미터는 자사파트너(쇼핑몰배송)의 경우에만 사용 가능합니다. 그 외의 경우(일반파트너사)는 사용 불가능합니다.\n\n* partnerNo를\
        \ 요청 파라미터에 넣는 경우, 해당 파트너사의 상품만 조회됩니다.\n\n* 단, 일반파트너사의 경우에는 partnerNo를 사용하지\
        \ 않아도 해당 파트너사의 상품만 조회합니다.\n    \n## [상품 금액 적용]\n### 기본 상품 판매가\n* 옵션이 없는 상품\
        \n  * 상품 등록 시, 기입한 판매가 그대로 적용\n* 옵션이 있는 상품\n  * 상품 등록 시, 기입한 판매가 + 옵션가 적용\n\
        \  * 예\\) A상품\\(판매가10000원\\)에 옵션 1\\(\\+0원\\) \\| 옵션2\\(\\+1000원\\) 인 경우\\\
        |\\, 옵션1 구매가격은 10000원 옵션2 구매가격은 11000원\n* 세트 상품\n  * 세트 상품의 옵션에 구성된 옵션(옵션있\
        는 상품들의 옵션으로 세트 옵션 구성)의 구매가격의 합\n  * 세트 옵션 구성이 달라질 수 있기때문에 당연히 옵션마다 가격 상이 함\
        \n\n### 즉시 할인\n* 옵션이 없는 상품\n  * 판매가에 즉시할인이 적용된 가격\n* 옵션있는 상품\\, 세트 상품\n  *\
        \ 판매가에 즉시할인이 적용된 가격 + 옵션가 가 최종 가격\n  * 예\\) A상품\\(판매가10000원\\)에 옵션 1\\(\\\
        +0원\\) \\| 옵션2\\(\\+1000원\\) \\| 옵션3\\(\\+2000원\\) 이고 즉시 할인율 10% 인 경우\\,\n\
        \    옵션별 가격은 판매가 \\*0.8 + 옵션가 이므로 따라서\n    옵션 1 의 판매가격은 9000원, 옵션 2의 판매가격은\
        \ 10000원, 옵션3의 판매가격은 11000원\n    \n\\* **옵션가격에서 즉시 할인이 적용 되는 것이 아님**\n\n###\
        \ 추가 할인\n* 할인 적용 순서 : 즉시 할인 -> 추가 할인\n* 즉시 할인 적용 된 판매가격에 추가 할인 적용\n  * 예)\
        \ 10000원 상품에 즉시 할인으로 1000원일 할인된다면, 9000원에서 추가 할인 설정에 따라 할인 적용\n  \n**즉시 할인\
        **과의 차이점이라면 적용되는 가격인데 즉시 할인의 경우 상품을 등록 할 때에 입력한 판매가 적용하지만, **추가 할인**은 실제 해\
        당 상품의 구매 가격에 적용 (상품등록 시에 판매가에 적용되는 것이 아닌 실제 구매 금액에 적용)\n\n* 예) A상품(판매가15000원\
        )\n\n    \\- 옵션 1\\(\\+0원\\) \\| 옵션2\\(\\+1000원\\) \\| 옵션3\\(\\+2000원\\)\n\
        \    \n    \\- 즉시 할인 : 5000원\n    \n    \\- 추가 할인 : 10%\n    \n    옵션 1 구매\
        가격 : ((15000-5000) + 0)\\*0.9 = 9000\n    \n    옵션 2 구매가격 : ((15000-5000)\
        \ + 1000)\\*0.9 = 9900\n    \n    옵션 2 구매가격 : ((15000-5000) + 2000)\\*0.9\
        \ = 10800"
      operationId: get-products-by-product-management-code
      parameters:
      - name: productManagementCd
        in: query
        description: 상품 관리 코드
        required: true
        schema:
          type: string
      - name: partnerNo
        in: query
        description: 파트너 번호(설명란 참조)^|0
        required: false
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products300259374'
              examples:
                get-products-by-product-management-code:
                  value: "{\"productDetailResponses\":[{\"mallProduct\":{\"mallProductNo\"\
                    :100000,\"productNo\":0,\"parentMallProductNo\":200000,\"mallNo\"\
                    :1,\"masterYn\":\"Y\",\"partnerNo\":1,\"categoryNo\":100,\"productName\"\
                    :\"상품명\",\"productType\":\"SINGLE\",\"classType\":\"DEFAULT\"\
                    ,\"mappingType\":\"SINGLE\",\"applyStatusType\":\"FINISHED\",\"\
                    saleStatusType\":\"READY\",\"saleSettingStatusType\":\"AVAILABLE_FOR_SALE\"\
                    ,\"groupType\":\"DELIVERY\",\"saleMethodType\":\"PURCHASE\",\"\
                    paymentMeansControlYn\":\"Y\",\"paymentMeans\":\"\",\"refundableYn\"\
                    :\"N\",\"refundableInfo\":{\"refundableYn\":\"N\",\"nonRefundableInfo\"\
                    :[\"CANCEL\"]},\"displayBrandNo\":0,\"brandNo\":111,\"adminNo\"\
                    :1,\"salePeriodType\":\"PERIOD\",\"saleStartYmdt\":\"2026-06-24\
                    \ 09:58:30\",\"saleEndYmdt\":\"2026-09-24 09:58:30\",\"manufactureYmdt\"\
                    :\"2026-06-24 09:58:30\",\"registerYmdt\":\"2026-06-24 09:58:30\"\
                    ,\"registerAdminNo\":1,\"updateYmdt\":\"2026-06-24 09:58:30\"\
                    ,\"updateAdminNo\":1,\"salePrice\":1,\"minBuyCnt\":1,\"maxBuyPersonCnt\"\
                    :1,\"maxBuyTimeCnt\":1,\"maxBuyDays\":1,\"maxBuyPeriodCnt\":1,\"\
                    immediateDiscountApplyPrice\":1,\"immediateDiscountValue\":0,\"\
                    immediateDiscountUnitType\":\"WON\",\"immediateDiscountPeriodYn\"\
                    :\"N\",\"immediateDiscountStartYmdt\":null,\"immediateDiscountEndYmdt\"\
                    :null,\"comparingPriceSite\":null,\"nonmemberPurchaseYn\":\"Y\"\
                    ,\"minorPurchaseYn\":\"Y\",\"unitName\":\"개\",\"unitNameType\"\
                    :\"P\",\"unitPrice\":10,\"pointRate\":1,\"accumulationRate\":1,\"\
                    accumulationUseYn\":\"Y\",\"accumulationLimitInfo\":{\"unitType\"\
                    :\"PERCENT\",\"limitValue\":1},\"certificationJson\":\"\",\"certificationType\"\
                    :\"TARGET\",\"placeOrigin\":\"원산지 정보\",\"placeOriginsYn\":\"Y\"\
                    ,\"expirationYmdt\":\"2026-06-24 09:58:30\",\"valueAddedTaxType\"\
                    :\"DUTY\",\"productManagementCd\":\"\",\"cartUseYn\":\"N\",\"\
                    cartOffPeriodYn\":\"N\",\"cartOffStartYmdt\":null,\"cartOffEndYmdt\"\
                    :null,\"commissionRateType\":\"CATEGORY\",\"commissionRate\":1,\"\
                    keyword\":\"키워드\",\"extraJson\":\"\",\"productNameEn\":\"영문 상품\
                    명\",\"hsCode\":\"\",\"eanCode\":\"\",\"promotionYn\":\"N\",\"\
                    additionalDiscountYn\":\"N\",\"couponYn\":\"N\",\"freeGiftYn\"\
                    :\"N\",\"promotionTextYn\":\"Y\",\"promotionText\":\"프로모션 시작\"\
                    ,\"promotionTextStartYmdt\":\"2026-06-24 09:58:30\",\"promotionTextEndYmdt\"\
                    :\"2026-06-24 09:58:30\",\"platformDisplayYn\":\"Y\",\"platformDisplayPcYn\"\
                    :\"Y\",\"platformDisplayMobileYn\":\"Y\",\"platformDisplayMobileWebYn\"\
                    :\"Y\",\"searchengineDisplayYn\":\"Y\",\"dutyInfo\":\"{\\\"categoryNo\\\
                    \":10000,\\\"categoryName\\\":\\\"카테고리명\\\",\\\"contents\\\":[]}\"\
                    ,\"contentHeader\":\"\",\"content\":\"\",\"contentFooter\":\"\"\
                    ,\"partnerChargeAmt\":1,\"frontDisplayYn\":\"Y\",\"urlDirectDisplayYn\"\
                    :\"Y\",\"deliveryYn\":\"Y\",\"shippingAreaType\":\"MALL_SHIPPING_AREA\"\
                    ,\"shippingAreaPartnerNo\":1,\"deliveryCombinationYn\":\"Y\",\"\
                    deliveryInternationalYn\":\"Y\",\"deliveryTemplateNo\":123123,\"\
                    deliveryCustomerInfo\":\"\",\"isOptionUsed\":true,\"addOptionImageYn\"\
                    :\"Y\",\"placeOriginSeq\":1,\"syncWmsYn\":\"Y\",\"deleteYn\":\"\
                    N\",\"tempSave\":\"\",\"itemYn\":\"Y\",\"memberGradeDisplayInfo\"\
                    :\"{\\\"check\\\":\\\"NONE\\\",\\\"info\\\":[]}\",\"memberGroupDisplayInfo\"\
                    :\"{\\\"check\\\":\\\"NONE\\\",\\\"info\\\":[]}\",\"registerSiteType\"\
                    :\"BPC_REGIST\",\"imageUrlMappingInfo\":{\"contentHeader\":{},\"\
                    content\":{},\"contentFooter\":{}},\"stickers\":[{\"stickerNo\"\
                    :1,\"label\":\"신상품\",\"deleteYn\":\"N\",\"stickerExposurePosition\"\
                    :\"SERVICE\",\"displayOrder\":1,\"stickerType\":\"TEXT\",\"imageUrl\"\
                    :\"//image.com\",\"mallNo\":1,\"displayPeriod\":{\"startDateTime\"\
                    :\"2026-06-23 09:58:30\",\"endDateTime\":\"2026-06-25 09:58:30\"\
                    }}],\"customPropertyValues\":[{\"propValueNo\":1,\"propValue\"\
                    :\"\",\"propName\":\"\",\"displayOrder\":1,\"registerYmdt\":\"\
                    2026-06-24 09:58:30\",\"registerAdminNo\":1,\"modifyYmdt\":\"\
                    2026-06-24 09:58:30\",\"modifyAdminNo\":1,\"deleteYn\":false}],\"\
                    displayCategories\":[{\"displayCategoryNo\":1,\"mallNo\":1,\"\
                    displayCategoryName\":\"전시카테고리명\",\"icon\":\"아이콘\",\"topImageContent\"\
                    :\"상단이미지 내용\",\"displayOrder\":1,\"displayYn\":\"Y\",\"deleteYn\"\
                    :\"N\",\"depth\":3}],\"partnerName\":\"1번 파트너\",\"mappingKey\"\
                    :\"\",\"reservationInfo\":{\"startDateTime\":\"2026-05-24 09:58:30\"\
                    ,\"endDateTime\":\"2026-06-23 09:58:30\",\"deliveryDateTime\"\
                    :\"2026-06-24 09:58:30\"},\"visibleSaleStatus\":\"ON_SALE\",\"\
                    liquorDelegationGuide\":\"주류 통신판매 위임고시입니다.\",\"relatedProductInfo\"\
                    :{\"configType\":\"DISPLAY_CATEGORY\",\"sortCriterion\":\"SALES_COUNT\"\
                    ,\"products\":[],\"mallNo\":1},\"manufacturer\":null,\"saleStartYmd\"\
                    :\"2026-06-24\",\"saleEndYmd\":\"2026-09-24\"},\"mallProductImages\"\
                    :[{\"mallImageNo\":1,\"productImageNo\":0,\"mallProductNo\":100000,\"\
                    imageUrl\":\"url.com\",\"originImageUrl\":\"origin-url.com\",\"\
                    mainYn\":\"Y\",\"displayOrder\":1,\"imageId\":\"\",\"mainImage\"\
                    :true}],\"mallProductInputs\":[{\"mallProductInputNo\":1,\"inputText\"\
                    :\"\",\"inputMatchingTypeLabel\":\"옵션별\",\"useYn\":\"N\",\"required\"\
                    :true}],\"mallProductOptionWebModels\":[{\"mallProductNo\":100000,\"\
                    mallNo\":1,\"stockNo\":1,\"optionType\":\"STANDARD\",\"optionNo\"\
                    :100000,\"mallOptionNo\":1000001,\"optionName\":\"옵션명\",\"optionValue\"\
                    :\"옵션값\",\"displayOrder\":1,\"addPrice\":10,\"commissionRate\"\
                    :1,\"saleStatusType\":\"AVAILABLE\",\"useYn\":\"Y\",\"optionManagementCd\"\
                    :\"\",\"extraManagementCd\":\"추가관리코드\",\"registerYmdt\":\"2026-06-24\
                    \ 09:58:30\",\"registerAdminNo\":1,\"updateYmdt\":\"2026-06-24\
                    \ 09:58:30\",\"updateAdminNo\":1,\"masterYn\":\"Y\",\"deleteYn\"\
                    :\"N\",\"stockCnt\":12334,\"deliveryWaitingStockCnt\":102,\"safetyStockCnt\"\
                    :200,\"reservationStockCnt\":100,\"saleCnt\":1000,\"weight\":10,\"\
                    purchasePrice\":10,\"sku\":null,\"editPriceYn\":null,\"editYn\"\
                    :\"N\",\"deletable\":\"Y\",\"slaveMallOptionNos\":[],\"itemYn\"\
                    :\"Y\",\"optionImages\":[{\"mallOptionImageNo\":1001,\"mallOptionNo\"\
                    :1010101,\"mallOptionImageUrl\":\"option-image-url.com\",\"originMallOptionImageUrl\"\
                    :\"option-origin-url.com\",\"mainYn\":\"Y\",\"displayOrder\":1,\"\
                    mallOptionImageId\":\"\"}],\"deleteOptionImageNoList\":[],\"mappingOptions\"\
                    :[{\"mallOptionNo\":1,\"itemMallProductNo\":1,\"itemMallOptionNo\"\
                    :1,\"sku\":\"\",\"itemStockNo\":1,\"itemStockCnt\":12334,\"itemSafetyStockCnt\"\
                    :200,\"itemDeliveryWaitingStockCnt\":102,\"productName\":\"상품명\
                    \",\"productManagementCd\":\"\",\"optionManagementCd\":\"\",\"\
                    originalMappingOptionSalePrice\":20,\"mappingCnt\":5,\"mappingOptionSalePrice\"\
                    :10,\"mappingDisplayOrder\":1,\"optionName\":\"옵션명\",\"optionValue\"\
                    :\"옵션 값\",\"applyStatusType\":\"FINISHED\",\"saleStatusType\"\
                    :\"READY\",\"saleStartYmdt\":\"2026-06-24 09:58:30\",\"saleEndYmdt\"\
                    :\"2026-06-24 09:58:30\",\"reservationStartYmdt\":\"2026-06-24\
                    \ 09:58:30\",\"reservationEndYmdt\":\"2026-06-24 09:58:30\",\"\
                    beforeOnsale\":false,\"deleteYn\":null,\"optionNameValuePair\"\
                    :\"옵션명 : 옵션 값\",\"optionSaleStatusType\":\"FINISHED\",\"optionReservationSaleStatusType\"\
                    :\"RESERVATION_FINISHED\"}],\"editMappingOptions\":false,\"standardOption\"\
                    :true,\"forcedSoldOut\":false,\"optionSelectType\":\"MULTI\",\"\
                    isRequiredOption\":false,\"edit\":false,\"representYn\":\"N\"\
                    }]}]}"
    put:
      tags:
      - Product
      summary: 상품 (옵션포함) 수정하기 - DEPRECATED. 2.0을 사용하세요
      description: " ## 부가설명 및 특이사항\n \n 상품 단건, 옵션 복수건 (등록 OR 수정)\n * 기본 템플릿 사용을 원\
        할 경우, 템플릿 타입 type 값만 입력하여 호출\n * 기본 템플릿 사용을 원하지 않는 경우, 템플릿 타입 type 값과 안내 내\
        용은 content에 넣어 전달\n * 단, 표준 카테고리가 \"주류\"인 경우 주류 기본 템플릿(=주류 통신판매 위임고시)이 필수이\
        므로 content 가 null 인 경우 주류 기본 템플릿 저장\n * 템플릿 타입 값의 경우, DELIVERY:배송, AFTER_SERVICE:A/S,\
        \ REFUND:환불, EXCHANGE:교환, DELEGATION_BY_LIQUOR:주류\n \n ## 판매방식, 판매수수료 Valid\
        \ Flow\n \n | SaleMethodType  | CommissionType     | possible | description\
        \               |\n | ----------------|--------------------|----------|---------------------------|\n\
        \ | PURCHASE        | NULL               | true     | purchasePrice 설정O  \
        \      |\n |                 | PRODUCT            | true     | purchasePrice\
        \ 설정O        |\n |                 | CATEGORY           | false    |     \
        \                      |\n |                 | PARTNER            | false\
        \    |                           |\n |                 | PURCHASE_PRICE  \
        \   | false    |                           |\n | CONSIGNMENT     | NULL  \
        \             | false    |                           |\n |               \
        \  | PRODUCT            | true     | commissionRate 설정O       |\n |      \
        \           | CATEGORY           | true     | 카테고리 수수료율로 자동 설정    |\n |  \
        \               | PARTNER            | true     | 계약된 파트너 수수료율로 자동 설정|\n |\
        \                 | PURCHASE_PRICE     | true     | purchasePrice 설정O    \
        \    |\n | NULL            | NULL               | true     | default 값 으로\
        \ 저장         |\n |                 | PRODUCT            | false    |     \
        \                      |\n |                 | CATEGORY           | false\
        \    |                           |\n |                 | PARTNER         \
        \   | false    |                           |\n |                 | PURCHASE_PRICE\
        \     | false    |                           |\n \n ## extraJson - 네이버 쇼핑\
        \ EP 및 네이버 페이 설정\n \n ## dutyInfo - 상품정보제공고시\n * dutyInfo.contents 항목에서 key값\
        에 아래 '상품정보고시항목 조회하기'의 dutyCategoryContents.displayOrder 요청시 dutyCategoryContents.contentName\
        \ 값으로 대치됩니다.\n * https://server-docs.shopby.co.kr/?url.primaryName=product/#/DUTY_CATEGORY/get-duty-categories\n\
        \ ex) \n * input : \"contents\": [{\"1\":\"상품상세 참조\"},{\"2\":\"상품상세 참조\"},{\"\
        3\":\"상품상세 참조\"},{\"4\":\"상품상세 참조\"},{\"5\":\"상품상세 참조\"},{\"6\":\"상품상세 참조\"\
        },{\"7\":\"상품상세 참조\"},{\"8\":\"상품상세 참조\"},{\"9\":\"상품상세 참조\"},{\"10\":\"상품\
        상세 참조\"},{\"11\":\"상품상세 참조\"},{\"12\":\"상품상세 참조\"}]}\"\n * output : \"contents\"\
        : [{\"품명\": \"상품상세 참조\"}, {\"KC 인증정보\": \"상품상세 참조\"}, {\"색상\": \"상품상세 참조\"\
        }, {\"구성품\": \"상품상세 참조\"}, {\"주요 소재\": \"상품상세 참조\"}, {\"제조자\": \"상품상세 참조\"\
        }, {\"제조국\": \"상품상세 참조\"}, {\"크기\": \"상품상세 참조\"}, {\"배송·설치비용\": \"상품상세 참조\"\
        }, {\"품질보증기준\": \"상품상세 참조\"}, {\"재공급 사유 및 하자 부위에 관한 정보\": \"상품상세 참조\"}, {\"\
        A/S 책임자와 전화번호\": \"상품상세 참조\"}]\n \n \n ### extraJson - 렌탈 상품의 경우 아래의 값을 추가\
        로 입력 받습니다.\n key                   | value                               \
        \ | description                                   |\n ---------------------\
        \ | ------------------------------------ | --------------------------------------------\
        \  |\n manufactureName       | String                               | 제조사명\
        \ - 필수 / 영문,숫자,한글 최대 15자 (공백 가능)    |\n productModelName      | String   \
        \                            | 제품모델명 - 필수 / 영문,숫자,한글 최대 20자  (공백 가능)  |\n\
        \ serialNumber          | String                               | 시리얼 번호 -\
        \ 선택 / 숫자,영문 최대 20자 (공백 불가)     |\n \n * PRO 의 경우, extraJson 에 네이버 쇼핑 EP 정\
        보 입력 가능\n * 도서 카테고리의 경우, 네이버 포인트 적립 불가\n \n ## 상품 안내 정보 (productGuides)\n\
        \ * 배송비 템플릿 type 값만 입력하여 호출 시 해당 파트너에 등록된 상품 안내 정보 템플릿 정보로 저장됩니다.\n * 템플릿이\
        \ 아닌 직접 정보를 입력하고 싶은 경우, type과 content 를 입력하여 호출합니다.\n \n ## extraInfo - 임의\
        로 활용 가능한 String 타입의 필드입니다. 최대 8000자까지 저장 가능하고, 요청 온 값을 조회 시에 그대로 반환합니다.\n\n\
        \ ## 필수/선택형 옵션\n * 해당 옵션을 사용할 경우 optionData.options[].optionType = REQUIRED\
        \ 의 옵션 타입 요청이 필요합니다.\n * 해당 옵션은 최소 1개 이상의 필수옵션이 필요합니다.\n * optionData.options[].isRequiredOption의\
        \ Boolean값을 통해 필수/선택 옵션 여부를 설정할 수 있습니다.\n * optionName은 `필수옵션` or `선택옵션`으로\
        \ 고정 되기 때문에 `필수옵션` or `선택옵션`으로 요청해주세요.\n\n ## [개발중] 단위가격 총량 계산 (unitName,\
        \ unitNameType, unitPrice)\n * v1.0은 `unitName`, `unitNameType`, `unitPrice`\
        \ 개별 필드를 사용합니다. (`unitPriceInfo` 객체 및 `baseQuantity`/`totalQuantity` 필드 미지\
        원)\n * 단위가격 총량 계산이 필요한 경우, unitName에 `\"기준단위개수|총단위개수\"` 형식으로 직접 입력합니다.\n *\
        \ 예시) unitName=\"1|10\", unitNameType=\"팩\", unitPrice=500 → 1팩당 500원, 총 10팩\
        \n * 기존 방식: unitName=\"10\" → 기준수량 10 (그대로 호환)\n * 주의: unitNameType, unitPrice\
        \ 중 하나라도 null이거나 unitPrice가 0인 경우, unitPriceInfo 전체가 null로 처리됩니다.\n * 구조화된\
        \ 요청이 필요한 경우 Version 2.0 API를 사용하세요. (price.unitPriceInfo에 unitBaseQuantity/unitTotalQuantity\
        \ 필드가 제공됩니다)"
      operationId: put-product
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-1116277168'
            examples:
              put-product:
                value: "{\"mallProductNo\":1011234,\"categoryNo\":1010002,\"displayCategoryNo\"\
                  :[11010101],\"representativeDisplayCategoryNo\":11010101,\"classType\"\
                  :\"DEFAULT\",\"groupType\":\"DELIVERY\",\"refundableYn\":\"N\",\"\
                  refundableInfo\":{\"refundableYn\":\"N\",\"nonRefundableInfo\":[\"\
                  CANCEL\"]},\"salePeriodType\":\"REGULAR\",\"saleStartYmdt\":\"2017-09-25\
                  \ 00:00:00\",\"saleEndYmdt\":\"2027-12-31 00:00:00\",\"manufactureYmdt\"\
                  :\"2017-09-25 00:00:00\",\"salePrice\":10000,\"minBuyCnt\":2,\"\
                  maxBuyPersonCnt\":0,\"maxBuyTimeCnt\":2,\"maxBuyDays\":0,\"maxBuyPeriodCnt\"\
                  :0,\"immediateDiscountValue\":5,\"immediateDiscountUnitType\":\"\
                  RATE\",\"immediateDiscountPeriodYn\":\"Y\",\"immediateDiscountStartYmdt\"\
                  :\"2017-09-25 00:00:00\",\"immediateDiscountEndYmdt\":\"2027-12-31\
                  \ 00:00:00\",\"nonmemberPurchaseYn\":\"N\",\"minorPurchaseYn\":\"\
                  N\",\"unitName\":\"10\",\"unitNameType\":\"NAME1\",\"unitPrice\"\
                  :1000,\"accumulationRate\":7,\"promotionYn\":\"Y\",\"expirationYmdt\"\
                  :\"2017-12-24 23:59:59\",\"productManagementCd\":\"38398564\",\"\
                  extraManagementCd\":null,\"cartUseYn\":\"N\",\"cartOffPeriodYn\"\
                  :\"N\",\"cartOffStartYmdt\":\"2017-09-25 00:00:00\",\"cartOffEndYmdt\"\
                  :\"2018-09-25 00:00:00\",\"keyword\":\"아디다스,티셔츠\",\"hsCode\":\"\
                  1003001\",\"platformDisplayYn\":\"Y\",\"platformDisplayPcYn\":\"\
                  Y\",\"platformDisplayMobileYn\":\"N\",\"platformDisplayMobileWebYn\"\
                  :\"N\",\"searchengineDisplayYn\":\"N\",\"dutyInfo\":\"{\\\"contents\\\
                  \": [{\\\"제품 소재\\\": \\\"면\\\"}, {\\\"색상\\\": \\\"빨강\\\"}, {\\\"\
                  치수\\\": \\\"100\\\"}, {\\\"제조자\\\": \\\"한국\\\"}, {\\\"제조국\\\": \\\
                  \"베트남\\\"}, {\\\"세탁방법 및 취급시 주의사항\\\": \\\"세탁기\\\"}, {\\\"제조연월\\\"\
                  : \\\"2017-08-03\\\"}, {\\\"품질보증기준\\\": \\\"1년\\\"}, {\\\"A/S 책임\
                  자와 전화번호\\\": \\\"010101010\\\"}], \\\"categoryNo\\\": \\\"1\\\"\
                  , \\\"categoryName\\\": \\\"의류\\\"}\",\"promotionText\":\"2017년\
                  \ 신상 나이키 신발입니다.\",\"promotionTextYn\":\"Y\",\"promotionTextStartYmdt\"\
                  :\"2017-09-25 00:00:00\",\"promotionTextEndYmdt\":\"2018-09-25 00:00:00\"\
                  ,\"partnerChargeAmt\":10,\"deliveryYn\":\"Y\",\"deliveryCombinationYn\"\
                  :\"N\",\"isOptionUsed\":true,\"productStockCnt\":14,\"brandNo\"\
                  :56,\"brandName\":\"\",\"optionData\":{\"options\":[{\"mallOptionNo\"\
                  :0,\"optionType\":\"COMBINATION\",\"optionName\":\"컬러\",\"optionValue\"\
                  :\"블랙\",\"order\":1,\"addPrice\":0,\"useYn\":\"Y\",\"optionManagementCd\"\
                  :\"RGB10001\",\"extraManagementCd\":null,\"stockCnt\":100,\"optionImages\"\
                  :[{\"imageUrl\":\"http://image.toast.com/aaaaahb/css/ncp_logo.png\"\
                  ,\"mainYn\":\"Y\",\"order\":1}],\"forcedSoldOut\":false,\"optionSelectType\"\
                  :\"MULTI\",\"purchasePrice\":null,\"isRequiredOption\":false}],\"\
                  inputs\":[{\"mallProductInputNo\":1235,\"inputText\":\"이니셜을 입력하세\
                  요.!!\",\"inputMatchingType\":\"OPTION\",\"useYn\":\"Y\",\"required\"\
                  :true}]},\"productImages\":[{\"mallImageNo\":4,\"imageUrl\":\"https://i.ytimg.com/vi/iRnyBdo1TAE/maxresdefault.jpg\"\
                  ,\"mainYn\":\"Y\",\"order\":1,\"imageUrlType\":\"IMAGE_URL\",\"\
                  isExternal\":false}],\"productListImage\":null,\"productListImageInfo\"\
                  :null,\"customProperty\":[{\"propName\":\"버전\",\"propValues\":[{\"\
                  propValue\":\"항목값명\"}]}],\"addOptionImageYn\":\"N\",\"extraJsonMap\"\
                  :{},\"productGuides\":[{\"templateNo\":null,\"content\":null,\"\
                  type\":\"AFTER_SERVICE\"}],\"supplierProductName\":\"매입처 상품명\",\"\
                  relatedProductInfo\":{\"configType\":\"SELECTED\",\"sortCriterion\"\
                  :\"CUSTOM_ORDER\",\"products\":[{\"productNo\":1029283,\"displayOrder\"\
                  :1}]},\"saleMethodType\":\"CONSIGNMENT\",\"purchasePrice\":1000,\"\
                  shippingAreaType\":null,\"shippingAreaPartnerNo\":null,\"useRestockNotiYn\"\
                  :\"N\",\"placeOriginInfo\":{\"placeOriginSeq\":90002,\"placeOriginsYn\"\
                  :\"N\",\"placeOrigin\":\"\"},\"urlShorteningYn\":\"N\",\"merchandiserNo\"\
                  :1,\"urlDirectDisplayYn\":\"N\",\"manufacturer\":null,\"productName\"\
                  :\"외부 상품 연동 샘플\",\"productNameEn\":\"External Product Example\"\
                  ,\"deliveryTemplateNo\":5,\"stickers\":[{\"stickerNo\":1,\"displayStartDateTime\"\
                  :\"2026-06-24 09:58:35\",\"displayEndDateTime\":\"2026-06-24 09:58:35\"\
                  }],\"extraInfo\":null,\"commissionRateType\":\"PURCHASE_PRICE\"\
                  ,\"commissionRate\":null,\"accumulationUseYn\":\"N\",\"accumulationLimitInfo\"\
                  :{\"unitType\":\"PERCENT\",\"limitValue\":1},\"valueAddedTaxType\"\
                  :\"DUTY\",\"contentHeader\":\"<p>상품상세 상단<p>\",\"content\":\"<p>상\
                  품상세본문, 이미지 tags</p>\",\"contentFooter\":\"<p>상품상세 하단</p>\",\"deliveryInternationalYn\"\
                  :\"N\",\"deliveryCustomerInfo\":\"드라이아이스와 같이 배송됩니다.\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-productNo-1357611564'
              examples:
                put-product:
                  value: "{\"mallProductNo\":1000023,\"mallProductOptionNos\":[23513323,23513324],\"\
                    mallProductInputNos\":[857742]}"
      deprecated: true
    post:
      tags:
      - Product
      summary: 상품(옵션포함) 등록하기 version 2.0
      description: " ## 부가설명 및 특이사항\n \n 상품 단건, 옵션 복수건 등록\n * 기본 템플릿 사용을 원할 경우, 템플\
        릿 타입 type 값만 입력하여 호출\n * 기본 템플릿 사용을 원하지 않는 경우, 템플릿 타입 type 값과 안내 내용은 content에\
        \ 넣어 전달\n * 단, 표준 카테고리가 \"주류\"인 경우 주류 기본 템플릿(=주류 통신판매 위임고시)이 필수이므로 content\
        \ 가 null 인 경우 주류 기본 템플릿 저장\n * 템플릿 타입 값의 경우, DELIVERY:배송, AFTER_SERVICE:A/S,\
        \ REFUND:환불, EXCHANGE:교환, DELEGATION_BY_LIQUOR:주류\n \n ## 플랜별 상품 등록 제한\n *\
        \ basic : 50 건\n * pro : 30,000 건\n * enterprise : 무제한\n \n ## 판매방식, 판매수수료\
        \ Valid Flow\n \n | SaleMethodType  | commissionRateType | possible | description\
        \               |\n | ----------------|--------------------|----------|---------------------------|\n\
        \ | PURCHASE        | NULL               | true     | purchasePrice 설정O  \
        \      |\n |                 | PRODUCT            | false    |           \
        \                |\n |                 | CATEGORY           | false    | \
        \                          |\n |                 | PARTNER            | false\
        \    |                           |\n |                 | PURCHASE_PRICE  \
        \   | false    |                           |\n | CONSIGNMENT     | NULL  \
        \             | false    |                           |\n |               \
        \  | PRODUCT            | true     | commissionRate 설정O       |\n |      \
        \           | CATEGORY           | true     | 카테고리 수수료율로 자동 설정    |\n |  \
        \               | PARTNER            | true     | 계약된 파트너 수수료율로 자동 설정|\n |\
        \                 | PURCHASE_PRICE     | true     | purchasePrice 설정O    \
        \    |\n | NULL            | NULL               | true     | default 값 으로\
        \ 저장         |\n |                 | PRODUCT            | false    |     \
        \                      |\n |                 | CATEGORY           | false\
        \    |                           |\n |                 | PARTNER         \
        \   | false    |                           |\n |                 | PURCHASE_PRICE\
        \     | false    |                           |\n \n ### extraJson - 렌탈 상품의\
        \ 경우 아래의 값을 추가로 입력 받습니다.\n | key                   | value               \
        \                 | description                                   |\n | ---------------------\
        \ | ------------------------------------ | --------------------------------------------\
        \  |\n | manufactureName       | String                               | 제조\
        사명 - 필수 / 영문,숫자,한글 최대 15자 (공백 가능)    |\n | productModelName      | String\
        \                               | 제품모델명 - 필수 / 영문,숫자,한글 최대 20자  (공백 가능)  |\n\
        \ | serialNumber          | String                               | 시리얼 번호\
        \ - 선택 / 숫자,영문 최대 20자 (공백 불가)     |\n \n ## dutyInfo - 상품정보제공고시\n * dutyInfo.contents\
        \ 항목에서 key값에 아래 '상품정보고시항목 조회하기'의 dutyCategoryContents.displayOrder 요청시 dutyCategoryContents.contentName\
        \ 값으로 대치됩니다.\n * https://server-docs.shopby.co.kr/?url.primaryName=product/#/DUTY_CATEGORY/get-duty-categories\n\
        \ ex) \n * input : \"contents\": [{\"1\":\"상품상세 참조\"},{\"2\":\"상품상세 참조\"},{\"\
        3\":\"상품상세 참조\"},{\"4\":\"상품상세 참조\"},{\"5\":\"상품상세 참조\"},{\"6\":\"상품상세 참조\"\
        },{\"7\":\"상품상세 참조\"},{\"8\":\"상품상세 참조\"},{\"9\":\"상품상세 참조\"},{\"10\":\"상품\
        상세 참조\"},{\"11\":\"상품상세 참조\"},{\"12\":\"상품상세 참조\"}]}\"\n * output : \"contents\"\
        : [{\"품명\": \"상품상세 참조\"}, {\"KC 인증정보\": \"상품상세 참조\"}, {\"색상\": \"상품상세 참조\"\
        }, {\"구성품\": \"상품상세 참조\"}, {\"주요 소재\": \"상품상세 참조\"}, {\"제조자\": \"상품상세 참조\"\
        }, {\"제조국\": \"상품상세 참조\"}, {\"크기\": \"상품상세 참조\"}, {\"배송·설치비용\": \"상품상세 참조\"\
        }, {\"품질보증기준\": \"상품상세 참조\"}, {\"재공급 사유 및 하자 부위에 관한 정보\": \"상품상세 참조\"}, {\"\
        A/S 책임자와 전화번호\": \"상품상세 참조\"}]\n \n ## 주문환불 가능 설정\n * refundableInfo.refundable\
        \ 값이 true이면 모두 환불가능, 환불불가능 세부 설정은 refundableInfo.nonRefundTypes 항목 확인해주세요\
        .\n \n ## 상품 안내 정보 (productGuides)\n * 배송비 템플릿 type 값만 입력하여 호출 시 해당 파트너에 등\
        록된 상품 안내 정보 템플릿 정보로 저장됩니다.\n * 템플릿이 아닌 직접 정보를 입력하고 싶은 경우, type과 content 를\
        \ 입력하여 호출합니다.\n \n ## extraInfo - 임의로 활용 가능한 String 타입의 필드입니다. 최대 8000자까지\
        \ 저장 가능하고, 요청 온 값을 조회 시에 그대로 반환합니다.\n \n ## 필수/선택형 옵션\n * 해당 옵션을 사용할 경우 optionData.options[].optionType\
        \ = REQUIRED 의 옵션 타입 요청이 필요합니다.\n * 해당 옵션은 최소 1개 이상의 필수옵션이 필요합니다.\n * option.options[].isRequiredOption의\
        \ Boolean값을 통해 필수/선택 옵션 여부를 설정할 수 있습니다.\n * optionName은 `필수옵션` or `선택옵션`으로\
        \ 고정 되기 때문에 `필수옵션` or `선택옵션`으로 요청해주세요.\n\n ## [개발중] 단위가격 총량 계산 (price.unitPriceInfo)\n\
        \ * `price.unitPriceInfo`에 `unitBaseQuantity`, `unitTotalQuantity` 필드가 추가되\
        었습니다.\n * 두 필드 모두 입력 시, 내부적으로 unitName이 `\"unitBaseQuantity|unitTotalQuantity\"\
        ` 형식으로 자동 변환됩니다.\n * 기존 `unitName` 필드만 사용하는 방식도 그대로 호환됩니다.\n * 예시) unitBaseQuantity=1,\
        \ unitTotalQuantity=10, unitNameType=\"팩\", unitPrice=500 → 1팩당 500원, 총 10팩\
        \n * 주의: unitTotalQuantity < unitBaseQuantity 인 경우 INVALID_UNIT_BASE_QUANTITY\
        \ 오류"
      operationId: post-product
      parameters:
      - name: version
        in: header
        description: API 버전^|2.0
        required: true
        schema:
          type: string
        example: "2.0"
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-1263807508'
            examples:
              post-product-v2:
                value: "{\"groupType\":\"DELIVERY\",\"classType\":\"DEFAULT\",\"saleMethodType\"\
                  :\"CONSIGNMENT\",\"standardCategoryNo\":1,\"displayCategoryNos\"\
                  :[1],\"representativeDisplayCategoryNo\":null,\"merchandiserNo\"\
                  :1,\"productName\":\"테스트 상품\",\"productNameEn\":\"product\",\"supplierProductName\"\
                  :\"매입처 상품명\",\"contentDetail\":{\"usesOptionImageInsteadOfContent\"\
                  :false,\"contentHeader\":\"상단 내용\",\"content\":\"상세 내용\",\"contentFooter\"\
                  :\"하단 내용\"},\"managementCode\":\"code\",\"extraManagementCode\"\
                  :null,\"price\":{\"salePrice\":10000,\"purchasePrice\":1000,\"partnerChargeAmt\"\
                  :0,\"commissionInfo\":{\"type\":\"PARTNER\",\"rate\":1},\"immediateDiscountInfo\"\
                  :{\"unitType\":\"PERCENT\",\"amount\":1,\"periodYn\":\"Y\",\"startYmdt\"\
                  :\"2026-06-24 09:58:31\",\"endYmdt\":\"2026-07-24 09:58:31\"},\"\
                  unitPriceInfo\":{\"unitName\":\"10\",\"unitNameType\":\"NAME1\"\
                  ,\"unitPrice\":10000,\"unitBaseQuantity\":null,\"unitTotalQuantity\"\
                  :null},\"accumulationRate\":1,\"accumulationUseYn\":\"N\",\"accumulationLimitInfo\"\
                  :{\"unitType\":\"PERCENT\",\"limitValue\":20},\"surtaxType\":\"\
                  DUTY\"},\"stockQuantity\":100,\"purchaseLimitQuantity\":{\"minBuyQuantity\"\
                  :10,\"maxBuyQuantityInfo\":{\"type\":\"PER_DAY\",\"maxBuyQuantity\"\
                  :100,\"maxBuyDays\":7}},\"display\":{\"platformDisplayInfo\":{\"\
                  isAll\":true,\"anyValues\":[]},\"searchEngineDisplayable\":true,\"\
                  guestPurchasable\":true,\"minorPurchasable\":true,\"onlyUrlAccessible\"\
                  :false,\"memberGroupDisplayInfo\":{\"check\":\"NONE\",\"info\":[]},\"\
                  memberGradeDisplayInfo\":{\"check\":\"ALL\",\"info\":[]}},\"image\"\
                  :{\"usesExternalImage\":true,\"images\":[{\"imageNo\":0,\"url\"\
                  :\"https://external.image.url/aabb\",\"isMain\":true,\"urlType\"\
                  :\"IMAGE_URL\",\"isExternal\":false}],\"listImage\":{\"imageNo\"\
                  :0,\"url\":\"https://external.image.url/aabb\",\"isMain\":true,\"\
                  urlType\":\"IMAGE_URL\",\"isExternal\":false}},\"hsCode\":\"hscode\"\
                  ,\"keywords\":[\"키워드1\",\"키워드2\"],\"salePeriodInfo\":{\"salePeriodType\"\
                  :\"PERIOD\",\"salePeriod\":{\"startYmdt\":\"2026-06-24 09:58:31\"\
                  ,\"endYmdt\":\"2026-08-24 09:58:31\"}},\"manufacturedDateTime\"\
                  :\"2026-06-24 09:58:31\",\"expirationDateTime\":\"2026-06-24 09:58:31\"\
                  ,\"placeOriginInfo\":{\"placeOriginSeq\":0,\"placeOriginsYn\":\"\
                  Y\",\"placeOrigin\":\"대한민국\"},\"dutyContent\":{\"categoryNo\":10,\"\
                  categoryName\":\"의류\",\"contents\":[]},\"productGuides\":[{\"templateNo\"\
                  :1,\"content\":\"배송 정보\",\"type\":\"DELIVERY\"}],\"usesRestockNotification\"\
                  :false,\"cartInfo\":{\"isAvailableCart\":true,\"unavailablePeriod\"\
                  :{\"startYmdt\":\"2026-06-24 09:58:31\",\"endYmdt\":\"2026-09-24\
                  \ 09:58:31\"}},\"refundableInfo\":{\"refundable\":false,\"nonRefundTypes\"\
                  :[\"RETURN\"]},\"brand\":{\"inputType\":\"NAME\",\"brandNoInfo\"\
                  :{\"brandNo\":0,\"displayBrandNo\":0},\"brandNameInfo\":{\"mainName\"\
                  :\"브랜드 명\",\"subName\":null}},\"optionType\":\"COMBINATION\",\"\
                  option\":{\"options\":[{\"optionNo\":10,\"optionName\":\"색상|사이즈\"\
                  ,\"optionValue\":\"블랙|s\",\"addPrice\":0,\"usable\":true,\"stockQuantity\"\
                  :100,\"managementCode\":\"\",\"extraManagementCode\":null,\"forcedSoldOut\"\
                  :false,\"purchasePrice\":0,\"images\":[{\"imageNo\":0,\"url\":\"\
                  https://image.url\",\"isMain\":true}],\"isRequiredOption\":false}],\"\
                  optionSelectType\":\"MULTI\",\"customerDemands\":[{\"customerDemandNo\"\
                  :1,\"content\":\"작성형 옵션을 입력하세요\",\"targetType\":\"OPTION\",\"required\"\
                  :false,\"usable\":true}],\"sets\":[]},\"delivery\":{\"usesDelivery\"\
                  :true,\"shippingAreaType\":\"PARTNER_SHIPPING_AREA\",\"shippingAreaPartnerNo\"\
                  :1,\"deliveryTemplateNo\":1,\"canDeliveryCombination\":true,\"canDeliveryInternational\"\
                  :false,\"deliveryCustomerInfo\":\"드라이아이스와 같이 배송됩니다.\"},\"marketing\"\
                  :{\"marketingPhraseInfo\":{\"marketingPhrase\":\"문구\",\"marketingDisplayPeriod\"\
                  :{\"startYmdt\":\"2026-06-24 09:58:31\",\"endYmdt\":\"2026-09-24\
                  \ 09:58:31\"}},\"isAvailablePromotion\":true},\"customProperties\"\
                  :[{\"property\":\"항목\",\"values\":[\"값1\",\"값2\"]}],\"stickers\"\
                  :[{\"stickerNo\":1,\"displayPeriod\":{\"startYmdt\":\"2026-06-24\
                  \ 09:58:31\",\"endYmdt\":\"2026-09-24 09:58:31\"}}],\"extraJson\"\
                  :{},\"relatedProductInfo\":{\"configType\":\"DISPLAY_CATEGORY\"\
                  ,\"sortCriterion\":\"LATEST_REGISTER_DATE\",\"productNos\":[1000011,1000022]},\"\
                  extraInfo\":null,\"urlShorteningYn\":\"N\",\"manufacturer\":null}"
              post-product:
                value: "{\"productName\":\"외부 상품 연동 샘플\",\"categoryNo\":1010002,\"\
                  displayCategoryNo\":[11010101],\"representativeDisplayCategoryNo\"\
                  :11010101,\"classType\":\"DEFAULT\",\"groupType\":\"DELIVERY\",\"\
                  refundableYn\":\"N\",\"refundableInfo\":{\"refundableYn\":\"N\"\
                  ,\"nonRefundableInfo\":[\"CANCEL\"]},\"salePeriodType\":\"REGULAR\"\
                  ,\"saleStartYmdt\":\"2017-09-25 00:00:00\",\"saleEndYmdt\":\"2027-12-31\
                  \ 00:00:00\",\"manufactureYmdt\":\"2017-09-25 00:00:00\",\"salePrice\"\
                  :10000,\"minBuyCnt\":2,\"maxBuyPersonCnt\":0,\"maxBuyTimeCnt\":2,\"\
                  maxBuyDays\":0,\"maxBuyPeriodCnt\":0,\"immediateDiscountValue\"\
                  :5,\"immediateDiscountUnitType\":\"RATE\",\"immediateDiscountPeriodYn\"\
                  :\"Y\",\"immediateDiscountStartYmdt\":\"2017-09-25 00:00:00\",\"\
                  immediateDiscountEndYmdt\":\"2027-12-31 00:00:00\",\"nonmemberPurchaseYn\"\
                  :\"N\",\"minorPurchaseYn\":\"N\",\"unitName\":\"10\",\"unitNameType\"\
                  :\"NAME1\",\"unitPrice\":1000,\"accumulationRate\":null,\"accumulationUseYn\"\
                  :\"N\",\"accumulationLimitInfo\":{\"unitType\":\"PERCENT\",\"limitValue\"\
                  :1},\"promotionYn\":\"Y\",\"expirationYmdt\":\"2017-12-24 23:59:59\"\
                  ,\"valueAddedTaxType\":\"DUTY\",\"productManagementCd\":\"38398564\"\
                  ,\"extraManagementCd\":null,\"cartUseYn\":\"N\",\"cartOffStartYmdt\"\
                  :\"2017-09-25 00:00:00\",\"cartOffEndYmdt\":\"2018-09-25 00:00:00\"\
                  ,\"keyword\":\"아디다스,티셔츠\",\"productNameEn\":\"External Product Example\"\
                  ,\"hsCode\":\"1003001\",\"platformDisplayYn\":\"Y\",\"platformDisplayPcYn\"\
                  :\"Y\",\"platformDisplayMobileYn\":\"N\",\"platformDisplayMobileWebYn\"\
                  :\"N\",\"searchengineDisplayYn\":\"N\",\"dutyInfo\":\"{\\\"contents\\\
                  \": [{\\\"제품 소재\\\": \\\"면\\\"}, {\\\"색상\\\": \\\"빨강\\\"}, {\\\"\
                  치수\\\": \\\"100\\\"}, {\\\"제조자\\\": \\\"한국\\\"}, {\\\"제조국\\\": \\\
                  \"베트남\\\"}, {\\\"세탁방법 및 취급시 주의사항\\\": \\\"세탁기\\\"}, {\\\"제조연월\\\"\
                  : \\\"2017-08-03\\\"}, {\\\"품질보증기준\\\": \\\"1년\\\"}, {\\\"A/S 책임\
                  자와 전화번호\\\": \\\"010101010\\\"}], \\\"categoryNo\\\": \\\"1\\\"\
                  , \\\"categoryName\\\": \\\"의류\\\"}\",\"contentHeader\":\"<p>상품상\
                  세 상단<p>\",\"content\":\"<p>상품상세본문, 이미지 tags</p>\",\"contentFooter\"\
                  :\"<p>상품상세 하단</p>\",\"promotionText\":\"2017년 신상 나이키 신발입니다.\",\"\
                  promotionTextYn\":\"Y\",\"promotionTextStartYmdt\":\"2017-09-25\
                  \ 00:00:00\",\"promotionTextEndYmdt\":\"2018-09-25 00:00:00\",\"\
                  partnerChargeAmt\":10,\"deliveryYn\":\"Y\",\"deliveryCombinationYn\"\
                  :\"N\",\"deliveryInternationalYn\":\"N\",\"deliveryCustomerInfo\"\
                  :\"드라이아이스와 같이 배송됩니다.\",\"isOptionUsed\":true,\"productStockCnt\"\
                  :14,\"brandNo\":56,\"brandName\":\"\",\"optionData\":{\"options\"\
                  :[{\"optionType\":\"COMBINATION\",\"optionName\":\"컬러\",\"optionValue\"\
                  :\"블랙\",\"order\":1,\"addPrice\":0,\"useYn\":\"Y\",\"optionManagementCd\"\
                  :\"RGB10001\",\"extraManagementCd\":null,\"stockCnt\":100,\"optionImages\"\
                  :[{\"imageUrl\":\"http://image.toast.com/aaaaahb/css/ncp_logo.png\"\
                  ,\"mainYn\":\"Y\",\"order\":1}],\"forcedSoldOut\":false,\"optionSelectType\"\
                  :\"MULTI\",\"purchasePrice\":0,\"isRequiredOption\":false}],\"inputs\"\
                  :[{\"inputText\":\"이니셜을 입력하세요.!!\",\"inputMatchingType\":\"OPTION\"\
                  ,\"useYn\":\"Y\",\"required\":true}]},\"productImages\":[{\"imageUrl\"\
                  :\"https://i.ytimg.com/vi/iRnyBdo1TAE/maxresdefault.jpg\",\"mainYn\"\
                  :\"Y\",\"order\":1,\"isExternal\":false,\"imageUrlType\":\"IMAGE_URL\"\
                  }],\"productListImage\":null,\"productListImageInfo\":{\"url\":\"\
                  \",\"isExternal\":false,\"imageUrlType\":\"IMAGE_URL\"},\"deliveryTemplateNo\"\
                  :5,\"customProperty\":[{\"propName\":\"버전\",\"propValues\":[{\"\
                  propValue\":\"항목값명\"}]}],\"addOptionImageYn\":\"N\",\"extraJsonMap\"\
                  :{},\"productGuides\":[{\"templateNo\":null,\"content\":null,\"\
                  type\":\"AFTER_SERVICE\"}],\"supplierProductName\":\"매입처 상품명\",\"\
                  manufacturer\":null,\"relatedProductInfo\":{\"configType\":\"SELECTED\"\
                  ,\"sortCriterion\":\"CUSTOM_ORDER\",\"products\":[{\"productNo\"\
                  :1029283,\"displayOrder\":1}]},\"saleMethodType\":\"CONSIGNMENT\"\
                  ,\"commissionRateType\":\"PURCHASE_PRICE\",\"commissionRate\":null,\"\
                  purchasePrice\":1000,\"shippingAreaType\":\"PARTNER_SHIPPING_AREA\"\
                  ,\"isRequiredJudgement\":true,\"useRestockNotiYn\":\"N\",\"placeOrigin\"\
                  :\"\",\"useOriginProductImageUrl\":false,\"stickers\":[{\"stickerNo\"\
                  :1,\"displayStartDateTime\":\"2026-06-24 09:58:35\",\"displayEndDateTime\"\
                  :\"2026-06-24 09:58:35\"}],\"extraInfo\":null,\"urlShorteningYn\"\
                  :\"N\",\"merchandiserNo\":null}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-productNo-1357611564'
              examples:
                post-product-v2:
                  value: "{\"mallProductNo\":1000023,\"mallProductOptionNos\":[23513323,23513324],\"\
                    mallProductInputNos\":[857742]}"
                post-product:
                  value: "{\"mallProductNo\":1000023,\"mallProductOptionNos\":[23513323,23513324],\"\
                    mallProductInputNos\":[857742]}"
  /products/by-stickers:
    get:
      tags:
      - Product
      summary: 스티커 번호로 상품 정보 조회하기
      description: "## 부가설명 및 특이사항\n            \n스티커 번호로 상품 정보를 조회하는 API입니다\n"
      operationId: get-product-by-sticker-nos
      parameters:
      - name: stickerNos
        in: query
        description: "스티커 번호(쉼표 구분)^|1,2"
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: "조회할 상품 개수(default: 10)^|10"
        required: false
        schema:
          type: number
      - name: searchAfter
        in: query
        description: 검색 기준 값(response의 lastId)^|10000002
        required: true
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-by-stickers-835861226'
              examples:
                get-product-by-sticker-nos:
                  value: "{\"totalCount\":2,\"totalPage\":1,\"contents\":[{\"productNo\"\
                    :10000001,\"productName\":\"상품1\",\"stickerNos\":[1,2]},{\"productNo\"\
                    :10000002,\"productName\":\"상품2\",\"stickerNos\":[1]}],\"lastId\"\
                    :\"2\"}"
  /products/changed:
    get:
      tags:
      - Product
      summary: 변경된 상품 번호 목록 조회
      description: |2-
         ## 부가설명 및 특이사항
        조회 기준시점을 기준으로 이후에 등록 / 수정된 상품번호 목록을 조회할 수 있습니다.<br />
        * 정렬순서(direction)을 설정하지 않는 경우 ASC(오름차순)이 적용됩니다.<br />
        * 정렬기준이 UPDATED_AT 일때 `재고변경이력 포함여부`가 사용 가능합니다.<br />
        * partnerNo 파라미터는 자사파트너(쇼핑몰배송)의 경우에만 사용 가능합니다. 그 외의 경우(일반파트너사)는 사용 불가능합니다.<br />
        * partnerNo를 요청 파라미터에 넣는 경우, 해당 파트너사의 상품만 조회됩니다.<br />
        * 단, 일반파트너사의 경우에는 partnerNo를 사용하지 않아도 해당 파트너사의 상품만 조회합니다.
         ## 검색 방식
        * 아래 두 가지 검색방식을 모두 지원합니다.
        * (기존) paging search : page 값 필수 (최초 조회 시 생략 가능)
        * (신규) keySet search : searchAfter 필수, 정렬기준이 REGISTERED_AT 일때만 사용가능. (최초 조회 시 생략 가능. response의 lastId 값 사용.)
      operationId: get-product-changed
      parameters:
      - name: asOf
        in: query
        description: 조회 기준시점^|yyyy-MM-dd HH:mm:ss
        required: true
        schema:
          type: string
      - name: sortBy
        in: query
        description: "정렬 기준 Enum: [ REGISTERED_AT: 등록일, UPDATED_AT: 수정일 ]^|REGISTERED_AT"
        required: true
        schema:
          type: string
      - name: direction
        in: query
        description: "정렬 방향 Enum: [ ASC: 오름차순, DESC: 내림차순 ]^|ASC"
        required: false
        schema:
          type: string
      - name: includingStockChanges
        in: query
        description: "재고변경이력 포함여부 (default: true, 정렬기준이 UPDATED_AT 일때만 적용가능)^|false"
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        description: "페이지 번호(default: 1)^|1"
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: 페이지 사이즈^|100
        required: true
        schema:
          type: number
      - name: searchAfter
        in: query
        description: 검색 기준 값(lastId)^|1
        required: false
        schema:
          type: string
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-changed1897605776'
              examples:
                get-product-changed:
                  value: "{\"totalCount\":1,\"totalPage\":1,\"contents\":[{\"productNo\"\
                    :1011023,\"registeredAt\":\"2020-12-11 08:49:52\",\"updatedAt\"\
                    :\"2020-12-12 15:12:43\"}],\"lastId\":\"\"}"
  /products/deleted:
    get:
      tags:
      - Product
      summary: 삭제된 상품 정보 조회하기
      description: "## 부가설명 및 특이사항\n            \n삭제된 상품 정보를 조회하는 API입니다\n\n* partnerNo\
        \ 파라미터는 자사파트너(쇼핑몰배송)의 경우에만 사용 가능합니다. 그 외의 경우(일반파트너사)는 사용 불가능합니다.\n\n* partnerNo를\
        \ 요청 파라미터에 넣는 경우, 해당 파트너사의 상품만 조회됩니다.\n\n* 단, 일반파트너사의 경우에는 partnerNo를 사용하지\
        \ 않아도 해당 파트너사의 상품만 조회합니다.\n\n* ## 검색 방식\n- 조회기간(startYmdt ~ endYmdt) 내에 삭제\
        된 상품만 조회합니다.\n- 단, 삭제된 상품 정보는 현재 시점 기준 최대 1년 이내인 데이터만 조회할 수 있습니다. \n"
      operationId: get-deleted-products
      parameters:
      - name: startYmdt
        in: query
        description: 조회기간 시작 범위^|2026-01-26 00:00:00
        required: true
        schema:
          type: string
      - name: endYmdt
        in: query
        description: 조회기간 종료 범위^|2026-03-26 00:00:00
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: "페이지 번호(default: 1)^|1"
        required: false
        schema:
          type: number
      - name: size
        in: query
        description: "페이지 사이즈(default: 10)^|10"
        required: false
        schema:
          type: number
      - name: partnerNo
        in: query
        description: 파트너 번호(설명란 참조)^|0
        required: false
        schema:
          type: number
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-deleted382191942'
              examples:
                get-deleted-products:
                  value: "{\"totalCount\":2,\"totalPage\":2,\"contents\":[{\"productNo\"\
                    :10000001,\"productName\":\"상품명\",\"deletedByAdminNo\":1,\"deletedYmdt\"\
                    :\"2026-06-24 09:58:35\"},{\"productNo\":10000002,\"productName\"\
                    :\"상품명\",\"deletedByAdminNo\":2,\"deletedYmdt\":\"2026-06-24 09:58:35\"\
                    }],\"lastId\":\"\"}"
  /products/extraInfo:
    get:
      tags:
      - Product
      summary: 추가정보 조회하기
      description: "## 부가설명 및 특이사항\n            \n상품번호로 추가정보를 조회하는 API입니다\n\n* 최대\
        \ 100개의 상품을 동시 조회 가능합니다.\n"
      operationId: get-product-extraInfos
      parameters:
      - name: productNos
        in: query
        description: "상품 번호(쉼표 구분)^|10000001,10000002"
        required: true
        schema:
          type: string
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-extraInfo-1123228438'
              examples:
                get-product-extraInfos:
                  value: "[{\"productNo\":10000001,\"extraInfo\":\"추가정보1\"},{\"productNo\"\
                    :10000002,\"extraInfo\":\"추가정보2\"}]"
  /products/guides:
    post:
      tags:
      - Product Guide
      summary: 상품 이용안내 템플릿 등록 및 수정
      description: |2

        상품 이용안내 템플릿을 신규 등록할 수 있습니다.<br />
        기존에 등록된 안내 템플릿이 존재하는 경우 수정된 내용으로 변경됩니다.<br />

        ### 템플릿 타입
        - DELIVERY: 배송안내
        - AFTER_SERVICE: AS안내
        - REFUND: 환불안내
        - EXCHANGE: 교환안내
        - DELEGATION_BY_LIQUOR: 주류 통신판매 명령 위임고시
      operationId: products-guide
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-guides-1895346613'
            examples:
              products-guide:
                value: "{\"partnerNo\":1,\"type\":\"DELIVERY\",\"content\":\"content\"\
                  }"
      responses:
        "204":
          description: "204"
  /products/options:
    put:
      tags:
      - Product
      summary: 옵션(구매자작성형) 수정하기
      description: "## 부가설명 및 특이사항\n            \n옵션(구매자작성형) 수정하는 API입니다\n\nmallOptionNo가\
        \ 있으면 수정 0이면 등록, 사용안함은 use_yn = 'N’으로 업데이트 해야합니다.\n"
      operationId: put-product-options
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-options203128518'
            examples:
              put-product-options:
                value: "{\"mallProductNo\":100000,\"options\":[{\"item\":true,\"optionType\"\
                  :\"COMBINATION\",\"optionName\":\"색상|사이즈\",\"optionValue\":\"빨강\
                  |XL\",\"order\":1,\"addPrice\":0,\"useYn\":\"Y\",\"optionManagementCd\"\
                  :\"\",\"extraManagementCd\":\"추가관리코드\",\"stockCnt\":0,\"optionImages\"\
                  :[{\"imageUrl\":\"http://image.toast.com/aaaaahb/css/ncp_logo.png\"\
                  ,\"mainYn\":\"Y\",\"order\":1}],\"mallOptionNo\":1000001,\"forcedSoldOut\"\
                  :false,\"optionSelectType\":\"MULTI\"}],\"inputs\":[{\"mallProductInputNo\"\
                  :1,\"inputText\":\"\",\"inputMatchingType\":\"OPTION\",\"useYn\"\
                  :\"Y\",\"required\":true}]}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-options507151595'
              examples:
                put-product-options:
                  value: "{\"mallProductNo\":100000,\"mallProductOptionNos\":[1000001],\"\
                    mallProductInputNos\":[1]}"
  /products/partial:
    put:
      tags:
      - Product
      summary: "상품 부분(판매상태, 전시상태, 품절처리, 옵션) 수정하기"
      description: "## 부가설명 및 특이사항\n            \n상품 수정하는 API입니다\n\n상품 상태를 수정합니다(판\
        매상태, 전시상태 변경 API, 품절처리 등)\n\nrequest 에 옵션번호가 있을 경우 옵션번호로, 옵션번호가 없고 옵션관리코드가\
        \ 있는 경우에는 옵션관리코드가 동일한 옵션을 수정하게 됩니다.\n\n옵션번호 옵션관리코드는 변경대상이 아닙니다.\n"
      operationId: put-product-partial
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-partial1135875633'
            examples:
              put-product-partial:
                value: "{\"mallProductNo\":10238573,\"saleStatus\":{\"saleStatusType\"\
                  :\"PROHIBITION\",\"display\":true,\"soldout\":false},\"price\":{\"\
                  salePrice\":10000,\"unitPrice\":2000},\"options\":[{\"mallOptionNo\"\
                  :102366,\"managementCd\":\"ms3924\",\"addPrice\":2000,\"stockCnt\"\
                  :10,\"forcedSoldOut\":false}]}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-productNo-1357611564'
              examples:
                put-product-partial:
                  value: "{\"mallProductNo\":1000023,\"mallProductOptionNos\":[23513323,23513324],\"\
                    mallProductInputNos\":[857742]}"
  /products/required-properties:
    get:
      tags:
      - Required Property
      summary: 필수 항목 조회하기
      description: "## 부가설명 및 특이사항\n            \n필수 항목으로 설정한 목록을 조회하는 API 입니다.\n"
      operationId: get-required-properties
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-required-properties-541064860'
              examples:
                get-required-properties:
                  value: "{\"mallNo\":6458,\"requiredProperties\":[\"brand\",\"displayCategory\"\
                    ]}"
  /products/reservation-infos:
    get:
      tags:
      - Product
      summary: 상품 번호 리스트로 예약배송 정보 벌크 조회
      description: 상품 번호 리스트를 이용하여 예약배송 정보를 벌크 조회하는 API입니다. 예약배송 정보가 존재하는 상품만 응답에
        포함됩니다.
      operationId: get-reservation-infos-by-product-nos
      parameters:
      - name: productNos
        in: query
        description: "상품 번호(쉼표 구분, 최대 100개)^|1,2,3"
        required: true
        schema:
          type: string
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-reservation-infos339129754'
              examples:
                get-reservation-infos-by-product-nos:
                  value: "[{\"productNo\":1,\"reservationStartYmdt\":\"2026-06-24\
                    \ 09:58:30\",\"reservationEndYmdt\":\"2026-07-01 09:58:30\",\"\
                    reservationDeliveryYmdt\":\"2026-07-08 09:58:30\",\"reservationStockCnt\"\
                    :100},{\"productNo\":2,\"reservationStartYmdt\":\"2026-06-24 09:58:30\"\
                    ,\"reservationEndYmdt\":\"2026-07-01 09:58:30\",\"reservationDeliveryYmdt\"\
                    :\"2026-07-08 09:58:30\",\"reservationStockCnt\":50}]"
  /products/sale-agreements:
    put:
      tags:
      - Product
      summary: 상품 판매합의 승인/거절하기
      description: "## 부가설명 및 특이사항\n            \n상품 합의판매 승인/거절하는 API입니다\n\n합의판매 승\
        인/거절 가능 최대 상품 수: 50개\n\nmessage 내용에 따라 상품 정보 확인 및 수정해 주세요 \n 아래는 메시지 내용의 일\
        부 입니다.\n\n* 상품의 판매합의정보가 존재하지 않습니다.\n\n* 판매합의진행 상태가 아닙니다.\n"
      operationId: put-sale-agreement
      parameters:
      - name: systemKey
        in: header
        description: "\n 시스템 키 (외부시스템 연동을 위한 server API 호출 키)\n - 발급경로: 워크스페이스> 셀러\
          어드민> 신규 앱(App) 등록 시 수정페이지에서 확인가능 \n - 앱 기준으로 systemKey 발급됨\n^|test-system-key"
        required: true
        schema:
          type: string
        example: czFERzFSRGZQY3hwZjQxZTNZd2NTZz09
      - name: Authorization
        in: header
        description: "\n \n 인증토큰 (Bearer 전달받은 토큰)\n \n - 형식: Bearer + 발급받은 access_token\n\
          \n - 발급경로: POST /auth/token 또는 POST /auth/token/long-lived 의 응답 값으로 내려온\
          \ access_token\n(nullable)^|Bearer ABCDERAdjflaskjdfosiaetlkfs"
        required: false
        schema:
          type: string
      - name: mallKey
        in: header
        description: " 외부 API 연동키 (외부시스템연동 코드)\n \n ※ server API 호출하는 기존 방식으로, 향후\
          \ fade out될 수 있습니다.<br />\n\n Authorization을 입력을 통한 serverAPI 호출방식 권장드립니\
          다.<br />\n\n (Authorization 입력했을 경우, mallKey는 null로 보내시길 바랍니다.)<br />\n\n\
          \n (nullable)^|각 어드민에서 복사된 값"
        required: false
        schema:
          type: string
        example: QUZjUHlHV0JtdUFrSWVyUmhnRUFTcUt1SzR3ckFRSk0
      - name: version
        in: header
        description: API 버전^|1.0
        required: true
        schema:
          type: string
        example: "1.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products-sale-agreements-1087821627'
            examples:
              put-sale-agreement:
                value: "{\"productNos\":[1,2,3],\"isConfirm\":true,\"reason\":\"판매\
                  합의 거절 사유\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/products-sale-agreements171660186'
              examples:
                put-sale-agreement:
                  value: "{\"totalCount\":3,\"successProductNos\":[1,2],\"failures\"\
                    :[{\"productNo\":3,\"message\":\"판매합의진행 상태가 아닙니다.\"}]}"
  /products/search:
    get:
      tags:
      - Product
      summary: 상품 검색하기
      description: "## 부가설명 및 특이사항\n            \n상품 검색하는 API입니다\n\n* partnerNo 파라\
        미터는 자사파트너(쇼핑몰배송)의 경우에만 사용 가능합니다. 그 외의 경우(일반파트너사)는 사용 불가능합니다.\n\n* partnerNo를\
        \ 요청 파라미터에 넣는 경우, 해당 파트너사의 상품만 조회됩니다.\n\n* 단, 일반파트너사의 경우에는 partnerNo를 사용하지\
        \ 않아도 해당 파트너사의 상품만 조회합니다.\n\n검색 방식\n\n* 아래 두 가지 검색방식을 모두 지원합니다.\n\n* (기존)\
        \ paging search : page 값 필수 (최초 조회 시 생략 가능)\n\n* (신규) keySet search : searchAfter\
        \ 필수 (최초 조회 시 생략 가능. response의 lastId 값 사용.)\n    \n## [상품 금액 적용]\n### 기본\
        \ 상품 판매가\n* 옵션이 없는 상품\n  * 상품 등록 시, 기입한 판매가 그대로 적용\n* 옵션이 있는 상품\n  * 상품 등록\
        \ 시, 기입한 판매가 + 옵션가 적용\n  * 예\\) A상품\\(판매가10000원\\)에 옵션 1\\(\\+0원\\) \\| 옵션\
        2\\(\\+1000원\\) 인 경우\\|\\, 옵션1 구매가격은 10000원 옵션2 구매가격은 11000원\n* 세트 상품\n  *\
        \ 세트 상품의 옵션에 구성된 옵션(옵션있는 상품들의 옵션으로 세트 옵션 구성)의 구매가격의 합\n  * 세트 옵션 구성이 달라질 수\
        \ 있기때문에 당연히 옵션마다 가격 상이 함\n\n### 즉시 할인\n* 옵션이 없는 상품\n  * 판매가에 즉시할인이 적용된 가격\n\
        * 옵션있는 상품\\, 세트 상품\n  * 판매가에 즉시할인이 적용된 가격 + 옵션가 가 최종 가격\n  * 예\\) A상품\\(판매\
        가10000원\\)에 옵션 1\\(\\+0원\\) \\| 옵션2\\(\\+1000원\\) \\| 옵션3\\(\\+2000원\\) 이고\
        \ 즉시 할인율 10% 인 경우\\,\n    옵션별 가격은 판매가 \\*0.8 + 옵션가 이므로 따라서\n    옵션 1 의 판매가\
        격은 9000원, 옵션 2의 판매가격은 10000원, 옵션3의 판매가격은 11000원\n    \n\\* **옵션가격에서 즉시 할인이\
        \ 적용 되는 것이 아님**\n\n### 추가 할인\n* 할인 적용 순서 : 즉시 할인 -> 추가 할인\n* 즉시 할인 적용 된 판매\
        가격에 추가 할인 적용\n  * 예) 10000원 상품에 즉시 할인으로 1000원일 할인된다면, 9000원에서 추가 할인 설정에 따라\
        \ 할인 적용\n  \n**즉시 할인**과의 차이점이라면 적용되는 가격인데 즉시 할인의 경우 상품을 등록 할 때에 입력한 판매가 적용\
        하지만, **추가 할인**은 실제 해당 상품의 구매 가격에 적용 (상품등록 시에 판매가에 적용되는 것이 아닌 실제 구매 금액에 적용\
        )\n\n* 예) A상품(판매가15000원)\n\n    \\- 옵션 1\\(\\+0원\\) \\| 옵션2\\(\\+1000원\\)\
        \ \\| 옵션3\\(\\+2000원\\)\n    \n    \\- 즉시 할인 : 5000원\n    \n    \\- 추가 할인\
        \ : 10%\n    \n    옵션 1 구매가격 : ((15000-5000) + 0)\\*0.9 = 9000\n    \n   \
        \ 옵션 2 구매가격 : ((15000-5000) + 1000)\\*0.9 = 9900\n    \n    옵션 2 구매가격 : ((15000-5000)\
        \ + 2000)\\*0.9 = 10800"
      operationId: get-product-search
[...]
